{{#if this.submit.isSuccess}}
	<Ascua::Modal class="custom" @onClose={{this.submit.reset}}>
		<strong>Thank you</strong> for registering your interest! We can't wait to show you more about how BrandSafe works. Check your email inbox for communications from us.
		<br><br>
		Tobie
		<br>
		Founder, BrandSafe
	</Ascua::Modal>
{{/if}}

<contact-us>

	<form {{on "submit" this.submit.run}}>
		<Input @value={{this.name}} placeholder="Name" />
		<Input @value={{this.email}} placeholder="Email address" />
		<Input @value={{this.phone}} placeholder="Phone number" />
		<Textarea @value={{this.message}} placeholder="Message" @rows={{5}} resize="none" />
		<button type="submit" {{on "click" this.submit.run}}>Get back to me</button>
	</form>

	{{#if this.submit.isFailure}}
		<div class="error">
			Please complete the form.
		</div>
	{{/if}}

</contact-us>