{{#if (begs-with @link "https://")}}
	<a href={{@link}} rel="noopener noreferrer" target="_blank" ...attributes>{{@text}}</a>
{{else}}
	<LinkTo @route={{@link}} selected={{eq @link (route-name)}} ...attributes>{{@text}}</LinkTo>
{{/if}}