<header>

	<content>

		<div>
			<LinkTo @route="index" class="logo"></LinkTo>
		</div>

		<space></space>

		<Header::Links>

			<Header::Links::Item @link="index" @text="Home" />

			<Header::Links::Item @link="install" @text="Install" />

			<Header::Links::Item @link="community" @text="Community" />

			<Header::Links::Drop @text="Product" @selected={{or (eq (route-name) "why") (eq (route-name) "features") (begs-with (route-name) "usecase")}}>
				<main>
					<Header::Links::Drop::Item @link="why" @text="Why SurrealDB?" @desc="Understand why SurrealDB is the ultimate cloud database." />
					<Header::Links::Drop::Item @link="features" @text="Features" @desc="Get a detailed overview of all of SurrealDB's technical features." />
					<Header::Links::Drop::Item @link="usecase.jamstack" @text="Jamstack apps" @desc="See why SurrealDB is perfect for Jamstack, with SurrealQL." />
					<Header::Links::Drop::Item @link="usecase.serverless" @text="Serverless apps" @desc="See how SurrealDB is the perfect database for serverless apps." />
				</main>
			</Header::Links::Drop>

			<Header::Links::Drop @text="Learn" @selected={{or (begs-with (route-name) "docs") (eq (route-name) "roadmap")}}>
				<main>
					<Header::Links::Drop::Item @link="docs" @text="Documentation" @desc="An in-depth look at every aspect of SurrealDB: installation, setup, data types, querying, connectivity, and advanced functionality.">
						<i class="fal fa-book"></i>
					</Header::Links::Drop::Item>
					<Header::Links::Drop::Item @link="roadmap" @text="Roadmap" @desc="See what we have planned for SurrealDB, and see the features and functionality which has already been implemented.">
						<i class="fal fa-road"></i>
					</Header::Links::Drop::Item>
				</main>
				<subs>
					<Header::Links::Drop::Item @link="blog" @text="Blog">
						<i class="fal fa-blog"></i>
					</Header::Links::Drop::Item>
					<Header::Links::Drop::Item @link={{url "github"}} @text="GitHub">
						<i class="fab fa-github"></i>
					</Header::Links::Drop::Item>
					<Header::Links::Drop::Item @link={{url "twitter"}} @text="Twitter">
						<i class="fab fa-twitter"></i>
					</Header::Links::Drop::Item>
					<Header::Links::Drop::Item @link={{url "linkedin"}} @text="LinkedIn">
						<i class="fab fa-linkedin"></i>
					</Header::Links::Drop::Item>
					<Header::Links::Drop::Item @link={{url "dev"}} @text="Dev">
						<i class="fab fa-dev"></i>
					</Header::Links::Drop::Item>
					<Header::Links::Drop::Item @link={{url "youtube"}} @text="YouTube">
						<i class="fab fa-youtube"></i>
					</Header::Links::Drop::Item>
					<Header::Links::Drop::Item @link={{url "discord"}} @text="Discord">
						<i class="fab fa-discord"></i>
					</Header::Links::Drop::Item>
					<Header::Links::Drop::Item @link={{url "stackoverflow"}} @text="Stack Overflow">
						<i class="fab fa-stack-overflow"></i>
					</Header::Links::Drop::Item>
				</subs>
			</Header::Links::Drop>

			<Header::Links::Item @link="docs" @text="Docs" />

			<Header::Links::Item @link="blog" @text="Blog" />

			<Button::Thinner @link={{url "github"}}>
				<i class="fal fa-star"></i> <span>Star us on GitHub</span>
			</Button::Thinner>

			<Signup @text="Join cloud waitlist" />

		</Header::Links>

		<Sidebar::Menu @type="over" />

	</content>

</header>