<layout-boxes-item tick={{@tick}} ...attributes>

	{{#if @image}}
		<pic><img src={{@image}} alt={{@title}}></pic>
	{{/if}}

	{{#if (or @stamp @title @label @text (has-block))}}
		<div>
			{{#if @stamp}}<p>{{@stamp}}</p>{{/if}}
			{{#if @title}}<h3>{{@title}}</h3>{{/if}}
			{{#if @label}}<h4>{{@label}}</h4>{{/if}}
			{{#if @text}}<p>{{@text}}</p>{{/if}}
			{{yield}}
		</div>
	{{/if}}

</layout-boxes-item>