<footer ...attributes>
	<content>
		<upper>
			<div>
				<LinkTo @route="index" class="logo"></LinkTo>
				<p>With an SQL-style query language, real-time queries with highly-efficient related data retrieval, advanced security permissions for multi-tenant access, and support for performant analytical workloads, SurrealDB is the next generation serverless database.</p>
				<p>
					<Link @link={{url "github"}}>
						<Ascua::Tooltip @side="n" @show="hover" @hide="hover">
							Follow us on GitHub
						</Ascua::Tooltip>
						<i class="fab fa-github"></i>
					</Link>
					<Link @link={{url "twitter"}}>
						<Ascua::Tooltip @side="n" @show="hover" @hide="hover">
							Follow SurrealDB on Twitter
						</Ascua::Tooltip>
						<i class="fab fa-twitter"></i>
					</Link>
					<Link @link={{url "linkedin"}}>
						<Ascua::Tooltip @side="n" @show="hover" @hide="hover">
							Connect with us on LinkedIn
						</Ascua::Tooltip>
						<i class="fab fa-linkedin"></i>
					</Link>
					<Link @link={{url "youtube"}}>
						<Ascua::Tooltip @side="n" @show="hover" @hide="hover">
							Visit our Youtube channel
						</Ascua::Tooltip>
						<i class="fab fa-youtube"></i>
					</Link>
					<Link @link={{url "discord"}}>
						<Ascua::Tooltip @side="n" @show="hover" @hide="hover">
							Join our Discord community
						</Ascua::Tooltip>
						<i class="fab fa-discord"></i>
					</Link>
					<Link @link={{url "dev"}}>
						<Ascua::Tooltip @side="n" @show="hover" @hide="hover">
							Join our DEV community
						</Ascua::Tooltip>
						<i class="fab fa-dev"></i>
					</Link>
					<Link @link={{url "stackoverflow"}}>
						<Ascua::Tooltip @side="n" @show="hover" @hide="hover">
							Ask questions on Stack Overflow
						</Ascua::Tooltip>
						<i class="fab fa-stack-overflow"></i>
					</Link>
					<Link @link={{url "docker"}}>
						<Ascua::Tooltip @side="n" @show="hover" @hide="hover">
							Find SurrealDB on Docker
						</Ascua::Tooltip>
						<i class="fab fa-docker"></i>
					</Link>
				</p>
				<Icon />
			</div>
		</upper>
		<links>
			<Footer::Links>
				<Footer::Links::Name @text="Product" />
				<Footer::Links::Item @link="docs" @text="Documentation" />
				<Footer::Links::Item @link="why" @text="Why" />
				<Footer::Links::Item @link="install" @text="Install" />
				<Footer::Links::Item @link="features" @text="Features" />
				<Footer::Links::Item @link="releases" @text="Releases" />
				<Footer::Links::Item @link="roadmap" @text="Roadmap" />
				<Footer::Links::Status @text="Status" />
			</Footer::Links>
			<Footer::Links>
				<Footer::Links::Name @text="Community" />
				<Footer::Links::Item @link={{url "github"}}>
					<i class="fab fa-github"></i> <span>GitHub</span>
				</Footer::Links::Item>
				<Footer::Links::Item @link={{url "twitter"}}>
					<i class="fab fa-twitter"></i> <span>Twitter</span>
				</Footer::Links::Item>
				<Footer::Links::Item @link={{url "linkedin"}}>
					<i class="fab fa-linkedin"></i> <span>LinkedIn</span>
				</Footer::Links::Item>
				<Footer::Links::Item @link={{url "youtube"}}>
					<i class="fab fa-youtube"></i> <span>YouTube</span>
				</Footer::Links::Item>
				<Footer::Links::Item @link={{url "discord"}}>
					<i class="fab fa-discord"></i> <span>Discord</span>
				</Footer::Links::Item>
				<Footer::Links::Item @link={{url "dev"}}>
					<i class="fab fa-dev"></i> <span>Dev</span>
				</Footer::Links::Item>
				<Footer::Links::Item @link={{url "stackoverflow"}}>
					<i class="fab fa-stack-overflow"></i> <span>Stack Overflow</span>
				</Footer::Links::Item>
			</Footer::Links>
			<div></div>
			<Footer::Links>
				<Footer::Links::Name @text="Legal" />
				<Footer::Links::Item @link="legal.privacy" @text="Privacy policy" />
				<Footer::Links::Item @link="legal.cookies" @text="Cookies policy" />
				<Footer::Links::Item @link="legal.security" @text="Security policy" />
				<Footer::Links::Item @link="license" @text="License FAQs" />
				<Footer::Links::Item @link="/.well-known/security.txt" @text="security.txt" />
			</Footer::Links>
			<Footer::Links>
				<Footer::Links::Name @text="About" />
				<Footer::Links::Item @link="about" @text="About us" />
				<Footer::Links::Item @link="careers" @text="Careers" />
				<Footer::Links::Item @link="community" @text="Community" />
				<Footer::Links::Item @link="opensource" @text="Open source" />
				<Footer::Links::Item @link="blog" @text="Blog" />
				<Footer::Links::Item @link="media" @text="Media" />
				<Footer::Links::Item @link="press" @text="Press" />
				<Footer::Links::Item @link="store" @text="Store" />
			</Footer::Links>
		</links>
		<lower>
			<img src="/static/img/assets/poweredby/light.svg" alt="poweredby-surrealdb-light" />
			<p>
				Copyright &copy; SurrealDB Ltd.
				<br>
				Registered in England and Wales, no. 13615201
				<br>
				Registered address: Civvals, 50 Seymour Street, London, W1H 7JG
				<br>
			</p>
		</lower>
	</content>
</footer>