<a {{on "click" (fn (mut this.show) true)}} button ...attributes>
	<div>
		{{#if (has-block)}}
			{{yield}}
		{{else if @text}}
			{{@text}}
		{{else}}
			Join the SurrealDB newsletter
		{{/if}}
	</div>
</a>

{{#if this.show}}

	<Ascua::Modal @onClose={{fn (mut this.show) false}}>

		<Modal::Close @close={{fn (mut this.show) false}} />

		{{#if this.done}}
			Thank you for registering for the <img inline src="/static/img/text.svg" alt="SurrealDB" /> newsletter! Check your email inbox for communications from us, and make sure to whitelist <code>surrealdb.com</code> in your email inbox.
			<br><br>
			Tobie
			<br>
			Founder, SurrealDB
		{{else}}
			Enter your email below to join the <img inline src="/static/img/text.svg" alt="SurrealDB" /> newsletter and stay updated on new releases, new features, and changes to our documentation. We promise we won't spam you!
			<line></line>
			<form {{on "submit" this.submit.run}}>
				<Input @value={{this.email}} placeholder="Enter your email here..." />
				<button type="submit" {{on "click" this.submit.run}}>
					Keep me updated
				</button>
			</form>
			{{#if this.submit.error}}
				<text>Please enter an email address</text>
			{{/if}}
		{{/if}}
	</Ascua::Modal>

{{/if}}