<a {{on "click" (fn (mut this.show) true)}} button ...attributes>
	<div>
		{{#if (has-block)}}
			{{yield}}
		{{else if @text}}
			{{@text}}
		{{else}}
			<i class="fal fa-envelope"></i>
			<span>Get updates</span>
		{{/if}}
	</div>
</a>

{{#if this.show}}

	<Ascua::Modal @onClose={{fn (mut this.show) false}}>

		<Modal::Close @close={{fn (mut this.show) false}} />

		{{#if this.done}}
			Thank you for registering for the <img inline src="/static/img/text.svg" alt="SurrealDB" /> newsletter! Check your email inbox for communications from us, and make sure to whitelist <code>surrealdb.com</code> in your email inbox.
			<br><br>
			Tobie
			<br>
			Founder, SurrealDB
		{{else}}
			Enter your email below to join the <img inline src="/static/img/text.svg" alt="SurrealDB" /> newsletter and stay updated on new product releases, features, and updates to our documentation. We promise we won't spam you!
			<line></line>
			<form {{on "submit" this.submit.run}}>
				<Input @value={{this.firstname}} name="firstname" label="First name" placeholder="Enter your first name" />
				<Input @value={{this.lastname}} name="lastname" label="Last name" placeholder="Enter your last name" />
				<Input @value={{this.email}} @type="email" name="email" label="Email address" placeholder="Enter your email address" />
				<button type="submit" {{on "click" this.submit.run}}>
					Keep me updated
				</button>
			</form>
			{{#if this.submit.error}}
				<text>Please enter an email address</text>
			{{/if}}
		{{/if}}
	</Ascua::Modal>

{{/if}}