{{#in-element (document-head) insertBefore=null}}
	{{!-- Custom meta tags --}}
	{{yield}}
	{{!-- Webpage meta tags --}}
	<title>{{@title}}</title>
	<meta name="description" content={{@description}}>
	{{!-- Open Graph meta tags --}}
	<meta name="og:title" property="og:title" content={{@title}}>
	<meta name="og:description" property="og:description" content={{@description}}>
	<meta name="og:site_name" property="og:site_name" content="SurrealDB">
	<meta name="og:type" property="og:type" content={{or @type "website"}}>
	<meta name="og:url" property="og:url" content="https://surrealdb.com{{route-url}}">
	<meta name="og:image" property="og:image" content={{or @image "https://surrealdb.com/static/img/preview/main.jpg"}}>
	{{!-- Social Network meta tags --}}
	<meta name="twitter:site" content="@surrealdb">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content={{@title}}>
	<meta name="twitter:description" content={{@title}}>
	<meta name="twitter:image" content={{or @image "https://surrealdb.com/static/img/preview/main.jpg"}}>
	<meta name="twitter:image:src" content={{or @image "https://surrealdb.com/static/img/preview/main.jpg"}}>
	<meta name="twitter:image:alt" content={{@description}}>
{{/in-element}}