{{on (document) "click" this.click}}

<sidebar>

	<div>
		<i class="fas fa-times"></i>
	</div>

	<div>

		<nav>

			<div>

				<Header::Links::Item @link="index" @text="Home" />
				<Header::Links::Item @link="install" @text="Install" />
				<Header::Links::Item @link="blog" @text="Blog" />

				<p>Product</p>
				<Header::Links::Item @link="why" @text="Why SurrealDB?" />
				<Header::Links::Item @link="features" @text="Features" />
				<Header::Links::Item @link="releases" @text="Releases" />
				<Header::Links::Item @link="roadmap" @text="Roadmap" />
				<Header::Links::Item @link="docs" @text="Documentation" />

				<p>Community</p>
				<Header::Links::Item @link="community" @text="Community" />
				<Header::Links::Item @link={{url "github"}} @text="GitHub" />
				<Header::Links::Item @link={{url "linkedin"}} @text="LinkedIn" />
				<Header::Links::Item @link={{url "twitter"}} @text="Twitter" />
				<Header::Links::Item @link={{url "youtube"}} @text="YouTube" />

			</div>

			<div>

				<Signup @text="Join cloud watlist" />

			</div>

		</nav>

	</div>

</sidebar>