<Meta::Tags>
	<title>SurrealDB | Serverless | The ultimate serverless cloud database</title>
	<meta name="title" property="og:title" content="SurrealDB | The perfect database for your serverless apps">
	<meta name="description" content="SurrealDB is the ultimate, flexible, developer-friendly, fully ACID transactional, realtime document-graph web database for serverless applications.">
</Meta::Tags>

<Layout::Gap small />

<Layout::Text text-c>
	<h1>The perfect database for your <b>serverless</b> apps</h1>
	<p>SurrealDB is a flexible, developer-friendly, fully ACID transactional, realtime document-graph web database for serverless applications. Never again worry about database provisioning, scaling, sharding, replication, or correctness.</p>
</Layout::Text>

<Layout::Gap small />

<Layout::Boxes cols-3-to-2-to-1>
	<Layout::Boxes::Item @tick={{true}} @label="Flexible data modelling" @text="Using an advanced query language, SurrealDB lets you store and access data using relational, document, graph, and embedded methodologies. The innovative data model enables you to model and access links between data records in an efficient way without complicated JOINs." />
	<Layout::Boxes::Item @tick={{true}} @label="Distributed ACID transactions" @text="Have peace-of-mind when working with your data, by using strictly serialisable multi-table and multi-record transactions, with no limit on the number of keys or documents, or the transaction duration." />
	<Layout::Boxes::Item @tick={{true}} @label="Structured and unstructured data" @text="SurrealDB doesn't force you into using pre-specified columns or fields. You can specify that a table is schemaless allowing any data keys to be stored, or instead, schemafull mode ensures that only certain fields and data types can be stored." />
	<Layout::Boxes::Item @tick={{true}} @label="Query using SQL" @text="The primary method of querying SurrealDB is using SurrealQL, a similar but modified version of traditional SQL. SurrealQL enables linked documents to be traversed and queried efficiently, while still using an imperative language which remains understandable by data scientists." />
	<Layout::Boxes::Item @tick={{true}} @label="GraphQL, REST, or WebSockets" @text="When connecting directly from an end-user device, you can choose to query the data using SurrealQL, GraphQL, or using a traditional REST API. In addition, WebSockets enable high-performance bi-directional realtime syncing of any updated data." />
	<Layout::Boxes::Item @tick={{true}} @label="Full-text indexing with no effort" @text="In SurrealDB, records can be indexed automatically using distributed full-text-indexes, allowing for performant Lucene-based querying over all record data fields, including boolean searches, fuzzy searches, wildcard searches, range searches, and weighted results." />
	<Layout::Boxes::Item @tick={{true}} @label="Real-time data syncing" @text="When connecting with SurrealDB, all connections are made using WebSockets, allowing for bi-directional data syncing. Dependent on data access permissions, client-based document subscriptions are triggered in real-time whenever changes are made to the data." />
	<Layout::Boxes::Item @tick={{true}} @label="In-built access and permissions" @text="SurrealDB is designed as a web database, with clients connecting directly to it from browsers, mobile devices, and desktop apps. Configure your access rules easily using SQL statements, ensuring only the correct users have access to their respective data." />
	<Layout::Boxes::Item @tick={{true}} @label="Web-native secure access" @text="With support for SSL/TLS, Single-Sign-On, external 3rd party authentication, JWT token based authentication, and custom business authentication logic - SurrealDB offers strong security, with the flexibility of custom authentication methods that suit your app or business." />
	<Layout::Boxes::Item @tick={{true}} @label="Global low-latency" @text="Choose where you want your data to reside, and serve customers anywhere - with consistent data, replicated in real-time across multiple regions, allowing you to keep application loading speeds super-fast." />
	<Layout::Boxes::Item @tick={{true}} @label="Hands-free elasticity" @text="When using SurrealDB in the cloud, transparent behind-the-scenes scaling ensures that your apps never run out of capacity or storage, while you pay only for the data storage that you use." />
	<Layout::Boxes::Item @tick={{true}} @label="Hassle free operation" @text="SurrealDB is built from the ground-up to run as a cloud-first database. Configurable with just a single command, either as a binary, or from within a Docker instance, SurrealDB is easy to start, easy to scale, and easy to maintain. All the hard work is done for you." />
</Layout::Boxes>

<Layout::Gap small />

<Layout::Text @title="Javascript framework connectors" @text="In addition to the client libraries for the popular languages, SurrealDB maintains database client connectors for some of the popular Javascript frameworks, including Angular, and Ember.js. These connectors support real-time data subscriptions and notifications using a binary protocol over a WebSocket connection, enabling advanced application functionality and awesome performance." />

<Layout::Gap small />

<Layout::Blocks as |block|>
	<block>
		<h4 flex row middle>
			<i class="fab fa-ember font-30 m-r-10"></i>
			Ember.js
			<l green>Complete</l>
		</h4>
		<Code @name="index/library/ember.bash" />
		<n>
			<Link @link="https://github.com/surrealdb/ember-surreal" faded>GitHub</Link>
			&bull;
			<Link @link="docs" faded>Documentation</Link>
		</n>
	</block>
	{{!--  --}}
	<block>
		<h4 flex row middle>
			<i class="fab fa-angular font-30 m-r-10"></i>
			Angular
			<l pink>Coming soon</l>
		</h4>
		<Code @name="index/library/angular.bash" />
		<n>
			<Link @link="https://github.com/surrealdb/angular-surreal" faded>GitHub</Link>
			&bull;
			<Link @link="docs" faded>Documentation</Link>
		</n>
	</block>
	{{!--  --}}
	<block>
		<h4 flex row middle>
			<i class="fab fa-react font-30 m-r-10"></i>
			React.js
			<l green>Complete</l>
		</h4>
		<Code @name="index/library/react.bash" />
		<n>
			<Link @link="https://github.com/surrealdb/surrealdb.js" faded>GitHub</Link>
			&bull;
			<Link @link="docs" faded>Documentation</Link>
		</n>
	</block>
	{{!--  --}}
	<block>
		<h4 flex row middle>
			<i class="fab fa-vuejs font-30 m-r-10"></i>
			Vue.js
			<l green>Complete</l>
		</h4>
		<Code @name="index/library/vue.bash" />
		<n>
			<Link @link="https://github.com/surrealdb/surrealdb.js" faded>GitHub</Link>
			&bull;
			<Link @link="docs" faded>Documentation</Link>
		</n>
	</block>
</Layout::Blocks>

<Layout::Gap small />

<Layout::Github />