{{#in-element (document-head) insertBefore=null}}
	<title>SurrealDB | Blog | The ultimate serverless cloud database</title>
	<meta name="title" property="og:title" content="SurrealDB | Blog">
	<meta name="description" content="SurrealDB is the ultimate database for tomorrow's serverless, jamstack, single-page, and traditional applications.">
	<meta name="image" property="og:image" content="/static/img/preview/blog.jpg">
	<meta property="og:type" content="website">
{{/in-element}}

<Layout::Gap small />

{{#if this.model.length}}

	<Layout::Text>
		<h1><img src="/static/img/text.svg" alt="SurrealDB" /> blog</h1>
	</Layout::Text>

	<Layout::Gap small />

	<Layout::Boxes cols-3-to-2-to-1>
		{{#each (sort-by "time:desc" this.model locale=true numeric=true) as |post i|}}
			{{#if (eq 0 i)}}
				<LinkTo @route="blog.post" @model={{post.id}} full side>
					<Layout::Boxes::Item @image={{post.image}} @stamp={{date-format post.time "LL"}} @title={{post.title}} @label={{post.label}} @text={{post.text}} />
				</LinkTo>
			{{else if (eq 1 i)}}
				<LinkTo @route="blog.post" @model={{post.id}} mini>
					<Layout::Boxes::Item @image={{post.image}} @stamp={{date-format post.time "LL"}} @title={{post.title}} @label={{post.label}} @text={{post.text}} />
				</LinkTo>
			{{else if (eq 2 i)}}
				<LinkTo @route="blog.post" @model={{post.id}} mini>
					<Layout::Boxes::Item @image={{post.image}} @stamp={{date-format post.time "LL"}} @title={{post.title}} @label={{post.label}} @text={{post.text}} />
				</LinkTo>
			{{else if (eq 3 i)}}
				<LinkTo @route="blog.post" @model={{post.id}} mini>
					<Layout::Boxes::Item @image={{post.image}} @stamp={{date-format post.time "LL"}} @title={{post.title}} @label={{post.label}} @text={{post.text}} />
				</LinkTo>
			{{else}}
				<LinkTo @route="blog.post" @model={{post.id}} half>
					<Layout::Boxes::Item @image={{post.image}} @stamp={{date-format post.time "LL"}} @title={{post.title}} @label={{post.label}} @text={{post.text}} />
				</LinkTo>
			{{/if}}
		{{/each}}
	</Layout::Boxes>

	<Layout::Gap small />

	<Layout::Text>
		<p>To stay up-to-date with new blog articles, future product releases, and documentation updates, subscribe to our email newsletter below, follow us on <Link @link={{url "twitter"}}>Twitter</Link>, or follow us on <Link @link={{url "dev"}}>Dev</Link>.</p>
		<Signup bordered thicker>Join the SurrealDB newsletter</Signup>
	</Layout::Text>

{{else}}

	<Layout::Text>
		<h1><img src="/static/img/text.svg" alt="SurrealDB" /> blog</h1>
		<p>There aren't any posts here yet. To stay up-to-date with new blog articles, future product releases, and documentation updates, subscribe to our email newsletter below, follow us on <Link @link={{url "twitter"}}>Twitter</Link>, or follow us on <Link @link={{url "dev"}}>Dev</Link>.</p>
		<Signup bordered thicker>Join the SurrealDB newsletter</Signup>
	</Layout::Text>

	<Layout::Gap mini />

	<Layout::Image as |block|>
		<img src="/static/img/blog/main.png" />
	</Layout::Image>

{{/if}}