<Meta::Tags @image={{blog-image this.model.image}}>
	<title>SurrealDB | {{this.model.title}}</title>
	<meta name="title" property="og:title" content="SurrealDB | {{this.model.title}}">
	<meta name="description" content="{{this.model.text}}">
</Meta::Tags>

<Layout::Gap small />

<Layout::Helm blog>

	<Layout::Helm::Menu>
		<div>
			<Link @link="blog.index">
				<i class="fas fa-arrow-left"></i>
				<span>Show all posts</span>
			</Link>
		</div>
		<nav>
			<Layout::Helm::Menu::Item @text={{@model.title}} {{on "click" (scroll-to top=0 smooth=true)}} selected={{is-waypoint "main"}} />
			{{#each this.headings as |heading|}}
				<Layout::Helm::Menu::Item @text={{heading.text}} @link={{heading.link}} selected={{is-waypoint heading.id}} />
			{{/each}}
		</nav>
		<div>
			<Signup::Newsletter bordered thicker>
				<i class="fal fa-envelope"></i>
				<span>Subscribe</span>
			</Signup::Newsletter>
		</div>
	</Layout::Helm::Menu>

	<Layout::Helm::Main>

		<Layout::Switch {{waypoint "main"}} />

		<Layout::Blocks cols-1 full>

			<Layout::Blocks::Image @image={{blog-image this.model.image}} />

			<Layout::Blocks::Block>
				<p hide mobile tablet>
					<Link @link="blog.index" faint>
						<i class="fas fa-arrow-left"></i> <span>Show all posts</span>
					</Link>
				</p>
				<p>{{date-format this.model.time "LL"}}</p>
				<h1>{{this.model.title}}</h1>
				<h4>{{this.model.label}}</h4>
				<Markup @html={{this.model.html}} />
			</Layout::Blocks::Block>

			<Layout::Blocks::Block>
				<Ascua::Social::Linkedin @url={{@model.url}}>
					<Ascua::Tooltip @side="n" @show="hover" @hide="hover">
						Share on LinkedIn
					</Ascua::Tooltip>
					<i large class="fab fa-linkedin"></i>
				</Ascua::Social::Linkedin>
				&nbsp;
				<Ascua::Social::Twitter @url={{@model.url}} @text={{@model.title}} @via="surrealdb" @tags="surrealdb">
					<Ascua::Tooltip @side="n" @show="hover" @hide="hover">
						Share on Twitter
					</Ascua::Tooltip>
					<i large class="fab fa-twitter"></i>
				</Ascua::Social::Twitter>
				&nbsp;
				<Ascua::Social::Whatsapp @url={{@model.url}} @text={{@model.title}}>
					<Ascua::Tooltip @side="n" @show="hover" @hide="hover">
						Share on WhatsApp
					</Ascua::Tooltip>
					<i large class="fab fa-whatsapp"></i>
				</Ascua::Social::Whatsapp>
				&nbsp;
				<Ascua::Social::Email @subject={{@model.title}} @body={{@model.url}}>
					<Ascua::Tooltip @side="n" @show="hover" @hide="hover">
						Share by email
					</Ascua::Tooltip>
					<i large class="fas fa-envelope"></i>
				</Ascua::Social::Email>
			</Layout::Blocks::Block>

		</Layout::Blocks>

	</Layout::Helm::Main>

</Layout::Helm>

<Layout::Gap small />

<section>

	<Layout::Gap small />

	<Layout::Blocks cols-1 main-c>
		<Layout::Blocks::Block>
			<h3>Other blog posts</h3>
		</Layout::Blocks::Block>
	</Layout::Blocks>

	<Layout::Gap mini />

	<Layout::Boxes cols-2-to-1>
		{{#if this.prev}}
			<LinkTo @route="blog.post" @model={{this.prev.slug}}>
				<Layout::Boxes::Item @image={{blog-image this.prev.image}} @stamp={{date-format this.prev.time "LL"}} @title={{this.prev.title}} @label={{this.prev.label}} @text={{this.prev.text}} />
			</LinkTo>
		{{else}}
			<Layout::Boxes::Item @label="No older posts" centered />
		{{/if}}
		{{#if this.next}}
			<LinkTo @route="blog.post" @model={{this.next.slug}}>
				<Layout::Boxes::Item @image={{blog-image this.next.image}} @stamp={{date-format this.next.time "LL"}} @title={{this.next.title}} @label={{this.next.label}} @text={{this.next.text}} />
			</LinkTo>
		{{else}}
			<Layout::Boxes::Item @label="No newer posts" centered />
		{{/if}}
	</Layout::Boxes>

	<Layout::Gap mini />

	<Layout::Text>
		<p>To stay up-to-date with new blog articles, future product releases, and documentation updates, subscribe to our email newsletter below, follow us on <Link @link={{url "twitter"}}>Twitter</Link>, or follow us on <Link @link={{url "dev"}}>Dev</Link>.</p>
		<Signup::Newsletter bordered thicker />
	</Layout::Text>

	<Layout::Gap small />

</section>