<Layout::Text text-l text-f>
	<h5><i class="fas fa-arrow-left"></i> &nbsp; <Link @link="docs.surrealql.datamodel.index">Back to overview</Link></h5>
    <h2>Casting</h2>
	<p>In the SurrealDB type system, values can be converted to other values efficiently. This is useful if input is specified in a query which must be of a certain type, or if a user has provided a parameter with an incorrect type.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Table filled>
	<table>
		<thead>
			<tr>
				<th w-40>Type</th>
				<th w-60>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<a href="#bool">
						<code>&lt;bool&gt;</code>
					</a>
				</td>
				<td>Casts the subsequent value into a boolean</td>
			</tr>
			<tr>
				<td>
					<a href="#int">
						<code>&lt;int&gt;</code>
					</a>
				</td>
				<td>Casts the subsequent value into a int</td>
			</tr>
			<tr>
				<td>
					<a href="#float">
						<code>&lt;float&gt;</code>
					</a>
				</td>
				<td>Casts the subsequent value into a float</td>
			</tr>
			<tr>
				<td>
					<a href="#string">
						<code>&lt;string&gt;</code>
					</a>
				</td>
				<td>Casts the subsequent value into a string</td>
			</tr>
			<tr>
				<td>
					<a href="#number">
						<code>&lt;number&gt;</code>
					</a>
				</td>
				<td>Casts the subsequent value into a decimal</td>
			</tr>
			<tr>
				<td>
					<a href="#decimal">
						<code>&lt;decimal&gt;</code>
					</a>
				</td>
				<td>Casts the subsequent value into a decimal</td>
			</tr>
			<tr>
				<td>
					<a href="#datetime">
						<code>&lt;datetime&gt;</code>
					</a>
				</td>
				<td>Casts the subsequent value into a datetime</td>
			</tr>
			<tr>
				<td>
					<a href="#duration">
						<code>&lt;duration&gt;</code>
					</a>
				</td>
				<td>Casts the subsequent value into a duration</td>
			</tr>
		</tbody>
	</table>
</Layout::Table>

<Layout::Gap small />

<Layout::Group {{waypoint "bool"}}>

	<Layout::Text text-l text-f>
		<h3><code>&lt;bool&gt;</code></h3>
		<p>The <code>&lt;bool&gt;</code> casting function converts a value into a boolean.</p>
		<codes vertical>
			<Code @name="docs/datamodel/casting/bool-input-1.sql" />
			<Code @name="docs-datamodel-casting-bool-result-1.txt">
				true
			</Code>
		</codes>
		<codes vertical>
			<Code @name="docs/datamodel/casting/bool-input-2.sql" />
			<Code @name="docs-datamodel-casting-bool-result-2.txt">
				true
			</Code>
		</codes>
		<codes vertical>
			<Code @name="docs/datamodel/casting/bool-input-3.sql" />
			<Code @name="docs-datamodel-casting-bool-result-3.txt">
				true
			</Code>
		</codes>
		<codes vertical>
			<Code @name="docs/datamodel/casting/bool-input-4.sql" />
			<Code @name="docs-datamodel-casting-bool-result-4.txt">
				false
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "int"}}>

	<Layout::Text text-l text-f>
		<h3><code>&lt;int&gt;</code></h3>
		<p>The <code>&lt;int&gt;</code> casting function converts a value into an integer.</p>
		<codes vertical>
			<Code @name="docs/datamodel/casting/int-input-1.sql" />
			<Code @name="docs-datamodel-casting-int-result-1.txt">
				13
			</Code>
		</codes>
		<codes vertical>
			<Code @name="docs/datamodel/casting/int-input-2.sql" />
			<Code @name="docs-datamodel-casting-int-result-2.txt">
				13
			</Code>
		</codes>
		<codes vertical>
			<Code @name="docs/datamodel/casting/int-input-3.sql" />
			<Code @name="docs-datamodel-casting-int-result-3.txt">
				0
			</Code>
		</codes>
		<codes vertical>
			<Code @name="docs/datamodel/casting/int-input-4.sql" />
			<Code @name="docs-datamodel-casting-int-result-4.txt">
				1
			</Code>
		</codes>
		<codes vertical>
			<Code @name="docs/datamodel/casting/int-input-5.sql" />
			<Code @name="docs-datamodel-casting-int-result-5.txt">
				0
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "float"}}>

	<Layout::Text text-l text-f>
		<h3><code>&lt;float&gt;</code></h3>
		<p>The <code>&lt;float&gt;</code> casting function converts a value into a floating point number.</p>
		<codes vertical>
			<Code @name="docs/datamodel/casting/float-input-1.sql" />
			<Code @name="docs-datamodel-casting-float-result-1.txt">
				13.572948467293847
			</Code>
		</codes>
		<codes vertical>
			<Code @name="docs/datamodel/casting/float-input-2.sql" />
			<Code @name="docs-datamodel-casting-float-result-2.txt">
				13.572948467293847
			</Code>
		</codes>
		<codes vertical>
			<Code @name="docs/datamodel/casting/float-input-3.sql" />
			<Code @name="docs-datamodel-casting-float-result-3.txt">
				0.0
			</Code>
		</codes>
		<codes vertical>
			<Code @name="docs/datamodel/casting/float-input-4.sql" />
			<Code @name="docs-datamodel-casting-float-result-4.txt">
				1.0
			</Code>
		</codes>
		<codes vertical>
			<Code @name="docs/datamodel/casting/float-input-5.sql" />
			<Code @name="docs-datamodel-casting-float-result-5.txt">
				0.0
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "string"}}>

	<Layout::Text text-l text-f>
		<h3><code>&lt;string&gt;</code></h3>
		<p>The <code>&lt;string&gt;</code> casting function converts a value into a string.</p>
		<codes vertical>
			<Code @name="docs/datamodel/casting/string-input-1.sql" />
			<Code @name="docs-datamodel-casting-string-result-1.txt">
				"true"
			</Code>
		</codes>
		<codes vertical>
			<Code @name="docs/datamodel/casting/string-input-2.sql" />
			<Code @name="docs-datamodel-casting-string-result-2.txt">
				"1.3463"
			</Code>
		</codes>
		<codes vertical>
			<Code @name="docs/datamodel/casting/string-input-3.sql" />
			<Code @name="docs-datamodel-casting-string-result-3.txt">
				"false"
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "number"}}>

	<Layout::Text text-l text-f>
		<h3><code>&lt;number&gt;</code></h3>
		<p>The <code>&lt;number&gt;</code> casting function converts a value into an infinite precision decimal number.</p>
		<codes vertical>
			<Code @name="docs/datamodel/casting/number-input-1.sql" />
			<Code @name="docs-datamodel-casting-number-result-1.txt">
				"13.572948467293847293841093845679289"
			</Code>
		</codes>
		<codes vertical>
			<Code @name="docs/datamodel/casting/number-input-2.sql" />
			<Code @name="docs-datamodel-casting-number-result-2.txt">
				"13.572948467293847293841093845679289"
			</Code>
		</codes>
		<codes vertical>
			<Code @name="docs/datamodel/casting/number-input-3.sql" />
			<Code @name="docs-datamodel-casting-number-result-3.txt">
				"0"
			</Code>
		</codes>
		<codes vertical>
			<Code @name="docs/datamodel/casting/number-input-4.sql" />
			<Code @name="docs-datamodel-casting-number-result-4.txt">
				"119384719384.7193847193487"
			</Code>
		</codes>
		<codes vertical>
			<Code @name="docs/datamodel/casting/number-input-5.sql" />
			<Code @name="docs-datamodel-casting-number-result-5.txt">
				"1"
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "decimal"}}>

	<Layout::Text text-l text-f>
		<h3><code>&lt;decimal&gt;</code></h3>
		<p>The <code>&lt;decimal&gt;</code> casting function converts a value into an infinite precision decimal number.</p>
		<codes vertical>
			<Code @name="docs/datamodel/casting/decimal-input-1.sql" />
			<Code @name="docs-datamodel-casting-decimal-result-1.txt">
				"13.572948467293847293841093845679289"
			</Code>
		</codes>
		<codes vertical>
			<Code @name="docs/datamodel/casting/decimal-input-2.sql" />
			<Code @name="docs-datamodel-casting-decimal-result-2.txt">
				"13.572948467293847293841093845679289"
			</Code>
		</codes>
		<codes vertical>
			<Code @name="docs/datamodel/casting/decimal-input-3.sql" />
			<Code @name="docs-datamodel-casting-decimal-result-3.txt">
				"0"
			</Code>
		</codes>
		<codes vertical>
			<Code @name="docs/datamodel/casting/decimal-input-4.sql" />
			<Code @name="docs-datamodel-casting-decimal-result-4.txt">
				"119384719384.7193847193487"
			</Code>
		</codes>
		<codes vertical>
			<Code @name="docs/datamodel/casting/decimal-input-5.sql" />
			<Code @name="docs-datamodel-casting-decimal-result-5.txt">
				"1"
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "datetime"}}>

	<Layout::Text text-l text-f>
		<h3><code>&lt;datetime&gt;</code></h3>
		<p>The <code>&lt;datetime&gt;</code> casting function converts a value into a datetime.</p>
		<codes vertical>
			<Code @name="docs/datamodel/casting/datetime-input-1.sql" />
			<Code @name="docs-datamodel-casting-datetime-result-1.txt">
				"2022-06-07"
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "duration"}}>

	<Layout::Text text-l text-f>
		<h3><code>&lt;duration&gt;</code></h3>
		<p>The <code>&lt;duration&gt;</code> casting function converts a value into a duration.</p>
		<codes vertical>
			<Code @name="docs/datamodel/casting/duration-input-1.sql" />
			<Code @name="docs-datamodel-casting-duration-result-1.txt">
				"1h30m"
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap large />