<case-study side={{@side}} num={{@num}} page={{route-name}} ...attributes>
	<div>
		<img src={{@img}} alt={{@title}}/>
	</div>
	<div>
		<h1>{{@title}}</h1>
		<h2>{{@text}}</h2>
	</div>
	<clear></clear>
</case-study>