{{#if (begs-with @link "https://")}}
	<a href={{@link}} rel="noopener noreferrer" target="_blank" button bordered thicker ...attributes>
		<div>
			{{#if (has-block)}}
				{{yield}}
			{{else}}
				{{@text}}
			{{/if}}
		</div>
	</a>
{{else}}
	<LinkTo @route={{@link}} button bordered thicker ...attributes>
		<div>
			{{#if (has-block)}}
				{{yield}}
			{{else}}
				{{@text}}
			{{/if}}
		</div>
	</LinkTo>
{{/if}}