<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.installation">Installation</Crumb::Item>
	<Crumb::Item @link="docs.installation.nightly">Install SurrealDB Nightly</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
	<h2><Devicon @size="50" @type="surreal" /> Install SurrealDB Nightly</h2>
	<p>If you prefer developing on the bleeding edge, you can follow this tutorial to install SurrealDB Nightly. The nightly version is built and released every night at midnight, and includes includes the latest features, and bug fixes. The nightly version is available for macOS, Linux, and Windows operating systems, and can be installed using the <Link @link={{url "install"}}>Linux or Unix install script</Link>, or using the <Link @link={{url "windows"}}>Windows install script</Link>. Alternatively you can run the nightly version with Docker by using the <code>nightly</code> tag.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3><Devicon @size="35" @type="apple" /> Installing SurrealDB Nightly on macOS</h3>
	<p>To get started, you can use the SurrealDB <Link @link={{url "install"}}>install script</Link>. This script securely downloads the latest version for the platform and CPU type. It attempts to install SurrealDB into the <code>/usr/local/bin</code> folder, falling back to a user-specified folder if necessary. The following command will attempt to install the nightly version. You can re-run this command daily to ensure you are running the latest build of SurrealDB.</p>
	<Code @name="docs-installation-macos-script-install-nightly.shell">
		user@localhost % curl --proto '=https' --tlsv1.2 -sSf https://install.surrealdb.com | sh -s -- --nightly
	</Code>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3><Devicon @size="35" @type="linux" /> Installing SurrealDB Nightly on Linux</h3>
	<p>To get started, you can use the SurrealDB <Link @link={{url "install"}}>install script</Link>. This script securely downloads the latest version for the platform and CPU type. It attempts to install SurrealDB into the <code>/usr/local/bin</code> folder, falling back to a user-specified folder if necessary. The following command will attempt to install the nightly version. You can re-run this command daily to ensure you are running the latest build of SurrealDB.</p>
	<Code @name="docs-installation-linux-script-install-nightly.shell">
		user@localhost % curl --proto '=https' --tlsv1.2 -sSf https://install.surrealdb.com | sh -s -- --nightly
	</Code>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3><Devicon @size="35" @type="windows" /> Installing SurrealDB Nightly on Windows</h3>
	<p>To get started, you can use the SurrealDB <Link @link={{url "windows"}}>install script</Link>. This script securely downloads the latest version for the platform and CPU type. It installs SurrealDB into the <code>C:\Program Files\SurrealDB</code> folder, falling back to a user-specified folder if necessary. The following command will attempt to install the nightly version. You can re-run this command daily to ensure you are running the latest build of SurrealDB.</p>
	<Code @name="docs-installation-windows-script-install-nightly.shell">
		PS C:\> iex "& { $(irm https://windows.surrealdb.com) } -Nightly"
	</Code>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3><Devicon @size="35" @type="docker" /> Using SurrealDB Nightly with Docker</h3>
	<p>To use SurrealDB Nightly with Docker, you can use the <code>nightly</code> tag. This script securely downloads the latest version for the platform and CPU type. It installs SurrealDB into the <code>C:\Program Files\SurrealDB</code> folder, falling back to a user-specified folder if necessary. The following command will attempt to install the nightly version. You can re-run this command daily to ensure you are running the latest build of SurrealDB.</p>
	<Code @name="docs-installation-docker-script-install-nightly.shell">
		user@localhost % docker run --rm -p 8000:8000 surrealdb/surrealdb:nightly start
	</Code>
</Layout::Text>

<Layout::Gap large />