{{#if (or (begs-with @link "https://") (begs-with @link "http://") (begs-with @link "/"))}}
	<a href={{@link}} rel="noopener noreferrer" target="_blank" ...attributes>
		{{#if (has-block)}}
			{{yield}}
		{{else}}
			{{@text}}
		{{/if}}
	</a>
{{else}}
	<LinkTo @route={{@link}} ...attributes>
		{{#if (has-block)}}
			{{yield}}
		{{else}}
			{{@text}}
		{{/if}}
	</LinkTo>
{{/if}}