<Meta::Tags
	@title="SurrealDB | Privacy Policy"
	@description="We understand how critical the protection of your data is, and we take the security of SurrealDB code, software, and cloud platform very seriously."
/>

<Layout::Gap small />

<Layout::Text text-l text-f>
	<h1>Privacy Policy</h1>
	<p>Last updated: June 04, 2022</p>
	<p>We are registered under, and process personal data in accordance with, the United Kingdom's data protection laws, in particular the General Data Protection Regulation (GDPR) as it applies in the UK, tailored by the Data Protection Act 2018.  Your right to privacy is important to us. This Privacy Policy describes our policies and procedures on the collection, use and disclosure of your information when you use the Services and tells you about your privacy rights and how the law protects you.</p>
	<p>We use your personal data to provide and improve the Services. By using the Services, you agree to the collection and use of information in accordance with this Privacy Policy.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>1 Interpretation and definitions</h3>
	<p><strong>Definitions</strong></p>
	<p>The following definitions shall have the same meaning regardless of whether they appear in singular or in plural. For the purposes of this Privacy Policy:</p>

	<p>1.1 ‘You’ means the individual accessing or using the Services, or the company, or other legal entity on behalf of which such individual is accessing or using the Services, as applicable. Under GDPR (General Data Protection Regulation), you can be referred to as the Data Subject or as the User as you are the individual using the Services.</p>

	<p>1.2 ‘Company’ (referred to as either “the Provider”,  "the Company", "We", "Us" or "Our" in this Agreement) refers to {{brand "company.name"}}, whose registered office is at {{brand "company.address"}}. </p>

	<p>1.3 For the purposes of the GDPR, the Company is the Data Controller and legal entity which alone or jointly with others determines the purposes and means of the processing of all Personal Data used in our business for our own purposes.</p>

	<p>1.4 ‘Customer’ means the entity which makes use of the Services provided by the Company, providing access to its Customer Data to the Company for the purposes of providing the Services. The Customer is a Data Controller for the Personal Data processed by the Company in its provision of the Services. </p>

	<p>1.5 ‘Customer Service’ refers to the account set up by the Customer on the Company’s website which makes use of the Company’s Services.</p>

	<p>1.6 ‘Affiliate’ means an entity that controls, is controlled by or is under common control with a party, where "control" means ownership of 50% or more of the shares, equity interest or other securities entitled to vote for election of directors or other managing authority.</p>

	<p>1.7 ‘Account’ means a unique account created for you to access our Services or parts of our Services, from which you can access one or several Customer Services. Each Customer is a Data Controller for the Personal Data which you may enter or upload in its Customer Service.</p>

	<p>1.8 ‘Website’ refers to {{brand "name"}}, accessible from <u>{{brand "website"}}</u></p>

	<p>1.9 ‘Services’ refers to the {{brand "name"}} Services, offered by the Provider through the {{brand "name"}} Software, available either via a browser or via the {{brand "name"}} desktop app, which includes any features, content, or applications offered or made available from time to time by the Provider and/or its licensors, which are operated by the Provider and/or third parties. </p>

	<p>1.10 ‘Country’ refers to: United Kingdom</p>

	<p>1.11 ‘Services Provider’ means any natural or legal person who processes the data on behalf of the Company. It refers to third-party companies or individuals employed by the Company to facilitate the Services, to provide the Services on behalf of the Company, to perform services related to the Services or to assist the Company in analysing how the Services are used. For the purpose of the GDPR, Services Providers are considered Data Processors.</p>

	<p>1.12  ‘Data processing’ includes obtaining, recording, organising, retrieving, using, amending or holding the data that is gathered on the Services, and transferring data to third parties. The Company is a data processor for Customer materials uploaded and stored by us.  </p>

	<p>1.13 ‘Third-party Social Media Service’ refers to any website or any social network website through which a User can log in or create an account to use the Services.</p>

	<p>1.14 ‘Personal Data’ is any information that relates to an identified or identifiable individual.</p>
	<p>For the purposes of GDPR, Personal Data means any information relating to you such as a name, an identification number, location data, online identifier or to one or more factors specific to the physical, physiological, genetic, mental, economic, cultural or social identity.</p>
	<p>For the purposes of the CCPA, Personal Data means any information that identifies, relates to, describes or is capable of being associated with, or could reasonably be linked, directly or indirectly, with you.</p>

	<p>1.15 ‘Cookies’ are small files that are placed on your computer, mobile device or any other device by a website, containing the details of your browsing history on that website among its many uses.</p>

	<p>1.16 ‘Device’ means any device that can access the Services such as a computer, a cellphone or a digital tablet.</p>

	<p>1.17 ‘Usage Data’ refers to data collected automatically, either generated by the use of the Services or from the Services infrastructure itself (for example, the duration of a page visit).</p>

	<p>1.18 ‘Do Not Track’ (DNT) is a concept that has been promoted by US regulatory authorities, in particular the U.S. Federal Trade Commission (FTC), for the Internet industry to develop and implement a mechanism for allowing internet users to control the tracking of their online activities across websites.</p>

	<p>1.19 ‘Business’, for the purpose of the CCPA (California Consumer Privacy Act), refers to the Company as the legal entity that collects Consumers' personal information and determines the purposes and means of the processing of Consumers' personal information, or on behalf of which such information is collected and that alone, or jointly with others, determines the purposes and means of the processing of consumers' personal information, that does business in the State of California.</p>

	<p>1.20 ‘Consumer’, for the purpose of the CCPA (California Consumer Privacy Act), means a natural person who is a California resident. A resident, as defined in the law, includes (1) every individual who is in the USA for other than a temporary or transitory purpose, and (2) every individual who is domiciled in the USA who is outside the USA for a temporary or transitory purpose.</p>

	<p>1.21 ‘Sale’, for the purpose of the CCPA (California Consumer Privacy Act), means selling, renting, releasing, disclosing, disseminating, making available, transferring, or otherwise communicating orally, in writing, or by electronic or other means, a Consumer's Personal information to another business or a third party for monetary or other valuable consideration.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>2 Collecting and using your Personal Data</h3>

	<h4>2.1 Types of Data Collected</h4>
	<p><strong>2.1.1 Personal Data</strong></p>
	<p>While using our Services, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to: email address, first name and last name, bank account information in order to pay for products and/or services within the Services, usage data.</p>
	<p>When you pay for a product and/or a service via bank transfer, we may ask you to provide information to facilitate this transaction and to verify your identity. Such information may include, without limitation:</p>
	<p>date of birth, passport or National ID card, bank card statement, other information linking you to an address.</p>

	<p><strong>2.1.2 Usage Data</strong></p>
	<p>Usage Data is collected automatically when using the Services. Usage Data may include information such as your Device's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Services that you visit, the time and date of your visit, the time spent on those pages, unique device identifiers and other diagnostic data.</p>

	<p>When you access the Services by or through a mobile device, we may collect certain information automatically, including, but not limited to, the type of mobile device you use, your mobile device unique ID, the IP address of your mobile device, your mobile operating system, the type of mobile Internet browser you use, unique device identifiers and other diagnostic data.</p>

	<p>We may also collect information that our browser sends whenever you visit our Services or when you access the Service by or through a mobile device.</p>

	<p><strong>2.1.3 Information from Third-Party Social Media Services</strong></p>
	<p>The Company may allow you to create an account and log in to use the Services through the following Third-party Social Media Services: Google, Github, LinkedIn. If you decide to register through or otherwise grant us access to a Third-Party Social Media Service, we may collect Personal data that is already associated with your Third-Party Social Media Service's account, such as your name, your email address, your activities or your contact list associated with that account.</p>

	<p>You may also have the option of sharing additional information with the Company through your Third-Party Social Media Service's account. If you choose to provide such information and Personal Data, during registration or otherwise, you are giving the Company permission to use, share, and store it in a manner consistent with this Privacy Policy.</p>

	<p><strong>2.1.4 Tracking Technologies and Cookies</strong></p>
	<p>We use Cookies and similar tracking technologies to track the activity on our Services and store certain information. Tracking technologies used are beacons, tags, and scripts to collect and track information and to improve and analyse our Services.</p>

	<p>Cookies do not typically contain any information that personally identifies a user, but personal information that we store about you may be linked to the information stored in and obtained from Cookies. We do not store sensitive personal information, such as mailing addresses, account passwords, etc. in the Cookies we use.</p>

	<p>You can instruct your browser to refuse all Cookies or to indicate when a Cookie is being sent. However, if you do not accept Cookies, you may not be able to use some parts of our Service.</p>

	<p>Cookies can be "Persistent" or "Session" Cookies. Persistent Cookies remain on your personal computer or mobile device when you go offline, while Session Cookies are deleted as soon as you close your web browser. </p>

	<p>We use both session and persistent Cookies for the purposes set out below:</p>

	<p><strong>2.1.4.1 Necessary / Essential Cookies</strong></p>
	<p>Type: Session Cookies</p>
	<p>Administered by: Us</p>
	<p>Purpose: These Cookies are essential to provide you with services available through the Website/Services and to enable you to use some of its features. They help to authenticate users and prevent fraudulent use of user accounts. Without these Cookies, the services that you have asked for cannot be provided, and we only use these Cookies to provide you with those services.</p>

	<p><strong>2.1.4.2 Cookies Policy / Notice Acceptance Cookies</strong></p>
	<p>Type: Persistent Cookies</p>
	<p>Administered by: Us</p>
	<p>Purpose: These Cookies identify if users have accepted the use of cookies on the Website/Services.</p>

	<p><strong>2.1.4.3 Functionality Cookies</strong></p>
	<p>Type: Persistent Cookies</p>
	<p>Administered by: Us</p>
	<p>Purpose: These Cookies allow us to remember choices you make when you use the Website/Services, such as remembering your login details or language preference. The purpose of these Cookies is to provide you with a more personal experience and to avoid you having to re-enter your preferences every time you use the Website/Services.</p>

	<p><strong>2.1.4.4 Tracking and Performance Cookies</strong></p>
	<p>Type: Persistent Cookies</p>
	<p>Administered by: Third-Parties</p>
	<p>Purpose: These Cookies are used to track information about traffic to the Website/Services and how users use the Website/Services. The information gathered via these Cookies may directly or indirectly identify you as an individual visitor. This is because the information collected is typically linked to a pseudonymous identifier associated with the device you use to access the Website/Services. We may also use these Cookies to test new advertisements, pages, features or new functionality of the Website/Services to see how our users react to them.</p>

	<p><strong>2.1.5 Your choices regarding Cookies</strong></p>
	<p>If you prefer to avoid the use of Cookies on the Website and/or Services, you must first disable the use of Cookies in your browser and then delete the Cookies saved in your browser associated with this Website/Services. You may use this option for preventing the use of Cookies at any time.</p>

	<p>If you do not accept our Cookies, you may experience some inconvenience in your use of the Website and some features may not function properly.</p>

	<p>If you'd like to delete Cookies or instruct your web browser to delete or refuse Cookies, please visit the help pages of your web browser.</p>

	<p><strong>2.1.5.1 For the Chrome web browser</strong>, please visit <a href="https://support.google.com/accounts/answer/32050" rel="nofollow">this page from Google</a></p>

	<p><strong>2.1.5.2 For the Internet Explorer web browser</strong>, please visit <a href="https://support.microsoft.com/kb/278835" rel="nofollow">this page from Microsoft</a></p>

	<p><strong>2.1.5.3 For the Microsoft Edge web browser</strong>, please visit <a href="https://support.microsoft.com/en-us/microsoft-edge/delete-cookies-in-microsoft-edge-63947406-40ac-c3b8-57b9-2a946a29ae09" rel="nofollow">this page from Microsoftrosoft-edge-63947406-40ac-c3b8-57b9-2a946a29ae09</a></p>

	<p><strong>2.1.5.4 For the Firefox web browser</strong>, please visit <a href="https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored" rel="nofollow">this page from Mozilla</a></p>

	<p><strong>2.1.5.5 For the Safari web browser</strong>, please visit <a href="https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac" rel="nofollow">this page from Apple</a></p>

	<p><strong>For any other web browser</strong>, please visit your web browser's official web pages.</p>

	<h4>2.2 Use of your Personal Data</h4>

	<p>2.2.1 The Company may use Personal Data for the following purposes:</p>
	<p><strong>To provide and maintain our Services</strong>, including to monitor the usage of our Services.</p>
	<p><strong>To manage your Account</strong>: to manage your registration as a user of the Services. The Personal Data you provide can give you access to different functionalities of the Service that are available to you as a registered user.</p>
	<p><strong>For the performance of a contract</strong>: the development, compliance and undertaking of the purchase contract for the products, items or services you have purchased or of any other contract with Us through the Service.</p>
	<p><strong>To contact you</strong>: to contact you by email, telephone calls, SMS, or other equivalent forms of electronic communication, such as a mobile application's push notifications regarding updates or informative communications related to the functionalities, products or contracted services, including the security updates, when necessary or reasonable for their implementation.</p>
	<p><strong>To provide you</strong> with news, special offers and general information about other goods, services and events which we offer that are similar to those that you have already purchased or enquired about unless you have opted not to receive such information.</p>
	<p><strong>To manage your requests</strong>: to attend and manage your requests to us.</p>

	<p>2.2.2 We may share your personal information in the following situations:</p>
	<p><strong>With Service Providers</strong>: we may share your personal information with Service Providers to enable, monitor and analyse the use of our Services, for example for payment processing, or to contact you.</p>
	<p><strong>For business transfers</strong>: we may share or transfer your personal information in connection with, or during negotiations of, any merger, sale of Company assets, financing, or acquisition of all or a portion of our business to another company.</p>
	<p><strong>With Affiliate</strong>s: we may share your information with our affiliates, in which case we will require those affiliates to honour this Privacy Policy. Affiliates include our parent company and any other subsidiaries, joint venture partners or other companies that we control or that are under common control with us.</p>
	<p><strong>With business partners</strong>: we may share your information with our business partners to offer you certain products, services or promotions.</p>
	<p><strong>With other users</strong>: when you share personal information or otherwise interact in the public areas with other users, such information may be viewed by all users and may be publicly distributed outside. If you interact with other users or register through a Third-Party Social Media Service, your contacts on the Third-Party Social Media Service may see your name, profile, pictures and description of your activity. Similarly, other users will be able to view descriptions of your activity, communicate with you and view your profile.</p>

	<h4>2.3 Retention of your Personal Data</h4>
	<p>2.3.1 The Company will retain your Personal Data only for as long as is necessary for the purposes set out in this Privacy Policy. We will retain and use your Personal Data to the extent necessary to comply with our legal obligations (for example, if we are required to retain your data to comply with applicable laws), resolve disputes, and enforce our legal agreements and policies.</p>

	<p>2.3.2 The Company will also retain usage data for internal analysis purposes. Usage data is generally retained for a shorter period of time, except when this data is used to strengthen the security or to improve the functionality of our Services, or we are legally obligated to retain this data for longer time periods.</p>

	<h4>2.4 Transfer of your Personal Data</h4>
	<p>2.4.1 Your information, including Personal Data, is processed at the Company's operating offices and in any other places where the parties involved in the processing are located. It means that this information may be transferred to - and maintained on - computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ from those in your jurisdiction. Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.</p>

	<p>2.4.2 The Company will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy and no transfer of your Personal Data will take place to an organisation or a country unless there are adequate controls in place including the security of your data and other personal information.</p>

	<h4>2.5 Disclosure of your Personal Data</h4>
	<p><strong>2.5.1 Business Transactions</strong></p>
	<p>If the Company is involved in a merger, acquisition or asset sale, your Personal Data may be transferred. We will provide notice before your Personal Data is transferred and becomes subject to a different Privacy Policy.</p>

	<p><strong>2.5.2 Law enforcement</strong></p>
	<p>Under certain circumstances, the Company may be required to disclose your Personal Data if required to do so by law or in response to valid requests by public authorities (e.g. a court or a government agency).</p>

	<p><strong>2.5.3 Other legal requirements</strong></p>
	<p>The Company may disclose your Personal Data in the good faith belief that such action is necessary to: comply with a legal obligation; protect and defend the rights or property of the Company; prevent or investigate possible wrongdoing in connection with the Services; protect the personal safety of Users of the Service or the public; protect against legal liability.</p>

	<h4>2.6 Security of your Personal Data</h4>
	<p>The security of your Personal Data is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Data, we cannot guarantee its absolute security.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>3 Detailed information on the processing of your Personal Data</h3>
	<p>Service Providers have access to your Personal Data only to perform their tasks on our behalf and are obligated not to disclose or use it for any other purpose.</p>

	<h4>3.1 Analytics</h4>
	<p>We may use third-party service providers to monitor and analyse the use of our Services.</p>

	<p><strong>3.1.1 Google Analytics</strong></p>
	<p>Google Analytics is a web analytics service offered by Google that tracks and reports website traffic. Google uses the data collected to track and monitor the use of our Services. This data is shared with other Google services. Google may use the collected data to contextualise and personalise the ads of its own advertising network.</p>

	<p>You can opt-out of having made your activity on the Services available to Google Analytics by installing the Google Analytics opt-out browser add-on. The add-on prevents the Google Analytics JavaScript (ga.js, analytics.js and dc.js) from sharing information with Google Analytics about visits activity.</p>

	<p>For more information on the privacy practices of Google, please visit the Google Privacy Terms web page: <u>https://policies.google.com/privacy?hl=en</u></p>

	<p><strong>3.1.2 Mixpanel </strong></p>
	<p>Mixpanel is provided by Mixpanel Inc. You can prevent Mixpanel from using your information for analytics purposes by opting-out. To opt-out of Mixpanel service, please visit this page: <u>https://mixpanel.com/optout/</u> For more information on what type of information Mixpanel collects, please visit the Terms of Use page of Mixpanel:<u> https://mixpanel.com/terms/</u></p>

	<h4>3.2 Payments</h4>
	<p>3.2.1 We may provide paid products and/or services within the Services. In that case, we may use third-party services for payment processing (e.g. payment processors).</p>

	<p>3.2.2 We will not store or collect your payment card details. That information is provided directly to our third-party payment processors whose use of your personal information is governed by their Privacy Policy. These payment processors adhere to the standards set by PCI-DSS as managed by the PCI Security Standards Council, which is a joint effort of brands including Visa, Mastercard, American Express and Discover. PCI-DSS requirements help ensure the secure handling of payment information.</p>

	<p>3.2.3 We use third-party companies (including but not limited to Stripe and Go Cardless) to fulfil payment on your order. Stripe’s Privacy Policy can be viewed at <u>https://stripe.com/us/privacy</u>.</p>
	<p>The Privacy Policy of Go Cardless can be viewed at <u>https://gocardless.com/en-eu/legal/privacy/</u>.</p>

	<p>3.2.4 When you use our Services to pay for a product and/or service via bank transfer, we may ask you to provide information to facilitate this transaction and to verify your identity.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>4 General Data Protection Regulation (GDPR) Privacy</h3>

	<h4>4.1 Legal Basis for Processing Personal Data under GDPR</h4>
	<p>4.1.1 We may process Personal Data under the following conditions:</p>
	<p><strong>Consent</strong>: you have given your consent for processing Personal Data for one or more specific purposes, in particular when you have accessed a Customer Service account in order to enter or upload data.</p>
	<p><strong>Performance of a contrac</strong>t: provision of Personal Data is necessary for the performance of an agreement with you and/or for any pre-contractual obligations thereof.</p>
	<p><strong>Legal obligations</strong>: processing Personal Data is necessary for compliance with a legal obligation to which the Company is subject.</p>
	<p><strong>Vital interests</strong>: processing Personal Data is necessary in order to protect your vital interests or of another natural person.</p>
	<p><strong>Public interests</strong>: processing Personal Data is related to a task that is carried out in the public interest or in the exercise of official authority vested in the Company.</p>
	<p><strong>Legitimate interests</strong>: processing Personal Data is necessary for the purposes of the legitimate interests pursued by the Company.</p>

	<p>4.1.2 In any case, the Company will gladly help to clarify the specific legal basis that applies to the processing, and in particular whether the provision of Personal Data is a statutory or contractual requirement, or a requirement necessary to enter into a contract.</p>

	<h4>4.2 Your Rights under the GDPR</h4>
	<p>4.2.1 The Company undertakes to respect the confidentiality of your Personal Data and to guarantee you can exercise your rights.</p>
	<p>You have the right under this Privacy Policy, and by law if you are within the EU, to:</p>
	<p><strong>Request access to your Personal Data</strong>. The right to access, update or delete the information we have on you. Whenever made possible, you can access, update or request deletion of your Personal Data directly within your account settings section. If you are unable to perform these actions yourself, please contact us to assist you. This also enables you to receive a copy of the Personal Data we hold about you.</p>
	<p><strong>Request correction of the Personal Data that we hold about you</strong>. You have the right to  have any incomplete or inaccurate information we hold about you corrected.</p>
	<p><strong>Object to processing of your Personal Data</strong>. This right exists where we are relying on a legitimate interest as the legal basis for our processing and there is something about your particular situation, which makes you want to object to our processing of your Personal Data on this ground. you also have the right to object where we are processing your Personal Data for direct marketing purposes.</p>
	<p><strong>Request erasure of your Personal Data</strong>. You have the right to ask us to delete or remove Personal Data when there is no good reason for us to continue processing it.</p>
	<p><strong>Request the transfer of your Personal Data</strong>. We will provide to you, or to a third-party you have chosen, your Personal Data in a structured, commonly used, machine-readable format. Please note that this right only applies to automated information which you initially provided consent for Us to use or where we used the information to perform a contract with you.</p>
	<p><strong>Withdraw your consent</strong>. You have the right to withdraw your consent on using your Personal Data. If you withdraw your consent, we may not be able to provide you with access to certain specific functionalities of the Service.</p>

	<h4>4.3 Exercising of your GDPR Data Protection Rights</h4>
	<p>4.3.1 You may exercise your rights of access, rectification, cancellation and opposition by contacting us. Please note that we may ask you to verify your identity before responding to such requests. If you make a request, we will try our best to respond to you as soon as possible.</p>

	<p>4.3.2 You have the right to complain to a Data Protection Authority about our collection and use of your Personal Data. For more information, if you are in the European Economic Area (EEA), please contact your local data protection authority in the EEA.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>5 California Consumer Privacy Act (CCPA) 2018: Privacy</h3>

	<h4>5.1 Your Rights under the CCPA</h4>
	<p>Under this Privacy Policy, and by law if you are a resident of California, you have the following rights:</p>
	<p><strong>The right to notice</strong>. You must be properly notified which categories of Personal Data are being collected and the purposes for which the Personal Data is being used.</p>
	<p><strong>The right to access / the right to request</strong>. The CCPA permits you to request and obtain from the Company information regarding the disclosure of your Personal Data that has been collected in the past 12 months by the Company or its subsidiaries to a third-party for the third party's direct marketing purposes.</p>
	<p><strong>The right to say no to the sale of Personal Data</strong>. You also have the right to ask the Company not to sell your Personal Data to third parties. You can submit such a request by visiting our "Do Not Sell My Personal Information" section or web page.</p>
	<p><strong>The right to know about your Personal Data</strong>. You have the right to request and obtain from the Company information regarding the disclosure of the following:</p>
	<p>The categories of Personal Data collected</p>
	<p>The sources from which the Personal Data was collected</p>
	<p>The business or commercial purpose for collecting or selling the Personal Data</p>
	<p>Categories of third parties with whom we share Personal Data</p>
	<p>The specific pieces of Personal Data we collected about you</p>
	<p><strong>The right to delete Personal Data</strong>. You also have the right to request the deletion of your Personal Data that have been collected in the past 12 months.</p>
	<p><strong>The right not to be discriminated against</strong>. You have the right not to be discriminated against for exercising any of your Consumer's rights, including by:</p>
	<p>Denying goods or services to you</p>
	<p>Charging different prices or rates for goods or services, including the use of discounts or other benefits or imposing penalties</p>
	<p>Providing a different level or quality of goods or services to you</p>
	<p>Suggesting that you will receive a different price or rate for goods or services or a different level or quality of goods or services.</p>

	<h4>5.2 Exercising your CCPA Data Protection Rights</h4>
	<p>In order to exercise any of your rights under the CCPA, and if you are a California resident, you can email us at <u>support@{{brand "domain"}}</u>. The Company will disclose and deliver the required information free of charge within 45 days of receiving your verifiable request. The time period to provide the required information may be extended once by an additional 45 days when reasonably necessary and with prior notice.</p>

	<h4>5.3 Do Not Sell My Personal Information</h4>
	<p>5.3.1 We do not sell personal information. However, the Service Providers we partner with (for example, our advertising partners) may use technology on the Services that "sells" personal information as defined by the CCPA law. If you wish to opt out of the use of your personal information for interest-based advertising purposes and these potential sales as defined under CCPA law, you may do so by following the instructions below.</p>

	<p>5.3.2 Please note that any opt out is specific to the browser you use. You may need to opt out on every browser that you use.</p>

	<p>5.3.3 <strong>Website</strong>.<strong> </strong>You can opt out of receiving ads that are personalised as served by our Service Providers by following our instructions presented on the Service:</p>
	<p>From Our "Cookie Consent" notice banner</p>
	<p>Or from Our "CCPA Opt-out" notice banner.</p>
	<p>The opt out will place a cookie on your computer that is unique to the browser you use to opt out. If you change browsers or delete the cookies saved by your browser, you will need to opt out again.</p>

	<p>5.3.4 <strong>Mobile Devices</strong>. Your mobile device may give you the ability to opt out of the use of information about the apps you use in order to serve you ads that are targeted to your interests:</p>
	<p>"Opt out of Interest-Based Ads" or "Opt out of Ads Personalization" on Android devices</p>
	<p>"Limit Ad Tracking" on iOS devices.</p>

	<p>You can also stop the collection of location information from your mobile device by changing the preferences on your mobile device.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>6 "Do Not Track" Policy as Required by California Online Privacy Protection Act (CalOPPA)</h3>
	<p>6.1 Our Services do not respond to Do Not Track signals. However, some third party websites do keep track of your browsing activities. If you are visiting such websites, you can set your preferences in your web browser to inform websites that you do not want to be tracked. You can enable or disable DNT by visiting the preferences or settings page of your web browser.</p>

	<h3>7 Children's Privacy</h3>
	<p>7.1 Our Services do not address anyone under the age of 18. We do not knowingly collect personally identifiable information from anyone under the age of 18. If you are a parent or guardian and you are aware that your child has provided us with Personal Data, please contact us. If we become aware that we have collected Personal Data from anyone under the age of 18 without verification of parental consent, we take steps to remove that information from our servers.</p>

	<p>7.2 If we need to rely on consent as a legal basis for processing your information and your country requires consent from a parent, we may require your parent's consent before we collect and use that information.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>8 Your California Privacy Rights (California's Shine the Light law)</h3>
	<p>8.1 Under California Civil Code Section 1798 (California's Shine the Light law), California residents with an established business relationship with us can request information once a year about sharing their Personal Data with third parties for the third parties' direct marketing purposes.</p>

	<p>8.2 If you'd like to request more information under the California Shine the Light law, and if you are a California resident, you can contact Us using the contact information provided below.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>9 California Privacy Rights for Minor Users (California Business and Professions Code Section 22581)</h3>
	<p>9.1 California Business and Professions Code section 22581 allows California residents under the age of 18 who are registered users of online sites, services or applications to request and obtain removal of content or information they have publicly posted. To request removal of such data, and if you are a California resident, you can contact us using the contact information provided below, and include the email address associated with your account.</p>

	<p>9.2 Be aware that your request does not guarantee complete or comprehensive removal of content or information posted online and that the law may not permit or require removal in certain circumstances.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>10 Links to Other Websites</h3>

	<p>10.1 Our Services may contain links to other websites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.</p>

	<p>10.2 We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>11. Changes to this Privacy Policy</h3>

	<p>11.1 We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>

	<p>11.2 We will let you know via email and/or a prominent notice on our Services, prior to the change becoming effective, and update the "Last updated" date at the top of this Privacy Policy.</p>

	<p>11.3 You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Contact us</h3>
	<p>If you have any questions about this Privacy Policy, you can contact us: </p>
	<p>by email: <u>info@{{brand "domain"}}</u></p>
</Layout::Text>

<Layout::Gap large />
