<walk-through side={{@side}} num={{@num}} page={{route-name}} ...attributes>
	<div>
	</div>
	<div>
		<h1>{{@title}}</h1>
		<h2>{{@text}}</h2>
		<box-button walkthrough>
			<LinkTo @route="index">
				<span>Book a demo</span>
			</LinkTo>
		</box-button>
	</div>
	<clear></clear>
</walk-through>
