<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.functions">Functions</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.functions.array">Array functions</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2>Array functions</h2>
	<p>These functions can be used when working with, and manipulating arrays of data.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Table filled>
	<table>
		<thead>
			<tr>
				<th w-40>Function</th>
				<th w-60>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<a href="#add">
						<code>array::add()</code>
					</a>
				</td>
				<td>Adds an item to an array if it doesn't exist</td>
			</tr>
			<tr>
				<td>
					<a href="#all">
						<code>array::all()</code>
					</a>
				</td>
				<td>Checks whether all array values are truthy</td>
			</tr>
			<tr>
				<td>
					<a href="#any">
						<code>array::any()</code>
					</a>
				</td>
				<td>Checks whether any array value is truthy</td>
			</tr>
			<tr>
				<td>
					<a href="#at">
						<code>array::at()</code>
					</a>
				</td>
				<td>Returns value for <code>X</code> index, or in reverse for a negative index</td>
			</tr>
			<tr>
				<td>
					<a href="#append">
						<code>array::append()</code>
					</a>
				</td>
				<td>Appends an item to the end of an array</td>
			</tr>
			<tr>
				<td>
					<a href="#boolean_and">
					<code>array::boolean_and()</code>
					</a>
				</td>
				<td>Perform the <Link @link="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Logical_AND"><code>AND</code> bitwise operations</Link> on two arrays</td>
			</tr>
			<tr>
				<td>
					<a href="#boolean_or">
					<code>array::boolean_or()</code>
					</a>
				</td>
				<td>Perform the <Link @link="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Bitwise_OR"><code>OR</code> bitwise operations</Link> on two arrays</td>
			</tr>
			<tr>
				<td>
					<a href="#boolean_xor">
					<code>array::boolean_xor()</code>
					</a>
				</td>
				<td>Perform the <Link @link="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Bitwise_XOR"><code>XOR</code> bitwise operations</Link> on two arrays</td>
			</tr>
			<tr>
				<td>
					<a href="#boolean_not">
					<code>array::boolean_not()</code>
					</a>
				</td>
				<td>Perform the <Link @link="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Bitwise_NOT"><code>NOT</code> bitwise operations</Link> on an array</td>
			</tr>
			<tr>
				<td>
					<a href="#combine">
						<code>array::combine()</code>
					</a>
				</td>
				<td>Combines all values from two arrays together</td>
			</tr>
			<tr>
				<td>
					<a href="#complement">
						<code>array::complement()</code>
					</a>
				</td>
				<td>Returns the complement of two arrays</td>
			</tr>
			<tr>
				<td>
					<a href="#clump">
						<code>array::clump()</code>
					</a>
				</td>
                <td>Returns the original array split into multiple arrays of <code>X</code> size</td>
			</tr>
            <tr>
				<td>
					<a href="#concat">
						<code>array::concat()</code>
					</a>
				</td>
                <td>Returns the merged values from two arrays</td>
			</tr>
			<tr>
				<td>
					<a href="#difference">
						<code>array::difference()</code>
					</a>
				</td>
				<td>Returns the difference between two arrays</td>
			</tr>
			<tr>
				<td>
					<a href="#distinct">
						<code>array::distinct()</code>
					</a>
				</td>
				<td>Returns the unique items in an array</td>
			</tr>
			<tr>
				<td>
					<a href="#find_index">
						<code>array::find_index()</code>
					</a>
				</td>
				<td>Returns the index of the first occurrence of <code>X</code> value</td>
			</tr>
			<tr>
				<td>
					<a href="#filter_index">
						<code>array::filter_index()</code>
					</a>
				</td>
				<td>Find the indexes of all occurrences of all matching <code>X</code> value</td>
			</tr>
			<tr>
				<td>
					<a href="#first">
						<code>array::first()</code>
					</a>
				</td>
				<td>Returns the first item in an array</td>
			</tr>
			<tr>
				<td>
					<a href="#flatten">
						<code>array::flatten()</code>
					</a>
				</td>
				<td>Flattens multiple arrays into a single array</td>
			</tr>
			<tr>
				<td>
					<a href="#group">
						<code>array::group()</code>
					</a>
				</td>
				<td>Flattens and returns the unique items in an array</td>
			</tr>
			<tr>
				<td>
					<a href="#insert">
						<code>array::insert()</code>
					</a>
				</td>
				<td>Inserts an item at the end of an array, or in a specific position</td>
			</tr>
			<tr>
				<td>
					<a href="#intersect">
						<code>array::intersect()</code>
					</a>
				</td>
				<td>Returns the values which intersect two arrays</td>
			</tr>
			<tr>
				<td>
					<a href="#last">
						<code>array::last()</code>
					</a>
				</td>
				<td>Returns the last item in an array</td>
			</tr>
			<tr>
				<td>
					<a href="#len">
						<code>array::len()</code>
					</a>
				</td>
				<td>Returns the length of an array</td>
			</tr>
			<tr>
				<td>
					<a href="#logical_and">
						<code>array::logical_and()</code>
					</a>
				</td>
				<td>Performs the <Link @link="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Logical_AND"><code>AND</code> logical operations</Link> on two arrays</td>
			</tr>
			<tr>
				<td>
					<a href="#logical_or">
						<code>array::logical_or()</code>
					</a>
				</td>
				<td>Performs the <Link @link="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Logical_OR"><code>OR</code> logical operations</Link> on two arrays</td>
			</tr>
			<tr>
				<td>
					<a href="#logical_xor">
						<code>array::logical_xor()</code>
					</a>
				</td>
				<td>Performs the <Link @link="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Logical_OR"><code>XOR</code> logical operations</Link> on two arrays</td>
			</tr>
			<tr>
				<td>
					<a href="#max">
						<code>array::max()</code>
					</a>
				</td>
				<td>Returns the maximum item in an array</td>
			</tr>
			<tr>
				<td>
					<a href="#matches">
						<code>array::matches()</code>
					</a>
				</td>
				<td>Returns an array of boolenas</td>
			</tr>
			<tr>
				<td>
					<a href="#min">
						<code>array::min()</code>
					</a>
				</td>
				<td>Returns the minimum item in an array</td>
			</tr>
			<tr>
				<td>
					<a href="#pop">
						<code>array::pop()</code>
					</a>
				</td>
				<td>Returns the last item from an array</td>
			</tr>
			<tr>
				<td>
					<a href="#prepend">
						<code>array::prepend()</code>
					</a>
				</td>
				<td>Prepends an item to the beginning of an array</td>
			</tr>
			<tr>
				<td>
					<a href="#push">
						<code>array::push()</code>
					</a>
				</td>
				<td>Appends an item to the end of an array</td>
			</tr>
			<tr>
				<td>
					<a href="#remove">
						<code>array::remove()</code>
					</a>
				</td>
				<td>Removes an item at a specific position from an array</td>
			</tr>
			<tr>
				<td>
					<a href="#reverse">
						<code>array::reverse()</code>
					</a>
				</td>
				<td>Reverses the sorting order of an array</td>
			</tr>
			<tr>
				<td>
					<a href="#sort">
						<code>array::sort()</code>
					</a>
				</td>
				<td>Sorts the values in an array in ascending or descending order</td>
			</tr>
			<tr>
				<td>
					<a href="#slice">
						<code>array::slice()</code>
					</a>
				</td>
				<td>Returns a slice of an array</td>
			</tr>
			<tr>
				<td>
					<a href="#sort-asc">
						<code>array::sort::asc()</code>
					</a>
				</td>
				<td>Sorts the values in an array in ascending order</td>
			</tr>
			<tr>
				<td>
					<a href="#sort-desc">
						<code>array::sort::desc()</code>
					</a>
				</td>
				<td>Sorts the values in an array in descending order</td>
			</tr>
			<tr>
				<td>
					<a href="#transpose">
						<code>array::transpose()</code>
					</a>
				</td>
				<td>Performs 2d array transposition on two arrays</td>
			</tr>
			<tr>
				<td>
					<a href="#union">
						<code>array::union()</code>
					</a>
				</td>
				<td>Returns the unique merged values from two arrays</td>
			</tr>
		</tbody>
	</table>
</Layout::Table>

<Layout::Gap small />

<Layout::Group {{waypoint "add"}}>

	<Layout::Text text-l text-f>
		<h3>array::add</h3>
		<p>The <code>array::add</code> function adds an item to an array only if it doesn't exist.</p>
		<Code @name="docs-surrealql-functions-array-add.surql" text="API Definition">
			array::add(array, value) -> array
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-add-input.surql">
				RETURN array::add(["one", "two"], "three");
			</Code>
			<Code @name="docs-surrealql-functions-array-add-result.txt">
				["one", "two", "three"]
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "all"}}>

	<Layout::Text text-l text-f>
		<h3>array::all</h3>
		<p>The <code>array::all</code> function checks whether all array values are truthy.</p>
		<Code @name="docs-surrealql-functions-array-all.surql" text="API Definition">
			array::all(array) -> bool
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-all-input.surql">
				RETURN array::all([ 1, 2, 3, NONE, 'SurrealDB', 5 ]);
			</Code>
			<Code @name="docs-surrealql-functions-array-all-result.txt">
				false
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "any"}}>

	<Layout::Text text-l text-f>
		<h3>array::any</h3>
		<p>The <code>array::any</code> function checks whether any array values are truthy.</p>
		<Code @name="docs-surrealql-functions-array-any.surql" text="API Definition">
			array::any(array) -> bool
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-any-input.surql">
				RETURN array::any([ 1, 2, 3, NONE, 'SurrealDB', 5 ]);
			</Code>
			<Code @name="docs-surrealql-functions-array-any-result.txt">
				true
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "at"}}>

	<Layout::Text text-l text-f>
		<h3>array::at</h3>
		<p>The <code>array::at</code> function returns value for <code>X</code> index, or in reverse for a negative index.</p>
		<Code @name="docs-surrealql-functions-array-at.surql" text="API Definition">
			array::at(array, index) -> any
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-at-input.surql">
				RETURN array::at(['s', 'u', 'r', 'r', 'e', 'a', 'l'], 2);
			</Code>
			<Code @name="docs-surrealql-functions-array-at-result.txt">
				"r"
			</Code>
		</codes>
		<p>You can also pass a negative index. This will perform the lookup in reverse:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-at-negative-index-input.surql">
				RETURN array::at(['s', 'u', 'r', 'r', 'e', 'a', 'l'], -3);
			</Code>
			<Code @name="docs-surrealql-functions-array-at-negative-index-result.txt">
				"e"
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "append"}}>

	<Layout::Text text-l text-f>
		<h3>array::append</h3>
		<p>The <code>array::append</code> function appends a value to the end of an array.</p>
		<Code @name="docs-surrealql-functions-array-append.surql" text="API Definition">
			array::append(array, value) -> array
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-append-input.surql">
				RETURN array::append([1, 2, 3, 4], 5);
			</Code>
			<Code @name="docs-surrealql-functions-array-append-result.txt">
				[ 1, 2, 3, 4, 5 ]
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "boolean_and"}}>

	<Layout::Text text-l text-f>
		<h3>array::boolean_and</h3>
		<p>The <code>array::boolean_and</code> Perform the <Link @link="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Logical_AND"><code>AND</code> bitwise operations</Link> on the input arrays per-element based on the element's truthiness. <br/> If one array is shorter than the other it is considered null and thus false. </p>
		<Code @name="docs-surrealql-functions-array-boolean.surql" text="API Definition">
			array::boolean_and(lh: Array, rh: Array)
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-boolean-input.surql">
				RETURN array::boolean_and(["true", "false", 1, 1], ["true", "true", 0, "true"]);
			</Code>
			<Code @name="docs-surrealql-functions-array-boolean-result.txt">
				[ "true", "false", 0, 1 ]
			</Code>
		</codes>
		<p>For those that take two arrays, missing elements (if one array is shorter than the other) are considered <code>null</code> and thus false.</p>
        <codes vertical>
			<Code @name="docs-surrealql-functions-array-boolean-error-input.surql">
				RETURN array::boolean_and([true, true], [false])
			</Code>
			<Code @name="docs-surrealql-functions-array-boolean-error-result.txt">
				[ false, false ]
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "boolean_or"}}>

	<Layout::Text text-l text-f>
		<h3>array::boolean_or</h3>
		<p>The <code>array::boolean_or</code>Perform the <Link @link="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Bitwise_OR"><code>OR</code> bitwise operations</Link> on the input arrays per-element based on the element's truthiness. <br/> It takes two arrays and if one array is shorter than the other or missing, the output is considered null and thus false.</p>
		<Code @name="docs-surrealql-functions-array-boolean_or.surql" text="API Definition">
			array::boolean_or(lh: Array, rh: Array)
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-boolean_or-input.surql">
				RETURN array::boolean_or([false, true, false, true], [false, false, true, true])
			</Code>
			<Code @name="docs-surrealql-functions-array-boolean_or-result.txt">
				[ false, true, true, true ]
			</Code>
		</codes>
		{{!-- <p>For those that take two arrays, missing elements (if one array is shorter than the other) are considered <code>null</code> and thus false.</p>
        <codes vertical>
			<Code @name="docs-surrealql-functions-array-boolean_or-error-input.surql">
				RETURN array::boolean_and([true, true], [false])
			</Code>
			<Code @name="docs-surrealql-functions-array-boolean_or-error-result.txt">
				[false, false]
			</Code>
		</codes> --}}
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "boolean_xor"}}>

	<Layout::Text text-l text-f>
		<h3>array::boolean_xor</h3>
		<p>The <code>array::boolean_xor</code> Performs the <Link @link="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Logical_OR"><code>XOR</code> bitwise operations</Link>.</p>
		<Code @name="docs-surrealql-functions-array-boolean_xor.surql" text="API Definition">
			array::boolean_xor(lh: Array, rh: Array)
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-boolean_xor-input.surql">
				RETURN array::boolean_xor([false, true, false, true], [false, false, true, true]);
			</Code>
			<Code @name="docs-surrealql-functions-array-boolean_xor-result.txt">
				[ false, true, true, false ]
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "boolean_not"}}>

	<Layout::Text text-l text-f>
		<h3>array::boolean_not</h3>
		<p>The <code>array::boolean_not</code> Perform the <Link @link="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Bitwise_NOT"><code>NOT</code> bitwise operations</Link> on the input array(s) per-element based on the element's truthiness. <br/> It takes in one array and it returns false if its single operand can be converted to true.</p>
		<Code @name="docs-surrealql-functions-array-boolean_not.surql" text="API Definition">
			array::boolean_not(Array)
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-boolean_not-input.surql">
				RETURN array::boolean_not([ false, true, 0, 1 ]);
			</Code>
			<Code @name="docs-surrealql-functions-array-boolean_not-result.txt">
				[ true, false, true, false ]
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "combine"}}>

	<Layout::Text text-l text-f>
		<h3>array::combine</h3>
		<p>The <code>array::combine</code> function combines all values from two arrays together, returning an array of arrays.</p>
		<Code @name="docs-surrealql-functions-array-combine.surql" text="API Definition">
			array::combine(array, array) -> array
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-combine-input.surql">
				RETURN array::combine([1,2], [2,3]);
			</Code>
			<Code @name="docs-surrealql-functions-array-combine-result.txt">
				[ [1,2], [1,3], [2,2], [2,3] ]
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "complement"}}>

	<Layout::Text text-l text-f>
		<h3>array::complement</h3>
		<p>The <code>array::complement</code> function returns the complement of two arrays, returning a single array containing items which are not in the second array.</p>
		<Code @name="docs-surrealql-functions-array-complement.surql" text="API Definition">
			array::complement(array, array) -> array
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-complement-input.surql">
				RETURN array::complement([1,2,3,4], [3,4,5,6]);
			</Code>
			<Code @name="docs-surrealql-functions-array-complement-result.txt">
				[ 1, 2 ]
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "concat"}}>

	<Layout::Text text-l text-f>
		<h3>array::concat</h3>
		<p>The <code>array::concat</code> function merges two arrays together, returning an array which may contain duplicate values. If you want to remove duplicate values from the resulting array, then use the <Link @link="#union"><code>array::union()</code></Link> function</p>
		<Code @name="docs-surrealql-functions-array-concat.surql" text="API Definition">
			array::concat(array, array) -> array
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-concat-input.surql">
                RETURN array::concat([1,2,3,4], [3,4,5,6]);
			</Code>
			<Code @name="docs-surrealql-functions-array-concat-result.txt">
				[ 1, 2, 3, 4, 3, 4, 5, 6 ]
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "clump"}}>

	<Layout::Text text-l text-f>
		<h3>array::clump</h3>
		<p>The <code>array::clump</code> function returns the original array split into sub-arrays of <code>size</code>. Similar to <code>slice::chunks</code></p>
		<Code @name="docs-surrealql-functions-array-clump.surql" text="API Definition">
			array::clump(array, value) -> array
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-clump-input.surql">
                RETURN array::clump([0, 1, 2, 3], 2);
			</Code>
			<Code @name="docs-surrealql-functions-array-clump-result.txt">
				[ [0, 1], [2, 3] ]
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "difference"}}>

	<Layout::Text text-l text-f>
		<h3>array::difference</h3>
		<p>The <code>array::difference</code> determines the difference between two arrays, returning a single array containing items which are not in both arrays.</p>
		<Code @name="docs-surrealql-functions-array-difference.surql" text="API Definition">
			array::difference(array, array) -> array
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-difference-input.surql">
				RETURN array::difference([1,2,3,4], [3,4,5,6]);
			</Code>
			<Code @name="docs-surrealql-functions-array-difference-result.txt">
				[ 1, 2, 5, 6 ]
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "distinct"}}>

	<Layout::Text text-l text-f>
		<h3>array::distinct</h3>
		<p>The <code>array::distinct</code> function calculates the unique values in an array, returning a single array.</p>
		<Code @name="docs-surrealql-functions-array-distinct.surql" text="API Definition">
			array::distinct(array) -> array
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-distinct-input.surql">
				RETURN array::distinct([ 1, 2, 1, 3, 3, 4 ]);
			</Code>
			<Code @name="docs-surrealql-functions-array-distinct-result.txt">
				[ 1, 2, 3, 4 ]
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "flatten"}}>

	<Layout::Text text-l text-f>
		<h3>array::flatten</h3>
		<p>The <code>array::flatten</code> flattens an array of arrays, returning a new array with all sub-array elements concatenated into it.</p>
		<Code @name="docs-surrealql-functions-array-flatten.surql" text="API Definition">
			array::flatten(array) -> array
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-flatten-input.surql">
				RETURN array::flatten([ [1,2], [3, 4], 'SurrealDB', [5, 6, [7, 8]] ]);
			</Code>
			<Code @name="docs-surrealql-functions-array-flatten-result.txt">
				[ 1, 2, 3, 4, 'SurrealDB', 5, 6, [7, 8] ]
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "find_index"}}>

	<Layout::Text text-l text-f>
		<h3>array::find_index</h3>
		<p>The <code>array::find_index</code> Returns the index of the first occurrence of <code>value</code> in the array or <code>null</code> if <code>array</code> does not contain <code>value</code></p>
		<Code @name="docs-surrealql-functions-array-flatten.surql" text="API Definition">
			array::flatten(array, index) -> array
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-find_index-input.surql">
				RETURN array::find_index(['a', 'b', 'c', 'b', 'a'], 'b');
			</Code>
			<Code @name="docs-surrealql-functions-array-find_index-result.txt">
				1
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "filter_index"}}>

	<Layout::Text text-l text-f>
		<h3>array::filter_index</h3>
		<p>The <code>array::filter_index</code> finds the indexes of all occurrences of all matching <code>values</code></p>
		<Code @name="docs-surrealql-functions-array-filter_index.surql" text="API Definition">
			array::filter_index(array, index) -> array
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-filter_index-input.surql">
				RETURN array::filter_index(['a', 'b', 'c', 'b', 'a'], 'b');
			</Code>
			<Code @name="docs-surrealql-functions-array-filter_index-result.txt">
				[ 1, 3 ]
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "first"}}>

	<Layout::Text text-l text-f>
		<h3>array::first</h3>
		<p>The <code>array::first</code> function returns the first value from an array.</p>
		<Code @name="docs-surrealql-functions-array-first.surql" text="API Definition">
			array::first(array) -> any
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-first-input.surql">
				RETURN array::first([ 's', 'u', 'r', 'r', 'e', 'a', 'l' ]);
			</Code>
			<Code @name="docs-surrealql-functions-array-first-result.txt">
				"s"
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "group"}}>

	<Layout::Text text-l text-f>
		<h3>array::group</h3>
		<p>The <code>array::group</code> function flattens and returns the unique items in an array.</p>
		<Code @name="docs-surrealql-functions-array-group.surql" text="API Definition">
			array::group(array) -> array
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-group-input.surql">
				RETURN array::group([1, 2, 3, 4, [3,5,6], [2,4,5,6], 7, 8, 8, 9]);
			</Code>
			<Code @name="docs-surrealql-functions-array-group-result.txt">
				[ 1, 2, 3, 4, 5, 6, 7, 8, 9 ]
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "insert"}}>

	<Layout::Text text-l text-f>
		<h3>array::insert</h3>
		<p>The <code>array::insert</code> function inserts a value into an array at a specific position.</p>
		<Code @name="docs-surrealql-functions-array-insert.surql" text="API Definition">
			array::insert(array, value, number) -> array
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-insert-input.surql">
				RETURN array::insert([1,2,3,4], 5, 2);
			</Code>
			<Code @name="docs-surrealql-functions-array-insert-result.txt">
				[ 1, 2, 5, 3, 4 ]
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "intersect"}}>

	<Layout::Text text-l text-f>
		<h3>array::intersect</h3>
		<p>The <code>array::intersect</code> function calculates the values which intersect two arrays, returning a single array containing the values which are in both arrays.</p>
		<Code @name="docs-surrealql-functions-array-intersect.surql" text="API Definition">
			array::intersect(array, array) -> array
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-intersect-input.surql">
				RETURN array::intersect([1,2,3,4], [3,4,5,6]);
			</Code>
			<Code @name="docs-surrealql-functions-array-intersect-result.txt">
				[ 3, 4 ]
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "last"}}>

	<Layout::Text text-l text-f>
		<h3>array::last</h3>
		<p>The <code>array::last</code> function returns the last value from an array.</p>
		<Code @name="docs-surrealql-functions-array-last.surql" text="API Definition">
			array::last(array) -> any
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-last-input.surql">
				RETURN array::last([ 's', 'u', 'r', 'r', 'e', 'a', 'l' ]);
			</Code>
			<Code @name="docs-surrealql-functions-array-last-result.txt">
				"l"
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "len"}}>

	<Layout::Text text-l text-f>
		<h3>array::len</h3>
		<p>The <code>array::len</code> function calculates the length of an array, returning a number. This function includes all items when counting the number of items in the array. If you want to only count truthy values, then use the <Link @link="docs.surrealql.functions.count"><code>count()</code></Link> function.</p>
		<Code @name="docs-surrealql-functions-array-len.surql" text="API Definition">
			array::len(array) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-len-input.surql">
				RETURN array::len([ 1, 2, 1, null, "something", 3, 3, 4, 0 ]);
			</Code>
			<Code @name="docs-surrealql-functions-array-len-result.txt">
				9
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "logical_and"}}>

	<Layout::Text text-l text-f>
		<h3>array::logical_and</h3>
		<p>The <code>array::logical_and</code> performs the <Link @link="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Logical_AND"><code>AND</code> logical operations</Link> local but they return the element that represents the resulting truthiness similar to the above. Note that the functions prioritize the elements on the left hand. Also, in the event that neither element can represent the truthiness of the output, the resulting element is a boolean value of the truthiness.</p>
		<Code @name="docs-surrealql-functions-array-logical_and.surql" text="API Definition">
			array::logical_and(lh: Array, rh: Array)
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-logical_and-input.surql">
				RETURN array::logical_and([true, false, true, false], [true, true, false, false]);
			</Code>
			<Code @name="docs-surrealql-functions-array-logica_and-result.txt">
				[ true, false, false, false ]
			</Code>
		</codes>
		<p>For those that take two arrays, missing elements (if one array is shorter than the other) are considered <code>null</code> and thus false.</p>
        <codes vertical>
			<Code @name="docs-surrealql-functions-array-logical_and-error-input.surql">
				RETURN array::logical_and([0, 1], [])
			</Code>
			<Code @name="docs-surrealql-functions-array-logical_and-error-result.txt">
				[ 0, null ]
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "logical_or"}}>

	<Layout::Text text-l text-f>
		<h3>array::logical_or</h3>
		<p>The <code>array::logical_or</code> Performs the <Link @link="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Logical_OR"><code>OR</code> logical operations</Link>. Note that the functions prioritize the elements on the left hand.</p>
		<Code @name="docs-surrealql-functions-array-logical_or.surql" text="API Definition">
			array::logical_or(lh: Array, rh: Array)
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-logical_or-input.surql">
				RETURN array::logical_or([true, false, true, false], [true, true, false, false]);
			</Code>
			<Code @name="docs-surrealql-functions-array-logical_or-result.txt">
				[ true, true, true, false ]
			</Code>
		</codes>
		<p> If one of the arrray is empty, the first array is returned.</p>
        <codes vertical>
			<Code @name="docs-surrealql-functions-array-logical_or-error-input.surql">
				RETURN array::logical_or([0, 1], []);
			</Code>
			<Code @name="docs-surrealql-functions-array-logical_or-error-result.txt">
				[ 0, 1 ]
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "logical_xor"}}>

	<Layout::Text text-l text-f>
		<h3> array::logical_xor </h3>
		<p>The <code>array::logical_xor</code> performs the <Link @link="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Logical_OR"><code>XOR</code> logical operations</Link>.</p>
		<Code @name="docs-surrealql-functions-array-logical.surql" text="API Definition">
			array::logical_xor(lh: Array, rh: Array)
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-logical_xor-input.surql">
				RETURN array::logical_xor([true, false, true, false], [true, true, false, false]);
			</Code>
			<Code @name="docs-surrealql-functions-array-logical_xor-result.txt">
				[ false, true, true, false ]
			</Code>
		</codes>
		<p>If one of the arrray is empty, the first array is returned.</p>
        <codes vertical>
			<Code @name="docs-surrealql-functions-array-logical_xor-error-input.surql">
				RETURN array::logical_xor([0, 1], [])
			</Code>
			<Code @name="docs-surrealql-functions-array-logical_xor-error-result.txt">
				[ 0, 1 ]
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "matches"}}>

	<Layout::Text text-l text-f>
		<h3>array::matches</h3>
		<p>The <code>array::matches</code> returns an array of boolenas</p>
		<Code @name="docs-surrealql-functions-array-matches.surql" text="API Definition">
			array::matches(Array,value)
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-matches-input.surql">
				RETURN array::matches([0, 1, 2], 1);
			</Code>
			<Code @name="docs-surrealql-functions-array-matches-result.txt">
				[false, true, false]
			</Code>
		</codes>
		<p>For those that take two arrays, missing elements (if one array is shorter than the other) are considered <code>null</code> and thus false.</p>
        <codes vertical>
			<Code @name="docs-surrealql-functions-array-matches-error-input.surql">
				RETURN array::matches([{id: "ohno:0"}, {id: "ohno:1"}], {id: "ohno:1"})
			</Code>
			<Code @name="docs-surrealql-functions-array-matches-error-result.txt">
				[ false, true ]
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "pop"}}>

	<Layout::Text text-l text-f>
		<h3>array::pop</h3>
		<p>The <code>array::pop</code> function removes a value from the end of an array and returns it.</p>
		<Code @name="docs-surrealql-functions-array-pop.surql" text="API Definition">
			array::pop(array) -> array
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-pop-input.surql">
				RETURN array::pop([ 1, 2, 3, 4 ]);
			</Code>
			<Code @name="docs-surrealql-functions-array-pop-result.txt">
				4
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "prepend"}}>

	<Layout::Text text-l text-f>
		<h3>array::prepend</h3>
		<p>The <code>array::prepend</code> function prepends a value to the end of an array.</p>
		<Code @name="docs-surrealql-functions-array-prepend.surql" text="API Definition">
			array::prepend(array, value) -> array
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-prepend-input.surql">
				RETURN array::prepend([1,2,3,4], 5);
			</Code>
			<Code @name="docs-surrealql-functions-array-prepend-result.txt">
				[ 5, 1, 2, 3, 4 ]
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "push"}}>

	<Layout::Text text-l text-f>
		<h3>array::push</h3>
		<p>The <code>array::push</code> function appends a value to the end of an array.</p>
		<Code @name="docs-surrealql-functions-array-push.surql" text="API Definition">
			array::push(array, value) -> array
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-push-input.surql">
				RETURN array::push([1,2,3,4], 5);
			</Code>
			<Code @name="docs-surrealql-functions-array-push-result.txt">
				[ 1, 2, 3, 4, 5 ]
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "remove"}}>

	<Layout::Text text-l text-f>
		<h3>array::remove</h3>
		<p>The <code>array::remove</code> function removes an item from a specific position in an array.</p>
		<Code @name="docs-surrealql-functions-array-remove.surql" text="API Definition">
			array::remove(array, number) -> array
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-remove-input.surql">
				RETURN array::remove([1,2,3,4,5], 2);
			</Code>
			<Code @name="docs-surrealql-functions-array-remove-result.txt">
				[ 1, 2, 4, 5 ]
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "reverse"}}>

	<Layout::Text text-l text-f>
		<h3>array::reverse</h3>
		<p>The <code>array::reverse</code> function appends a value to the end of an array.</p>
		<Code @name="docs-surrealql-functions-array-reverse.surql" text="API Definition">
			array::reverse(array) -> array
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-reverse-input.surql">
				RETURN array::reverse([ 1, 2, 3, 4, 5 ]);
			</Code>
			<Code @name="docs-surrealql-functions-array-reverse-result.txt">
				[ 5, 4, 3, 2, 1 ]
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "sort"}}>

	<Layout::Text text-l text-f>
		<h3>array::sort</h3>
		<p>The <code>array::sort</code> function calculates the length of an array, returning a number. This function includes all items when counting the number of items in the array. If you want to only count truthy values, then use the <Link @link="docs.surrealql.functions.count"><code>count()</code></Link> function.</p>
		<Code @name="docs-surrealql-functions-array-sort-1.surql" text="API Definition">
			array::sort(array) -> array
		</Code>
		<p>The function also accepts a second <Link @link="docs.surrealql.datamodel.simple">boolean</Link> parameter which determines the sorting direction. The second parameter can be <Ascua::Prism::Inline @language="surql" @code="true" /> for ascending order, or <Ascua::Prism::Inline @language="surql" @code="false" /> for descending order.</p>
		<Code @name="docs-surrealql-functions-array-sort-2.surql" text="API Definition">
			array::sort(array, bool) -> array
		</Code>
		<p>The function also accepts a second <Link @link="docs.surrealql.datamodel.simple">string</Link> parameter which determines the sorting direction. The second parameter can be <Ascua::Prism::Inline @language="surql" @code="'asc'" /> for ascending order, or <Ascua::Prism::Inline @language="surql" @code="'desc'" /> for descending order.</p>
		<Code @name="docs-surrealql-functions-array-sort-3.surql" text="API Definition">
			array::sort(array, string) -> array
		</Code>
		<p>The following examples show this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-sort-input-1.surql">
				RETURN array::sort([ 1, 2, 1, null, "something", 3, 3, 4, 0 ]);
			</Code>
			<Code @name="docs-surrealql-functions-array-sort-result-1.txt">
				[ null, 0, 1, 1, 2, 3, 3, 4, "something" ]
			</Code>
		</codes>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-sort-input-2.surql">
				RETURN array::sort([1,2,1,null,"something",3,3,4,0], false);
			</Code>
			<Code @name="docs-surrealql-functions-array-sort-result-2.txt">
				[ "something", 4, 3, 3, 2, 1, 1, 9, null ]
			</Code>
		</codes>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-sort-input-3.surql">
				RETURN array::sort([1,2,1,null,"something",3,3,4,0], "asc");
			</Code>
			<Code @name="docs-surrealql-functions-array-sort-result-3.txt">
				[ null, 0, 1, 1, 2, 3, 3, 4, "something" ]
			</Code>
		</codes>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-sort-input-4.surql">
				RETURN array::sort([1,2,1,null,"something",3,3,4,0], "desc");
			</Code>
			<Code @name="docs-surrealql-functions-array-sort-result-4.txt">
				[ "something", 4, 3, 3, 2, 1, 1, 9, null ]
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "slice"}}>

	<Layout::Text text-l text-f>
		<h3>array::slice</h3>
		<p>The <code>array::slice</code> returns a slice of an array, based on a starting position, and a length or negative position.</p>
		<Code @name="docs-surrealql-functions-array-slice.surql" text="API Definition">
			array::slice(array, start, len) -> array
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-slice-input.surql">
				RETURN array::slice([ 1, 2, 3, 4, 5 ], 1, 2);
			</Code>
			<Code @name="docs-surrealql-functions-array-sort-asc-result.txt">
				[ 2, 3 ]
			</Code>
		</codes>
		<p>The following example shows how you can use this function with a starting position, and a negative position, which will slice off the first and last element from the array:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-slice-input.surql">
				RETURN array::slice([ 1, 2, 3, 4, 5 ], 1, -1);
			</Code>
			<Code @name="docs-surrealql-functions-array-sort-asc-result.txt">
				[ 2, 3, 4 ]
			</Code>
		</codes>
		<p>The following example shows how you can use this function with just a starting position, which will only slice from the beginning of the array:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-slice-input.surql">
				RETURN array::slice([ 1, 2, 3, 4, 5 ], 2);
			</Code>
			<Code @name="docs-surrealql-functions-array-sort-asc-result.txt">
				[ 3, 4, 5 ]
			</Code>
		</codes>
		<p>The following example shows how you can use this function with just a negative position, which will only slice from the end of the array:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-slice-input.surql">
				RETURN array::slice([ 1, 2, 3, 4, 5 ], -2);
			</Code>
			<Code @name="docs-surrealql-functions-array-sort-asc-result.txt">
				[ 4, 5 ]
			</Code>
		</codes>
		<p>The following example shows how you can use this function with a negative position, and a length of the slice:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-slice-input.surql">
				RETURN array::slice([ 1, 2, 3, 4, 5 ], -3, 2);
			</Code>
			<Code @name="docs-surrealql-functions-array-sort-asc-result.txt">
				[ 3, 4 ]
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "sort-asc"}}>

	<Layout::Text text-l text-f>
		<h3>array::sort::asc</h3>
		<p>The <code>array::sort::asc</code> function is a shorthand convenience function for the <code>array::sort</code> function, to sort values in an array in ascending order.</p>
		<Code @name="docs-surrealql-functions-array-sort-asc.surql" text="API Definition">
			array::sort::asc(array) -> array
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-sort-asc-input.surql">
				RETURN array::sort::asc([ 1, 2, 1, null, "something", 3, 3, 4, 0 ]);
			</Code>
			<Code @name="docs-surrealql-functions-array-sort-asc-result.txt">
				[ null, 0, 1, 1, 2, 3, 3, 4, "something" ]
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "sort-desc"}}>

	<Layout::Text text-l text-f>
		<h3>array::sort::desc</h3>
		<p>The <code>array::sort::desc</code> function is a shorthand convenience function for the <code>array::sort</code> function, to sort values in an array in descending order.</p>
		<Code @name="docs-surrealql-functions-array-sort-desc.surql" text="API Definition">
			array::sort::desc(array) -> array
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-sort-desc-input.surql">
				RETURN array::sort::desc([ 1, 2, 1, null, "something", 3, 3, 4, 0 ]);
			</Code>
			<Code @name="docs-surrealql-functions-array-sort-desc-result.txt">
				[ "something", 4, 3, 3, 2, 1, 1, 9, null ]
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "transpose"}}>

	<Layout::Text text-l text-f>
		<h3>array::transpose</h3>
		<p>The <code>array::transpose</code> is used to perform 2d array transposition but it's behavior in cases of arrays of differing sizes can be best described as taking in multiple arrays and 'layering' them on top of each other.</p>
		<Code @name="docs-surrealql-functions-array-transpose.surql" text="API Definition">
			array::union(array, array) -> array array
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-transpose-input.surql">
				RETURN array::transpose([[0, 1], [2, 3]]);
			</Code>
			<Code @name="docs-surrealql-functions-array-transpose-result.txt">
				[ [0, 2], [1, 3] ]
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "union"}}>

	<Layout::Text text-l text-f>
		<h3>array::union</h3>
		<p>The <code>array::union</code> function combines two arrays together, removing duplicate values, and returning a single array.</p>
		<Code @name="docs-surrealql-functions-array-union.surql" text="API Definition">
			array::union(array, array) -> array
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-array-union-input.surql">
				RETURN array::union([1,2,1,6], [1,3,4,5,6]);
			</Code>
			<Code @name="docs-surrealql-functions-array-union-result.txt">
				[ 1, 2, 6, 3, 4, 5 ]
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>


<Layout::Gap large />
