<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.functions">Functions</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.functions.duration">Duration functions</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2>Duration functions</h2>
	<p>These functions can be used when converting between numeric and duration data.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Table filled>
	<table>
		<thead>
			<tr>
				<th w-40>Function</th>
				<th w-60>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<a href="#days">
						<code>duration::days()</code>
					</a>
				</td>
				<td>Counts how many days fit in a duration</td>
			</tr>
			<tr>
				<td>
					<a href="#hours">
						<code>duration::hours()</code>
					</a>
				</td>
				<td>Counts how many hours fit in a duration</td>
			</tr>
			<tr>
				<td>
					<a href="#micros">
						<code>duration::micros()</code>
					</a>
				</td>
				<td>Counts how many microseconds fit in a duration</td>
			</tr>
			<tr>
				<td>
					<a href="#millis">
						<code>duration::millis()</code>
					</a>
				</td>
				<td>Counts how many milliseconds fit in a duration</td>
			</tr>
			<tr>
				<td>
					<a href="#mins">
						<code>duration::mins()</code>
					</a>
				</td>
				<td>Counts how many minutes fit in a duration</td>
			</tr>
			<tr>
				<td>
					<a href="#nanos">
						<code>duration::nanos()</code>
					</a>
				</td>
				<td>Counts how many nanoseconds fit in a duration</td>
			</tr>
            <tr>
				<td>
					<a href="#secs">
						<code>duration::secs()</code>
					</a>
				</td>
				<td>Counts how many seconds fit in a duration</td>
			</tr>
			<tr>
				<td>
					<a href="#weeks">
						<code>duration::weeks()</code>
					</a>
				</td>
				<td>Counts how many weeks fit in a duration</td>
			</tr>
			<tr>
				<td>
					<a href="#years">
						<code>duration::years()</code>
					</a>
				</td>
				<td>Counts how many years fit in a duration</td>
			</tr>

			<tr>
				<td>
					<a href="#from-days">
						<code>duration::from::days()</code>
					</a>
				</td>
				<td>Converts a numeric amount of days into a duration that represents days</td>
			</tr>
			<tr>
				<td>
					<a href="#from-hours">
						<code>duration::from::hours()</code>
					</a>
				</td>
				<td>Converts a numeric amount of hours into a duration that represents hours</td>
			</tr>
			<tr>
				<td>
					<a href="#from-micros">
						<code>duration::from::micros()</code>
					</a>
				</td>
				<td>Converts a numeric amount of microseconds into a duration that represents microseconds</td>
			</tr>
			<tr>
				<td>
					<a href="#from-millis">
						<code>duration::from::millis()</code>
					</a>
				</td>
				<td>Converts a numeric amount of milliseconds into a duration that represents milliseconds</td>
			</tr>
			<tr>
				<td>
					<a href="#from-mins">
						<code>duration::from::mins()</code>
					</a>
				</td>
				<td>Converts a numeric amount of minutes into a duration that represents minutes</td>
			</tr>
			<tr>
				<td>
					<a href="#from-nanos">
						<code>duration::from::nanos()</code>
					</a>
				</td>
				<td>Converts a numeric amount of nanoseconds into a duration that represents nanoseconds</td>
			</tr>
            <tr>
				<td>
					<a href="#from-secs">
						<code>duration::from::secs()</code>
					</a>
				</td>
				<td>Converts a numeric amount of seconds into a duration that represents seconds</td>
			</tr>
			<tr>
				<td>
					<a href="#from-weeks">
						<code>duration::from::weeks()</code>
					</a>
				</td>
				<td>Converts a numeric amount of weeks into a duration that represents weeks</td>
			</tr>
		</tbody>
	</table>
</Layout::Table>

<Layout::Gap small />

<Layout::Group {{waypoint "days"}}>

	<Layout::Text text-l text-f>
		<h3>duration::days</h3>
		<p>The <code>duration::days</code> function counts how many days fit into a duration.</p>
		<Code @name="docs-surrealql-functions-duration-days.surql" text="API Definition">
			duration::days(duration) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-duration-days-input.surql">
				RETURN duration::days(3w);
			</Code>
			<Code @name="docs-surrealql-functions-duration-days-result.txt">
				21
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "hours"}}>

	<Layout::Text text-l text-f>
		<h3>duration::hours</h3>
		<p>The <code>duration::hours</code> function counts how many hours fit into a duration.</p>
		<Code @name="docs-surrealql-functions-duration-hours.surql" text="API Definition">
			duration::hours(duration) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-duration-hours-input.surql">
				RETURN duration::hours(3w);
			</Code>
			<Code @name="docs-surrealql-functions-duration-hours-result.txt">
				504
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "micros"}}>

	<Layout::Text text-l text-f>
		<h3>duration::micros</h3>
		<p>The <code>duration::micros</code> function counts how many microseconds fit into a duration.</p>
		<Code @name="docs-surrealql-functions-duration-micros.surql" text="API Definition">
			duration::micros(duration) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-duration-micros-input.surql">
				RETURN duration::micros(3w);
			</Code>
			<Code @name="docs-surrealql-functions-duration-micros-result.txt">
				1814400000000
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "millis"}}>

	<Layout::Text text-l text-f>
		<h3>duration::millis</h3>
		<p>The <code>duration::millis</code> function counts how many milliseconds fit into a duration.</p>
		<Code @name="docs-surrealql-functions-duration-millis.surql" text="API Definition">
			duration::millis(duration) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-duration-millis-input.surql">
				RETURN duration::millis(3w);
			</Code>
			<Code @name="docs-surrealql-functions-duration-millis-result.txt">
				1814400000
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "mins"}}>

	<Layout::Text text-l text-f>
		<h3>duration::mins</h3>
		<p>The <code>duration::mins</code> function counts how many minutes fit into a duration.</p>
		<Code @name="docs-surrealql-functions-duration-mins.surql" text="API Definition">
			duration::mins(duration) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-duration-mins-input.surql">
				RETURN duration::mins(3w);
			</Code>
			<Code @name="docs-surrealql-functions-duration-mins-result.txt">
				30240
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "nanos"}}>

	<Layout::Text text-l text-f>
		<h3>duration::nanos</h3>
		<p>The <code>duration::nanos</code> function counts how many nanoseconds fit into a duration.</p>
		<Code @name="docs-surrealql-functions-duration-nanos.surql" text="API Definition">
			duration::nanos(duration) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-duration-nanos-input.surql">
				RETURN duration::nanos(3w);
			</Code>
			<Code @name="docs-surrealql-functions-duration-nanos-result.txt">
				1814400000000000
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "secs"}}>

	<Layout::Text text-l text-f>
		<h3>duration::secs</h3>
		<p>The <code>duration::secs</code> function counts how many seconds fit into a duration.</p>
		<Code @name="docs-surrealql-functions-duration-secs.surql" text="API Definition">
			duration::secs(duration) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-duration-secs-input.surql">
				RETURN duration::secs(3w);
			</Code>
			<Code @name="docs-surrealql-functions-duration-secs-result.txt">
				1814400
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "weeks"}}>

	<Layout::Text text-l text-f>
		<h3>duration::weeks</h3>
		<p>The <code>duration::weeks</code> function counts how many weeks fit into a duration.</p>
		<Code @name="docs-surrealql-functions-duration-weeks.surql" text="API Definition">
			duration::weeks(duration) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-duration-weeks-input.surql">
				RETURN duration::weeks(3w);
			</Code>
			<Code @name="docs-surrealql-functions-duration-weeks-result.txt">
				3
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "years"}}>

	<Layout::Text text-l text-f>
		<h3>duration::years</h3>
		<p>The <code>duration::years</code> function counts how many years fit into a duration.</p>
		<Code @name="docs-surrealql-functions-duration-years.surql" text="API Definition">
			duration::years(duration) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-duration-years-input.surql">
				RETURN duration::years(300w);
			</Code>
			<Code @name="docs-surrealql-functions-duration-years-result.txt">
				5
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "from-days"}}>

	<Layout::Text text-l text-f>
		<h3>duration::from::days</h3>
		<p>The <code>duration::from::days</code> function converts a numeric amount of days into a duration that represents days.</p>
		<Code @name="docs-surrealql-functions-duration-from-days.surql" text="API Definition">
			duration::from::days(number) -> duration
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-duration-from-days-input.surql">
				RETURN duration::from::days(3);
			</Code>
			<Code @name="docs-surrealql-functions-duration-from-days-result.txt">
				3d
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "from-hours"}}>

	<Layout::Text text-l text-f>
		<h3>duration::from::hours</h3>
		<p>The <code>duration::from::hours</code> function converts a numeric amount of hours into a duration that represents hours.</p>
		<Code @name="docs-surrealql-functions-duration-from-hours.surql" text="API Definition">
			duration::from::hours(number) -> duration
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-duration-from-hours-input.surql">
				RETURN duration::from::hours(3);
			</Code>
			<Code @name="docs-surrealql-functions-duration-from-hours-result.txt">
				3h
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "from-micros"}}>

	<Layout::Text text-l text-f>
		<h3>duration::from::micros</h3>
		<p>The <code>duration::from::micros</code> function converts a numeric amount of microseconds into a duration that represents microseconds.</p>
		<Code @name="docs-surrealql-functions-duration-from-micros.surql" text="API Definition">
			duration::from::micros(number) -> duration
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-duration-from-micros-input.surql">
				RETURN duration::from::micros(3);
			</Code>
			<Code @name="docs-surrealql-functions-duration-from-micros-result.txt">
				3μs
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "from-millis"}}>

	<Layout::Text text-l text-f>
		<h3>duration::from::millis</h3>
		<p>The <code>duration::from::millis</code> function converts a numeric amount of milliseconds into a duration that represents milliseconds.</p>
		<Code @name="docs-surrealql-functions-duration-from-millis.surql" text="API Definition">
			duration::from::millis(number) -> duration
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-duration-from-millis-input.surql">
				RETURN duration::from::millis(3);
			</Code>
			<Code @name="docs-surrealql-functions-duration-from-millis-result.txt">
				3d
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "from-mins"}}>

	<Layout::Text text-l text-f>
		<h3>duration::from::mins</h3>
		<p>The <code>duration::from::mins</code> function converts a numeric amount of minutes into a duration that represents minutes.</p>
		<Code @name="docs-surrealql-functions-duration-from-mins.surql" text="API Definition">
			duration::from::mins(number) -> duration
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-duration-from-mins-input.surql">
				RETURN duration::from::mins(3);
			</Code>
			<Code @name="docs-surrealql-functions-duration-from-mins-result.txt">
				3m
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "from-nanos"}}>

	<Layout::Text text-l text-f>
		<h3>duration::from::nanos</h3>
		<p>The <code>duration::from::nanos</code> function converts a numeric amount of nanoseconds into a duration that represents nanoseconds.</p>
		<Code @name="docs-surrealql-functions-duration-from-nanos.surql" text="API Definition">
			duration::from::nanos(number) -> duration
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-duration-from-nanos-input.surql">
				RETURN duration::from::nanos(3);
			</Code>
			<Code @name="docs-surrealql-functions-duration-from-nanos-result.txt">
				3ns
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "from-secs"}}>

	<Layout::Text text-l text-f>
		<h3>duration::from::secs</h3>
		<p>The <code>duration::from::secs</code> function converts a numeric amount of seconds into a duration that represents seconds.</p>
		<Code @name="docs-surrealql-functions-duration-from-secs.surql" text="API Definition">
			duration::from::secs(number) -> duration
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-duration-from-secs-input.surql">
				RETURN duration::from::secs(3);
			</Code>
			<Code @name="docs-surrealql-functions-duration-from-secs-result.txt">
				3s
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "from-weeks"}}>

	<Layout::Text text-l text-f>
		<h3>duration::from::weeks</h3>
		<p>The <code>duration::from::days</code> function converts a numeric amount of weeks into a duration that represents weeks.</p>
		<Code @name="docs-surrealql-functions-duration-from-weeks.surql" text="API Definition">
			duration::from::weeks(number) -> duration
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-duration-from-weeks-input.surql">
				RETURN duration::from::weeks(3);
			</Code>
			<Code @name="docs-surrealql-functions-duration-from-weeks-result.txt">
				3w
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap large />