<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.functions">Functions</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.functions.math">Math functions</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2>Math functions</h2>
	<p>These functions can be used when analysing numeric data and numeric collections.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Table filled>
	<table>
		<thead>
			<tr>
				<th w-40>Function</th>
				<th w-60>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<a href="#abs">
						<code>math::abs()</code>
					</a>
				</td>
				<td>Returns the absolute value of a number</td>
			</tr>
			<tr>
				<td>
					<a href="#bottom">
						<code>math::bottom()</code>
					</a>
				</td>
				<td>Returns the bottom X set of numbers in a set of numbers</td>
			</tr>
			<tr>
				<td>
					<a href="#ceil">
						<code>math::ceil()</code>
					</a>
				</td>
				<td>Rounds a number up to the next largest integer</td>
			</tr>
			<tr>
				<td>
					<a href="#fixed">
						<code>math::fixed()</code>
					</a>
				</td>
				<td>Returns a number with the specified number of decimal places</td>
			</tr>
			<tr>
				<td>
					<a href="#floor">
						<code>math::floor()</code>
					</a>
				</td>
				<td>Rounds a number down to the next largest integer</td>
			</tr>
			<tr>
				<td>
					<a href="#interquartile">
						<code>math::interquartile()</code>
					</a>
				</td>
				<td>Returns the interquartile of an array of numbers</td>
			</tr>
			<tr>
				<td>
					<a href="#max">
						<code>math::max()</code>
					</a>
				</td>
				<td>Returns the maximum number in a set of numbers</td>
			</tr>
			<tr>
				<td>
					<a href="#mean">
						<code>math::mean()</code>
					</a>
				</td>
				<td>Returns the mean of a set of numbers</td>
			</tr>
			<tr>
				<td>
					<a href="#median">
						<code>math::median()</code>
					</a>
				</td>
				<td>Returns the median of a set of numbers</td>
			</tr>
			<tr>
				<td>
					<a href="#midhinge">
						<code>math::midhinge()</code>
					</a>
				</td>
				<td>Returns the midhinge of a set of numbers</td>
			</tr>
			<tr>
				<td>
					<a href="#min">
						<code>math::min()</code>
					</a>
				</td>
				<td>Returns the minimum number in a set of numbers</td>
			</tr>
			<tr>
				<td>
					<a href="#mode">
						<code>math::mode()</code>
					</a>
				</td>
				<td>Returns the value that occurs most often in a set of numbers</td>
			</tr>
			<tr>
				<td>
					<a href="#nearestrank">
						<code>math::nearestrank()</code>
					</a>
				</td>
				<td>Returns the nearest rank of an array of numbers</td>
			</tr>
			<tr>
				<td>
					<a href="#percentile">
						<code>math::percentile()</code>
					</a>
				</td>
				<td>Returns the value below which a percentage of data falls</td>
			</tr>
			<tr>
				<td>
					<a href="#product">
						<code>math::product()</code>
					</a>
				</td>
				<td>Returns the product of a set of numbers</td>
			</tr>
			<tr>
				<td>
					<a href="#round">
						<code>math::round()</code>
					</a>
				</td>
				<td>Rounds a number up or down to the nearest integer</td>
			</tr>
			<tr>
				<td>
					<a href="#spread">
						<code>math::spread()</code>
					</a>
				</td>
				<td>Returns the spread of an array of numbers</td>
			</tr>
			<tr>
				<td>
					<a href="#sqrt">
						<code>math::sqrt()</code>
					</a>
				</td>
				<td>Returns the square root of a number</td>
			</tr>
			<tr>
				<td>
					<a href="#stddev">
						<code>math::stddev()</code>
					</a>
				</td>
				<td>Calculates how far a set of numbers are away from the mean</td>
			</tr>
			<tr>
				<td>
					<a href="#sum">
						<code>math::sum()</code>
					</a>
				</td>
				<td>Returns the total sum of a set of numbers</td>
			</tr>
			<tr>
				<td>
					<a href="#top">
						<code>math::top()</code>
					</a>
				</td>
				<td>Returns the top X set of numbers in a set of numbers</td>
			</tr>
			<tr>
				<td>
					<a href="#trimean">
						<code>math::trimean()</code>
					</a>
				</td>
				<td>The weighted average of the median and the two quartiles</td>
			</tr>
			<tr>
				<td>
					<a href="#variance">
						<code>math::variance()</code>
					</a>
				</td>
				<td>Calculates how far a set of numbers are spread out from the mean</td>
			</tr>
		</tbody>
	</table>
</Layout::Table>

<Layout::Gap small />

<Layout::Group {{waypoint "abs"}}>

	<Layout::Text text-l text-f>
		<h3>math::abs</h3>
		<p>The <code>math::abs</code> function returns the absolute value of a number.</p>
		<Code @name="docs-surrealql-functions-math-abs.surql" text="API Definition">
			math::abs(number) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-math-abs-input.surql">
				RETURN math::abs(13.746189);
			</Code>
			<Code @name="docs-surrealql-functions-math-abs-result.txt">
				13
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "bottom"}}>

	<Layout::Text text-l text-f>
		<h3>math::bottom</h3>
		<p>The <code>math::bottom</code> function returns the bottom X set of numbers in a set of numbers</p>
		<Code @name="docs-surrealql-functions-math-bottom.surql" text="API Definition">
			math::bottom(array{{ "<" }}number>, number) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-math-bottom-input.surql">
				RETURN math::bottom([1, 2, 3], 2);
			</Code>
			<Code @name="docs-surrealql-functions-math-bottom-result.txt">
				[ 2, 1 ]
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "ceil"}}>

	<Layout::Text text-l text-f>
		<h3>math::ceil</h3>
		<p>The <code>math::ceil</code> function rounds a number up to the next largest integer.</p>
		<Code @name="docs-surrealql-functions-math-ceil.surql" text="API Definition">
			math::ceil(number) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-math-ceil-input.surql">
				RETURN math::ceil(13.146572);
			</Code>
			<Code @name="docs-surrealql-functions-math-ceil-result.txt">
				14
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "fixed"}}>

	<Layout::Text text-l text-f>
		<h3>math::fixed</h3>
		<p>The <code>math::fixed</code> function returns a number with the specified number of decimal places.</p>
		<Code @name="docs-surrealql-functions-math-fixed.surql" text="API Definition">
			math::fixed(number, number) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-math-fixed-input.surql">
				RETURN math::fixed(13.146572, 2);
			</Code>
			<Code @name="docs-surrealql-functions-math-fixed-result.txt">
				13.15
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "floor"}}>

	<Layout::Text text-l text-f>
		<h3>math::floor</h3>
		<p>The <code>math::floor</code> function rounds a number down to the next largest integer.</p>
		<Code @name="docs-surrealql-functions-math-floor.surql" text="API Definition">
			math::floor(number) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-math-floor-input.surql">
				RETURN math::floor(13.746189);
			</Code>
			<Code @name="docs-surrealql-functions-math-floor-result.txt">
				13
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "interquartile"}}>

	<Layout::Text text-l text-f>
		<h3>math::interquartile</h3>
		<p>The <code>math::interquartile</code> function returns the interquartile of an array of numbers.</p>
		<Code @name="docs-surrealql-functions-math-interquartile.surql" text="API Definition">
			math::interquartile(array{{ "<" }}number>) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-math-interquartile-input.surql">
				RETURN math::interquartile([ 1, 40, 60, 10, 2, 901 ]);
			</Code>
			<Code @name="docs-surrealql-functions-math-interquartile-result.txt">
				48.5
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "max"}}>

	<Layout::Text text-l text-f>
		<h3>math::max</h3>
		<p>The <code>math::max</code> function returns the maximum number in a set of numbers.</p>
		<Code @name="docs-surrealql-functions-math-max.surql" text="API Definition">
			math::max(number) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-math-max-input.surql">
				RETURN math::max([ 26.164, 13.746189, 23, 16.4, 41.42 ]);
			</Code>
			<Code @name="docs-surrealql-functions-math-max-result.txt">
				41.42
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "mean"}}>

	<Layout::Text text-l text-f>
		<h3>math::mean</h3>
		<p>The <code>math::mean</code> function returns the mean of a set of numbers.</p>
		<Code @name="docs-surrealql-functions-math-mean.surql" text="API Definition">
			math::mean(array) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-math-mean-input.surql">
				RETURN math::mean([ 26.164, 13.746189, 23, 16.4, 41.42 ]);
			</Code>
			<Code @name="docs-surrealql-functions-math-mean-result.txt">
				24.1460378
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "median"}}>

	<Layout::Text text-l text-f>
		<h3>math::median</h3>
		<p>The <code>math::median</code> function returns the median of a set of numbers.</p>
		<Code @name="docs-surrealql-functions-math-median.surql" text="API Definition">
			math::median(array) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-math-median-input.surql">
				RETURN math::median([ 26.164, 13.746189, 23, 16.4, 41.42 ]);
			</Code>
			<Code @name="docs-surrealql-functions-math-median-result.txt">
				23
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "midhinge"}}>

	<Layout::Text text-l text-f>
		<h3>math::midhinge</h3>
		<p>The <code>math::midhinge</code> function returns the midhinge of an array of numbers.</p>
		<Code @name="docs-surrealql-functions-math-midhinge.surql" text="API Definition">
			math::midhinge(array{{ "<" }}number>) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-math-midhinge-input.surql">
				RETURN math::midhinge([ 1, 40, 60, 10, 2, 901 ]);
			</Code>
			<Code @name="docs-surrealql-functions-math-midhinge-result.txt">
				25.75
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "min"}}>

	<Layout::Text text-l text-f>
		<h3>math::min</h3>
		<p>The <code>math::min</code> function returns the minimum number in a set of numbers.</p>
		<Code @name="docs-surrealql-functions-math-min.surql" text="API Definition">
			math::min(array) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-math-min-input.surql">
				RETURN math::min([ 26.164, 13.746189, 23, 16.4, 41.42 ]);
			</Code>
			<Code @name="docs-surrealql-functions-math-min-result.txt">
				13.746189
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "mode"}}>

	<Layout::Text text-l text-f>
		<h3>math::mode</h3>
		<p>The <code>math::mode</code> function returns the value that occurs most often in a set of numbers.</p>
		<Code @name="docs-surrealql-functions-math-mode.surql" text="API Definition">
			math::mode(array{{ "<" }}number>) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-math-mode-input.surql">
				RETURN math::mode([ 1, 40, 60, 10, 2, 901 ]);
			</Code>
			<Code @name="docs-surrealql-functions-math-mode-result.txt">
				901
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "nearestrank"}}>

	<Layout::Text text-l text-f>
		<h3>math::nearestrank</h3>
		<p>The <code>math::nearestrank</code> function returns the nearestrank of an array of numbers.</p>
		<Code @name="docs-surrealql-functions-math-nearestrank.surql" text="API Definition">
			math::nearestrank(array{{ "<" }}number>, number) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-math-nearestrank-input.surql">
				RETURN math::nearestrank([1, 40, 60, 10, 2, 901], 50);
			</Code>
			<Code @name="docs-surrealql-functions-math-nearestrank-result.txt">
				10
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "percentile"}}>

	<Layout::Text text-l text-f>
		<h3>math::percentile</h3>
		<p>The <code>math::percentile</code> function returns the value below which a percentage of data falls.</p>
		<Code @name="docs-surrealql-functions-math-percentile.surql" text="API Definition">
			math::percentile(array{{ "<" }}number>, number) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-math-percentile-input.surql">
				RETURN math::percentile([1, 40, 60, 10, 2, 901], 50);
			</Code>
			<Code @name="docs-surrealql-functions-math-percentile-result.txt">
				10
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "product"}}>

	<Layout::Text text-l text-f>
		<h3>math::product</h3>
		<p>The <code>math::product</code> function returns the product of a set of numbers.</p>
		<Code @name="docs-surrealql-functions-math-product.surql" text="API Definition">
			math::product(array) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-math-product-input.surql">
				RETURN math::product([ 26.164, 13.746189, 23, 16.4, 41.42 ]);
			</Code>
			<Code @name="docs-surrealql-functions-math-product-result.txt">
				5619119.004884841504
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "round"}}>

	<Layout::Text text-l text-f>
		<h3>math::round</h3>
		<p>The <code>math::round</code> function rounds a number up or down to the nearest integer.</p>
		<Code @name="docs-surrealql-functions-math-round.surql" text="API Definition">
			math::round(number) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-math-round-input.surql">
				RETURN math::round(13.53124);
			</Code>
			<Code @name="docs-surrealql-functions-math-round-result.txt">
				14
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "spread"}}>

	<Layout::Text text-l text-f>
		<h3>math::spread</h3>
		<p>The <code>math::spread</code> function returns the spread of an array of numbers.</p>
		<Code @name="docs-surrealql-functions-math-spread.surql" text="API Definition">
			math::spread(array{{ "<" }}number>) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-math-spread-input.surql">
				RETURN math::spread([ 1, 40, 60, 10, 2, 901 ]);
			</Code>
			<Code @name="docs-surrealql-functions-math-spread-result.txt">
				900
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "sqrt"}}>

	<Layout::Text text-l text-f>
		<h3>math::sqrt</h3>
		<p>The <code>math::sqrt</code> function returns the square root of a number.</p>
		<Code @name="docs-surrealql-functions-math-sqrt.surql" text="API Definition">
			math::sqrt(number) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-math-sqrt-input.surql">
				RETURN math::sqrt(15);
			</Code>
			<Code @name="docs-surrealql-functions-math-sqrt-result.txt">
				3.872983346207417
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "stddev"}}>

	<Layout::Text text-l text-f>
		<h3>math::stddev</h3>
		<p>The <code>math::stddev</code> function calculates how far a set of numbers are away from the mean.</p>
		<Code @name="docs-surrealql-functions-math-stddev.surql" text="API Definition">
			math::stddev(array{{ "<" }}number>) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-math-stddev-input.surql">
				RETURN math::stddev([ 1, 40, 60, 10, 2, 901 ]);
			</Code>
			<Code @name="docs-surrealql-functions-math-stddev-result.txt">
				359.3716738976515383200802748740764743708578424033151316067128042080419093950971134866088206928833419
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "sum"}}>

	<Layout::Text text-l text-f>
		<h3>math::sum</h3>
		<p>The <code>math::sum</code> function returns the total sum of a set of numbers.</p>
		<Code @name="docs-surrealql-functions-math-sum.surql" text="API Definition">
			math::sum(array) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-math-sum-input.surql">
				RETURN math::sum([ 26.164, 13.746189, 23, 16.4, 41.42 ]);
			</Code>
			<Code @name="docs-surrealql-functions-math-sum-result.txt">
				120.730189
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "top"}}>

	<Layout::Text text-l text-f>
		<h3>math::top</h3>
		<p>The <code>math::top</code> function returns the top of an array of numbers.</p>
		<Code @name="docs-surrealql-functions-math-top.surql" text="API Definition">
			math::top(array{{ "<" }}number>, number) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-math-top-input.surql">
				RETURN math::top([1, 40, 60, 10, 2, 901], 3);
			</Code>
			<Code @name="docs-surrealql-functions-math-top-result.txt">
				[ 40, 901, 60 ]
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "trimean"}}>

	<Layout::Text text-l text-f>
		<h3>math::trimean</h3>
		<p>The <code>math::trimean</code> function returns the trimean of an array of numbers.</p>
		<Code @name="docs-surrealql-functions-math-trimean.surql" text="API Definition">
			math::trimean(array{{ "<" }}number>) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-math-trimean-input.surql">
				RETURN math::trimean([ 1, 40, 60, 10, 2, 901 ]);
			</Code>
			<Code @name="docs-surrealql-functions-math-trimean-result.txt">
				32.875
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "variance"}}>

	<Layout::Text text-l text-f>
		<h3>math::variance</h3>
		<p>The <code>math::variance</code> function returns the variance of an array of numbers.</p>
		<Code @name="docs-surrealql-functions-math-variance.surql" text="API Definition">
			math::variance(array{{ "<" }}number>) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-math-variance-input.surql">
				RETURN math::variance([ 1, 40, 60, 10, 2, 901 ]);
			</Code>
			<Code @name="docs-surrealql-functions-math-variance-result.txt">
				129148
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap large />