<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.functions">Functions</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.functions.rand">Rand functions</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2>Rand functions</h2>
	<p>These functions can be used when generating random data values.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Table filled>
	<table>
		<thead>
			<tr>
				<th w-40>Function</th>
				<th w-60>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<a href="#rand">
						<code>rand()</code>
					</a>
				</td>
				<td>Generates and returns a random floating point number</td>
			</tr>
			<tr>
				<td>
					<a href="#rand-bool">
						<code>rand::bool()</code>
					</a>
				</td>
				<td>Generates and returns a random boolean</td>
			</tr>
			<tr>
				<td>
					<a href="#rand-enum">
						<code>rand::enum()</code>
					</a>
				</td>
				<td>Randomly picks a value from the specified values</td>
			</tr>
			<tr>
				<td>
					<a href="#rand-float">
						<code>rand::float()</code>
					</a>
				</td>
				<td>Generates and returns a random floating point number</td>
			</tr>
			<tr>
				<td>
					<a href="#rand-guid">
						<code>rand::guid()</code>
					</a>
				</td>
				<td>Generates and returns a random guid</td>
			</tr>
			<tr>
				<td>
					<a href="#rand-int">
						<code>rand::int()</code>
					</a>
				</td>
				<td>Generates and returns a random integer</td>
			</tr>
			<tr>
				<td>
					<a href="#rand-string">
						<code>rand::string()</code>
					</a>
				</td>
				<td>Generates and returns a random string</td>
			</tr>
			<tr>
				<td>
					<a href="#rand-time">
						<code>rand::time()</code>
					</a>
				</td>
				<td>Generates and returns a random datetime</td>
			</tr>
			<tr>
				<td>
					<a href="#rand-uuid">
						<code>rand::uuid()</code>
					</a>
				</td>
				<td>Generates and returns a random UUID</td>
			</tr>
		</tbody>
	</table>
</Layout::Table>

<Layout::Gap small />

<Layout::Group {{waypoint "rand"}}>

	<Layout::Text text-l text-f>
		<h3>rand</h3>
		<p>The <code>rand</code> function generates a random <Link @link="docs.surrealql.datamodel.simple"><code>float</code></Link>, between <code>0</code> and <code>1</code>.</p>
		<Code @name="docs-surrealql-functions-rand.sql" text="API Definition">
			rand() -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a select statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-rand-input-1.sql">
				SELECT * FROM rand();
			</Code>
			<Code @name="docs-surrealql-functions-rand-result-1.txt">
				0.7062321084863658
			</Code>
		</codes>
		<p>The following example shows this function being used in a <Link @link="docs.surrealql.statements"><code>SELECT</code></Link> statement with an <code>ORDER BY</code> clause:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-rand-input-5.sql">
				SELECT * FROM [{ age: 33 }, { age: 45 }, { age: 39 }] ORDER BY rand();
			</Code>
			<Code @name="docs-surrealql-functions-rand-result-5.txt">
				[
					{
						age: 45
					},
					{
						age: 39
					},
					{
						age: 33
					}
				]
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "rand-bool"}}>

	<Layout::Text text-l text-f>
		<h3>rand::bool</h3>
		<p>The <code>rand::bool</code> function generates a random <Link @link="docs.surrealql.datamodel.simple"><code>boolean</code></Link> value.</p>
		<Code @name="docs-surrealql-functions-rand-bool.sql" text="API Definition">
			rand::bool() -> boolean
		</Code>
		<p>The following example shows this function, and its output, when used in a select statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-rand-bool-input-1.sql">
				SELECT * FROM rand::bool();
			</Code>
			<Code @name="docs-surrealql-functions-rand-bool-result-1.txt">
				true
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "rand-enum"}}>

	<Layout::Text text-l text-f>
		<h3>rand::enum</h3>
		<p>The <code>rand::enum</code> function generates a random value, from a multitude of values.</p>
		<Code @name="docs-surrealql-functions-rand-enum.sql" text="API Definition">
			rand::enum(value...) -> boolean
		</Code>
		<p>The following example shows this function, and its output, when used in a select statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-rand-enum-input-1.sql">
				SELECT * FROM rand::enum('one', 'two', 3, 4.15385, 'five', true);
			</Code>
			<Code @name="docs-surrealql-functions-rand-enum-result-1.txt">
				"five"
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "rand-float"}}>

	<Layout::Text text-l text-f>
		<h3>rand::float</h3>
		<p>The <code>rand::float</code> function generates a random <Link @link="docs.surrealql.datamodel.simple"><code>float</code></Link>, between <code>0</code> and <code>1</code>.</p>
		<Code @name="docs-surrealql-functions-rand-float-1.sql" text="API Definition">
			rand::float() -> float
		</Code>
		<p>If two numbers are provided, then the function generates a random <Link @link="docs.surrealql.datamodel.simple"><code>float</code></Link>, between two numbers.</p>
		<Code @name="docs-surrealql-functions-rand-float-2.sql" text="API Definition">
			rand::float(number, number) -> float
		</Code>
		<p>The following examples show this function, and its output, when used in a select statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-rand-float-input-1.sql">
				SELECT * FROM rand::float();
			</Code>
			<Code @name="docs-surrealql-functions-rand-float-result-1.txt">
				0.7812733136200293
			</Code>
		</codes>
		<codes vertical>
			<Code @name="docs-surrealql-functions-rand-float-input-2.sql">
				SELECT * FROM rand::float(10, 15);
			</Code>
			<Code @name="docs-surrealql-functions-rand-float-result-2.txt">
				11.305355983514927
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "rand-guid"}}>

	<Layout::Text text-l text-f>
		<h3>rand::guid</h3>
		<p>The <code>rand::guid</code> function generates a 20-character random guid.</p>
		<Code @name="docs-surrealql-functions-rand-guid-1.sql" text="API Definition">
			rand::guid() -> string
		</Code>
		<p>If a number is provided, then the function generates a random guid, with a specific length.</p>
		<Code @name="docs-surrealql-functions-rand-guid-2.sql" text="API Definition">
			rand::guid(number) -> string
		</Code>
		<p>The following examples show this function, and its output, when used in a select statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-rand-guid-input-1.sql">
				SELECT * FROM rand::guid();
			</Code>
			<Code @name="docs-surrealql-functions-rand-guid-result-1.txt">
				"4uqmrmtjhtjeg77et0dl"
			</Code>
		</codes>
		<codes vertical>
			<Code @name="docs-surrealql-functions-rand-guid-input-2.sql">
				SELECT * FROM rand::guid(10);
			</Code>
			<Code @name="docs-surrealql-functions-rand-guid-result-2.txt">
				"f3b6cjh0nt"
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "rand-int"}}>

	<Layout::Text text-l text-f>
		<h3>rand::int</h3>
		<p>The <code>rand::int</code> function generates a random <Link @link="docs.surrealql.datamodel.simple"><code>int</code></Link>.</p>
		<Code @name="docs-surrealql-functions-rand-int-1.sql" text="API Definition">
			rand::int() -> int
		</Code>
		<p>If two numbers are provided, then the function generates a random <Link @link="docs.surrealql.datamodel.simple"><code>int</code></Link>, between two numbers.</p>
		<Code @name="docs-surrealql-functions-rand-int-2.sql" text="API Definition">
			rand::int(number, number) -> int
		</Code>
		<p>The following examples show this function, and its output, when used in a select statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-rand-int-input-1.sql">
				SELECT * FROM rand::int();
			</Code>
			<Code @name="docs-surrealql-functions-rand-int-result-1.txt">
				6841551695902514727
			</Code>
		</codes>
		<codes vertical>
			<Code @name="docs-surrealql-functions-rand-int-input-2.sql">
				SELECT * FROM rand::int(10, 15);
			</Code>
			<Code @name="docs-surrealql-functions-rand-int-result-2.txt">
				13
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "rand-string"}}>

	<Layout::Text text-l text-f>
		<h3>rand::string</h3>
		<p>The <code>rand::string</code> function generates a random <Link @link="docs.surrealql.datamodel.simple"><code>string</code></Link>, with 32 characters.</p>
		<Code @name="docs-surrealql-functions-rand-string-1.sql" text="API Definition">
			rand::string() -> string
		</Code>
		<p>The <code>rand::string</code> function generates a random <Link @link="docs.surrealql.datamodel.simple"><code>string</code></Link>, with a specific length.</p>
		<Code @name="docs-surrealql-functions-rand-string-2.sql" text="API Definition">
			rand::string(number) -> string
		</Code>
		<p>If two numbers are provided, then the function generates a random <Link @link="docs.surrealql.datamodel.simple"><code>string</code></Link>, with a length between two numbers.</p>
		<Code @name="docs-surrealql-functions-rand-string-3.sql" text="API Definition">
			rand::string(number, number) -> string
		</Code>
		<p>The following examples show this function, and its output, when used in a select statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-rand-string-input-1.sql">
				SELECT * FROM rand::string();
			</Code>
			<Code @name="docs-surrealql-functions-rand-string-result-1.txt">
				"N8Q86mklN6U7kv0A2XCRh5UlpQMSvdoT"
			</Code>
		</codes>
		<codes vertical>
			<Code @name="docs-surrealql-functions-rand-string-input-2.sql">
				SELECT * FROM rand::string(15);
			</Code>
			<Code @name="docs-surrealql-functions-rand-string-result-2.txt">
				"aSCtrfJj4pSJ7Xq"
			</Code>
		</codes>
		<codes vertical>
			<Code @name="docs-surrealql-functions-rand-string-input-3.sql">
				SELECT * FROM rand::string(10, 15);
			</Code>
			<Code @name="docs-surrealql-functions-rand-string-result-3.txt">
				"rEUWFUMcx0YH"
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "rand-time"}}>

	<Layout::Text text-l text-f>
		<h3>rand::time</h3>
		<p>The <code>rand::time</code> function generates a random <Link @link="docs.surrealql.datamodel.datetimes"><code>datetime</code></Link>.</p>
		<Code @name="docs-surrealql-functions-rand-time-1.sql" text="API Definition">
			rand::time() -> datetime
		</Code>
		<p>The <code>rand::time</code> function generates a random <Link @link="docs.surrealql.datamodel.datetimes"><code>datetime</code></Link>, between two unix timestamps.</p>
		<Code @name="docs-surrealql-functions-rand-time-2.sql" text="API Definition">
			rand::time(number, number) -> datetime
		</Code>
		<p>The following examples show this function, and its output, when used in a select statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-rand-time-input-1.sql">
				SELECT * FROM rand::time();
			</Code>
			<Code @name="docs-surrealql-functions-rand-time-result-1.txt">
				"2026-09-07T04:27:53Z"
			</Code>
		</codes>
		<codes vertical>
			<Code @name="docs-surrealql-functions-rand-time-input-2.sql">
				SELECT * FROM rand::time(198371, 1223138713);
			</Code>
			<Code @name="docs-surrealql-functions-rand-time-result-2.txt">
				"1991-01-13T23:27:17Z"
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "rand-uuid"}}>

	<Layout::Text text-l text-f>
		<h3>rand::uuid</h3>
		<p>The <code>rand::uuid</code> function generates a random UUID.</p>
		<Code @name="docs-surrealql-functions-rand-uuid.sql" text="API Definition">
			rand::uuid() -> uuid
		</Code>
		<p>The following example shows this function, and its output, when used in a select statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-rand-uuid-input.sql">
				SELECT * FROM rand::uuid();
			</Code>
			<Code @name="docs-surrealql-functions-rand-uuid-result.txt">
				"e20b2836-e689-4643-998d-b17a16800323"
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap large />