<Layout::Text text-l text-f>
	<h5><i class="fas fa-arrow-left"></i> &nbsp; <Link @link="docs.surrealql.functions.index">Back to overview</Link></h5>
    <h2>Session functions</h2>
	<p>These functions can be used when working with and manipulating text and string values.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Table filled>
	<table>
		<thead>
			<tr>
				<th w-40>Function</th>
				<th w-60>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<a href="#db">
						<code>session::db()</code>
					</a>
				</td>
				<td>Returns the currently selected database</td>
			</tr>
			<tr>
				<td>
					<a href="#id">
						<code>session::id()</code>
					</a>
				</td>
				<td>Returns the current user's session ID</td>
			</tr>
			<tr>
				<td>
					<a href="#ip">
						<code>session::ip()</code>
					</a>
				</td>
				<td>Returns the current user's session IP address</td>
			</tr>
			<tr>
				<td>
					<a href="#ns">
						<code>session::ns()</code>
					</a>
				</td>
				<td>Returns the currently selected namespace</td>
			</tr>
			<tr>
				<td>
					<a href="#origin">
						<code>session::origin()</code>
					</a>
				</td>
				<td>Returns the current user's HTTP origin</td>
			</tr>
			<tr>
				<td>
					<a href="#sc">
						<code>session::sc()</code>
					</a>
				</td>
				<td>Returns the current user's authentication scope</td>
			</tr>
		</tbody>
	</table>
</Layout::Table>

<Layout::Gap small />

<Layout::Group {{waypoint "db"}}>

	<Layout::Text text-l text-f>
		<h3><code>session::db</code></h3>
		<p>The <code>session::db</code> function returns the currently selected database.</p>
		<Code @name="docs-surrealql-functions-session-db.sql" text="API Definition">
			session::db() -> string
		</Code>
		<p>The following example shows this function, and its output, when used in a select statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-session-db-input.sql">
				SELECT * FROM session::db();
			</Code>
			<Code @name="docs-surrealql-functions-session-db-result.txt">
				"my_db"
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "id"}}>

	<Layout::Text text-l text-f>
		<h3><code>session::id</code></h3>
		<p>The <code>session::id</code> function returns the current user's session ID.</p>
		<Code @name="docs-surrealql-functions-session-id.sql" text="API Definition">
			session::id() -> string
		</Code>
		<p>The following example shows this function, and its output, when used in a select statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-session-id-input.sql">
				SELECT * FROM session::id();
			</Code>
			<Code @name="docs-surrealql-functions-session-id-result.txt">
				"I895rKuixHwCNIduyBIYH2M0Pga7oUmWnng5exEE4a7EB942GVElGrnRhE5scF5d"
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "ip"}}>

	<Layout::Text text-l text-f>
		<h3><code>session::ip</code></h3>
		<p>The <code>session::ip</code> function returns the current user's session IP address.</p>
		<Code @name="docs-surrealql-functions-session-ip.sql" text="API Definition">
			session::ip() -> string
		</Code>
		<p>The following example shows this function, and its output, when used in a select statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-session-ip-input.sql">
				SELECT * FROM session::ip();
			</Code>
			<Code @name="docs-surrealql-functions-session-ip-result.txt">
				"2001:db8:3333:4444:CCCC:DDDD:EEEE:FFFF"
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "ns"}}>

	<Layout::Text text-l text-f>
		<h3><code>session::ns</code></h3>
		<p>The <code>session::ns</code> function returns the currently selected namespace.</p>
		<Code @name="docs-surrealql-functions-session-ns.sql" text="API Definition">
			session::ns() -> string
		</Code>
		<p>The following example shows this function, and its output, when used in a select statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-session-ns-input.sql">
				SELECT * FROM session::ns();
			</Code>
			<Code @name="docs-surrealql-functions-session-ns-result.txt">
				"my_ns"
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "origin"}}>

	<Layout::Text text-l text-f>
		<h3><code>session::origin</code></h3>
		<p>The <code>session::origin</code> function returns the current user's HTTP origin.</p>
		<Code @name="docs-surrealql-functions-session-origin.sql" text="API Definition">
			session::origin() -> string
		</Code>
		<p>The following example shows this function, and its output, when used in a select statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-session-origin-input.sql">
				SELECT * FROM session::origin();
			</Code>
			<Code @name="docs-surrealql-functions-session-origin-result.txt">
				"http://localhost:3000"
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "sc"}}>

	<Layout::Text text-l text-f>
		<h3><code>session::sc</code></h3>
		<p>The <code>session::sc</code> function returns the current user's authentication scope.</p>
		<Code @name="docs-surrealql-functions-session-sc.sql" text="API Definition">
			session::sc() -> string
		</Code>
		<p>The following example shows this function, and its output, when used in a select statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-session-sc-input.sql">
				SELECT * FROM session::sc();
			</Code>
			<Code @name="docs-surrealql-functions-session-sc-result.txt">
				"user"
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Gap large />