<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.functions">Functions</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.functions.time">Time functions</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2>Time functions</h2>
	<p>These functions can be used when working with and manipulating datetime values.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Table filled>
	<table>
		<thead>
			<tr>
				<th w-40>Function</th>
				<th w-60>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<a href="#day">
						<code>time::day()</code>
					</a>
				</td>
				<td>Extracts the day as a number from a datetime</td>
			</tr>
			<tr>
				<td>
					<a href="#epoch">
						<code>time::EPOCH</code>
					</a>
				</td>
				<td>Constant containing the unix epoch datetime</td>
			</tr>
			<tr>
				<td>
					<a href="#floor">
						<code>time::floor()</code>
					</a>
				</td>
				<td>Rounds a datetime down by a specific duration</td>
			</tr>
			<tr>
				<td>
					<a href="#format">
						<code>time::format()</code>
					</a>
				</td>
				<td>Outputs a datetime according to a specific format</td>
			</tr>
            <tr>
				<td>
					<a href="#group">
						<code>time::group()</code>
					</a>
				</td>
				<td>Groups a datetime by a particular time interval</td>
			</tr>
            <tr>
				<td>
					<a href="#hour">
						<code>time::hour()</code>
					</a>
				</td>
				<td>Extracts the hour as a number from a datetime</td>
			</tr>
			<tr>
				<td>
					<a href="#max">
						<code>time::max()</code>
					</a>
				</td>
				<td>Finds the most recent datetime in an array</td>
			</tr>
			<tr>
				<td>
					<a href="#min">
						<code>time::min()</code>
					</a>
				</td>
				<td>Finds the least recent datetime in an array</td>
			</tr>
			<tr>
				<td>
					<a href="#minute">
						<code>time::minute()</code>
					</a>
				</td>
				<td>Extracts the minutes as a number from a datetime</td>
			</tr>
			<tr>
				<td>
					<a href="#month">
						<code>time::month()</code>
					</a>
				</td>
				<td>Extracts the month as a number from a datetime</td>
			</tr>
			<tr>
				<td>
					<a href="#nano">
						<code>time::nano()</code>
					</a>
				</td>
				<td>Returns the number of nanoseconds since the UNIX epoch</td>
			</tr>
			<tr>
				<td>
					<a href="#now">
						<code>time::now()</code>
					</a>
				</td>
				<td>Returns the current datetime</td>
			</tr>
			<tr>
				<td>
					<a href="#round">
						<code>time::round()</code>
					</a>
				</td>
				<td>Rounds a datetime to the nearest multiple of a specific duration</td>
			</tr>
			<tr>
				<td>
					<a href="#second">
						<code>time::second()</code>
					</a>
				</td>
				<td>Extracts the second as a number from a datetime</td>
			</tr>
			<tr>
				<td>
					<a href="#timezone">
						<code>time::timezone()</code>
					</a>
				</td>
				<td>Returns the current local timezone offset in hours</td>
			</tr>
			<tr>
				<td>
					<a href="#unix">
						<code>time::unix()</code>
					</a>
				</td>
				<td>Returns the number of seconds since the UNIX epoch</td>
			</tr>
			<tr>
				<td>
					<a href="#wday">
						<code>time::wday()</code>
					</a>
				</td>
				<td>Extracts the week day as a number from a datetime</td>
			</tr>
			<tr>
				<td>
					<a href="#week">
						<code>time::week()</code>
					</a>
				</td>
				<td>Extracts the week as a number from a datetime</td>
			</tr>
			<tr>
				<td>
					<a href="#yday">
						<code>time::yday()</code>
					</a>
				</td>
				<td>Extracts the yday as a number from a datetime</td>
			</tr>
			<tr>
				<td>
					<a href="#year">
						<code>time::year()</code>
					</a>
				</td>
				<td>Extracts the year as a number from a datetime</td>
			</tr>
			<tr>
				<td>
					<a href="#from-micros">
						<code>time::from::micros()</code>
					</a>
				</td>
				<td>Calculates a datetimes based on an amount of microseconds since January 1, 1970 0:00:00 UTC.</td>
			</tr>
			<tr>
				<td>
					<a href="#from-millis">
						<code>time::from::millis()</code>
					</a>
				</td>
				<td>Calculates a datetimes based on an amount of milliseconds since January 1, 1970 0:00:00 UTC.</td>
			</tr>
			<tr>
				<td>
					<a href="#from-secs">
						<code>time::from::secs()</code>
					</a>
				</td>
				<td>Calculates a datetimes based on an amount of seconds since January 1, 1970 0:00:00 UTC.</td>
			</tr>
			<tr>
				<td>
					<a href="#from-unix">
						<code>time::from::unix()</code>
					</a>
				</td>
				<td>Calculates a datetimes based on an amount of seconds since January 1, 1970 0:00:00 UTC.</td>
			</tr>
		</tbody>
	</table>
</Layout::Table>

<Layout::Gap small />

<Layout::Group {{waypoint "day"}}>

	<Layout::Text text-l text-f>
		<h3>time::day</h3>
		<p>The <code>time::day</code> function extracts the day as a number from a datetime.</p>
		<Code @name="docs-surrealql-functions-time-day.surql" text="API Definition">
			time::day(datetime) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-time-day-input.surql">
				RETURN time::day("2021-11-01T08:30:17+00:00");
			</Code>
			<Code @name="docs-surrealql-functions-time-day-result.txt">
				1
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "epoch"}}>

	<Layout::Text text-l text-f>
		<h3>time::epoch</h3>
		<p>The <code>time::EPOCH</code> constant contains unix epoch timestamp as a datetime.</p>
		<Code @name="docs-surrealql-functions-time-epoch.surql" text="API Definition">
			time::EPOCH -> datetime
		</Code>
		<p>The following example shows this constant when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-time-epoch-input.surql">
				RETURN time::EPOCH;
			</Code>
			<Code @name="docs-surrealql-functions-time-epoch-result.txt">
				'1970-01-01T00:00:00Z'
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "floor"}}>

	<Layout::Text text-l text-f>
		<h3>time::floor</h3>
		<p>The <code>time::floor</code> function rounds a datetime down by a specific duration.</p>
		<Code @name="docs-surrealql-functions-time-floor.surql" text="API Definition">
			time::floor(datetime, duration) -> datetime
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-time-floor-input.surql">
				RETURN time::floor("2021-11-01T08:30:17+00:00", 1w);
			</Code>
			<Code @name="docs-surrealql-functions-time-floor-result.txt">
				"2021-10-28T00:00:00Z"
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "format"}}>

	<Layout::Text text-l text-f>
		<h3>time::format</h3>
		<p>The <code>time::format</code> function outputs a datetime according to a specific format.</p>
		<Code @name="docs-surrealql-functions-time-format.surql" text="API Definition">
			time::format(datetime, string) -> string
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-time-format-input.surql">
				RETURN time::format("2021-11-01T08:30:17+00:00", "%Y-%m-%d");
			</Code>
			<Code @name="docs-surrealql-functions-time-format-result.txt">
				"2021-11-01"
			</Code>
		</codes>
	</Layout::Text>

	<Layout::Gap tiny />

	<Link @link="docs.surrealql.datamodel.formatters">View all format options</Link>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "group"}}>

	<Layout::Text text-l text-f>
		<h3>time::group</h3>
		<p>The <code>time::group</code> function reduces and rounds a datetime down to a particular time interval. The second argument must be a string, and can be one of the following values: <code>year</code>, <code>month</code>, <code>day</code>, <code>hour</code>, <code>minute</code>, <code>second</code>.</p>
		<Code @name="docs-surrealql-functions-time-group.surql" text="API Definition">
			time::group(datetime, string) -> datetime
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-time-group-input.surql">
				RETURN time::group("2021-11-01T08:30:17+00:00", "year");
			</Code>
			<Code @name="docs-surrealql-functions-time-group-result.txt">
				"2021-01-01T00:00:00Z"
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "hour"}}>

	<Layout::Text text-l text-f>
		<h3>time::hour</h3>
		<p>The <code>time::hour</code> function extracts the hour as a number from a datetime.</p>
		<Code @name="docs-surrealql-functions-time-hour.surql" text="API Definition">
			time::hour(datetime) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-time-hour-input.surql">
				RETURN time::hour("2021-11-01T08:30:17+00:00");
			</Code>
			<Code @name="docs-surrealql-functions-time-hour-result.txt">
				8
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "max"}}>

	<Layout::Text text-l text-f>
		<h3>time::max</h3>
		<p>The <code>time::max</code> function extracts the minutes as a number from a datetime.</p>
		<Code @name="docs-surrealql-functions-time-max.surql" text="API Definition">
			time::max(array) -> datetime
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-time-max-input.surql">
				RETURN time::max([ "1987-06-22T08:30:45Z", "1988-06-22T08:30:45Z" ])
			</Code>
			<Code @name="docs-surrealql-functions-time-max-result.txt">
				"1988-06-22T08:30:45Z"
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "min"}}>

	<Layout::Text text-l text-f>
		<h3>time::min</h3>
		<p>The <code>time::min</code> function extracts the minutes as a number from a datetime.</p>
		<Code @name="docs-surrealql-functions-time-min.surql" text="API Definition">
			time::min(array) -> datetime
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-time-min-input.surql">
				RETURN time::min([ "1987-06-22T08:30:45Z", "1988-06-22T08:30:45Z" ])
			</Code>
			<Code @name="docs-surrealql-functions-time-min-result.txt">
				"1987-06-22T08:30:45Z"
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "minute"}}>

	<Layout::Text text-l text-f>
		<h3>time::minute</h3>
		<p>The <code>time::minute</code> function extracts the minutes as a number from a datetime.</p>
		<Code @name="docs-surrealql-functions-time-minute.surql" text="API Definition">
			time::minute(datetime) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-time-minute-input.surql">
				RETURN time::minute("2021-11-01T08:30:17+00:00");
			</Code>
			<Code @name="docs-surrealql-functions-time-minute-result.txt">
				30
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "month"}}>

	<Layout::Text text-l text-f>
		<h3>time::month</h3>
		<p>The <code>time::month</code> function extracts the month as a number from a datetime.</p>
		<Code @name="docs-surrealql-functions-time-month.surql" text="API Definition">
			time::month(datetime) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-time-month-input.surql">
				RETURN time::month("2021-11-01T08:30:17+00:00");
			</Code>
			<Code @name="docs-surrealql-functions-time-month-result.txt">
				11
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "nano"}}>

	<Layout::Text text-l text-f>
		<h3>time::nano</h3>
		<p>The <code>time::nano</code> function returns a datetime as an integer representing the number of nanoseconds since the UNIX epoch.</p>
		<Code @name="docs-surrealql-functions-time-nano.surql" text="API Definition">
			time::nano(datetime) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-time-nano-input.surql">
				RETURN time::nano("2021-11-01T08:30:17+00:00");
			</Code>
			<Code @name="docs-surrealql-functions-time-nano-result.txt">
				1635755417000000000
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "now"}}>

	<Layout::Text text-l text-f>
		<h3>time::now</h3>
		<p>The <code>time::now</code> function returns the current datetime as an ISO8601 timestamp.</p>
		<Code @name="docs-surrealql-functions-time-now.surql" text="API Definition">
			time::now() -> datetime
		</Code>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "round"}}>

	<Layout::Text text-l text-f>
		<h3>time::round</h3>
		<p>The <code>time::round</code> function rounds a datetime up by a specific duration.</p>
		<Code @name="docs-surrealql-functions-time-round.surql" text="API Definition">
			time::round(datetime, duration) -> datetime
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-time-round-input.surql">
				RETURN time::round("2021-11-01T08:30:17+00:00", 1w);
			</Code>
			<Code @name="docs-surrealql-functions-time-round-result.txt">
				"2021-11-04T00:00:00Z"
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "second"}}>

	<Layout::Text text-l text-f>
		<h3>time::second</h3>
		<p>The <code>time::second</code> function extracts the second as a number from a datetime.</p>
		<Code @name="docs-surrealql-functions-time-second.surql" text="API Definition">
			time::second(datetime) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-time-second-input.surql">
				RETURN time::second("2021-11-01T08:30:17+00:00");
			</Code>
			<Code @name="docs-surrealql-functions-time-second-result.txt">
				17
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "timezone"}}>

	<Layout::Text text-l text-f>
		<h3>time::timezone</h3>
		<p>The <code>time::timezone</code> function returns the current local timezone offset in hours.</p>
		<Code @name="docs-surrealql-functions-time-timezone.surql" text="API Definition">
			time::timezone() -> string
		</Code>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "unix"}}>

	<Layout::Text text-l text-f>
		<h3>time::unix</h3>
		<p>The <code>time::unix</code> function returns a datetime as an integer representing the number of seconds since the UNIX epoch.</p>
		<Code @name="docs-surrealql-functions-time-unix.surql" text="API Definition">
			time::unix(datetime) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-time-unix-input.surql">
				RETURN time::unix("2021-11-01T08:30:17+00:00");
			</Code>
			<Code @name="docs-surrealql-functions-time-unix-result.txt">
				1635755417
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "wday"}}>

	<Layout::Text text-l text-f>
		<h3>time::wday</h3>
		<p>The <code>time::wday</code> function extracts the week day as a number from a datetime.</p>
		<Code @name="docs-surrealql-functions-time-wday.surql" text="API Definition">
			time::wday(datetime) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-time-wday-input.surql">
				RETURN time::wday("2021-11-01T08:30:17+00:00");
			</Code>
			<Code @name="docs-surrealql-functions-time-wday-result.txt">
				1
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "week"}}>

	<Layout::Text text-l text-f>
		<h3>time::week</h3>
		<p>The <code>time::week</code> function extracts the week as a number from a datetime.</p>
		<Code @name="docs-surrealql-functions-time-week.surql" text="API Definition">
			time::week(datetime) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-time-week-input.surql">
				RETURN time::week("2021-11-01T08:30:17+00:00");
			</Code>
			<Code @name="docs-surrealql-functions-time-week-result.txt">
				44
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "yday"}}>

	<Layout::Text text-l text-f>
		<h3>time::yday</h3>
		<p>The <code>time::yday</code> function extracts the yday as a number from a datetime.</p>
		<Code @name="docs-surrealql-functions-time-yday.surql" text="API Definition">
			time::yday(datetime) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-time-yday-input.surql">
				RETURN time::yday("2021-11-01T08:30:17+00:00");
			</Code>
			<Code @name="docs-surrealql-functions-time-yday-result.txt">
				305
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "year"}}>

	<Layout::Text text-l text-f>
		<h3>time::year</h3>
		<p>The <code>time::year</code> function extracts the year as a number from a datetime.</p>
		<Code @name="docs-surrealql-functions-time-year.surql" text="API Definition">
			time::year(datetime) -> number
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-time-year-input.surql">
				RETURN time::year("2021-11-01T08:30:17+00:00");
			</Code>
			<Code @name="docs-surrealql-functions-time-year-result.txt">
				2021
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "from-micros"}}>

	<Layout::Text text-l text-f>
		<h3>time::from::micros</h3>
		<p>The <code>time::from::micros</code> function calculates a datetime based on an amount of microseconds since January 1, 1970 0:00:00 UTC.</p>
		<Code @name="docs-surrealql-functions-time-micros.surql" text="API Definition">
			time::from::micros(number) -> datetime
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-time-micros-input.surql">
				RETURN time::from::micros(1000000);
			</Code>
			<Code @name="docs-surrealql-functions-time-micros-result.txt">
				"1970-01-01T00:00:01Z"
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "from-millis"}}>

	<Layout::Text text-l text-f>
		<h3>time::from::millis</h3>
		<p>The <code>time::from::millis</code> function calculates a datetime based on an amount of milliseconds since January 1, 1970 0:00:00 UTC.</p>
		<Code @name="docs-surrealql-functions-time-millis.surql" text="API Definition">
			time::from::millis(number) -> datetime
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-time-millis-input.surql">
				RETURN time::from::millis(1000);
			</Code>
			<Code @name="docs-surrealql-functions-time-millis-result.txt">
				"1970-01-01T00:00:01Z"
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "from-secs"}}>

	<Layout::Text text-l text-f>
		<h3>time::from::secs</h3>
		<p>The <code>time::from::secs</code> function calculates a datetime based on an amount of seconds since January 1, 1970 0:00:00 UTC.</p>
		<Code @name="docs-surrealql-functions-time-secs.surql" text="API Definition">
			time::from::secs(number) -> datetime
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-time-secs-input.surql">
				RETURN time::from::secs(1000);
			</Code>
			<Code @name="docs-surrealql-functions-time-secs-result.txt">
				"1970-01-01T00:16:40Z"
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap small />

<Layout::Group {{waypoint "from-unix"}}>

	<Layout::Text text-l text-f>
		<h3>time::from::unix</h3>
		<p>The <code>time::from::unix</code> function calculates a datetime based on an amount of seconds since January 1, 1970 0:00:00 UTC.</p>
		<Code @name="docs-surrealql-functions-time-unix.surql" text="API Definition">
			time::from::unix(number) -> datetime
		</Code>
		<p>The following example shows this function, and its output, when used in a <Link @link="docs.surrealql.statements.return"><code>RETURN</code></Link> statement:</p>
		<codes vertical>
			<Code @name="docs-surrealql-functions-time-unix-input.surql">
				RETURN time::from::unix(1000);
			</Code>
			<Code @name="docs-surrealql-functions-time-unix-result.txt">
				"1970-01-01T00:16:40Z"
			</Code>
		</codes>
	</Layout::Text>

</Layout::Group>

<Layout::Gap large />