{{#in-element (document-head) insertBefore=null}}
	<title>SurrealDB | About Us | The next generation serverless cloud database</title>
	<meta name="title" property="og:title" content="The next generation serverless cloud database">
	<meta name="description" content="SurrealDB is the next generation database for modern applications, with an SQL-style query language, real-time queries with highly-efficient related data retrieval, advanced security permissions for multi-tenant access, and support for performant analytical workloads, SurrealDB is the next generation serverless database.">
	<meta name="image" property="og:image" content="/static/img/preview/about.jpg">
	<meta property="og:type" content="website">
{{/in-element}}

<Layout::Gap small />

<Layout::Text text-l>
	<h1><img src="/static/img/text.svg" alt="SurrealDB" /> assets</h1>
	<p>For media inquires and more information, email us at <a href="mailto:info@surrealdb.com">info@surrealdb.com</a>.</p>
	<p>
		<a {{on "click" (scroll-into-view "#colours" smooth=true)}}>Colours</a>
		&bull;
		<a {{on "click" (scroll-into-view "#logosandicons" smooth=true)}}>Logos and icons</a>
		&bull;
		<a {{on "click" (scroll-into-view "#poweredby" smooth=true)}}>'Powered by' badges</a>
		&bull;
		<a {{on "click" (scroll-into-view "#builton" smooth=true)}}>'Built on' badges</a>
		&bull;
		<a {{on "click" (scroll-into-view "#press" smooth=true)}}>Press imagery</a>
		&bull;
		<a {{on "click" (scroll-into-view "#animation" smooth=true)}}>Animated logos</a>
	</p>
</Layout::Text>

<Layout::Gap mini />

<section id="colours">

	<Layout::Text text-l>
		<h2>Colours</h2>
	</Layout::Text>

	<Layout::Gap mini />

	<Layout::Blocks cols-3-to-2 as |block|>
		<block>
			<div curved bg-ff00a0 w-100 h-60px m-b-20></div>
			<h4 flex row middle>#ff00a0</h4>
		</block>
		<block>
			<div curved bg-9600ff w-100 h-60px m-b-20></div>
			<h4 flex row middle>#9600ff</h4>
		</block>
		<block>
			<div curved bg-ffffff w-100 h-60px m-b-20></div>
			<h4 flex row middle>#ffffff</h4>
		</block>
		<block>
			<div curved bg-171a21 w-100 h-60px m-b-20></div>
			<h4 flex row middle>#171a21</h4>
		</block>
		<block>
			<div curved bg-222632 w-100 h-60px m-b-20></div>
			<h4 flex row middle>#222632</h4>
		</block>
		<block>
			<div curved bg-aeb8ca w-100 h-60px m-b-20></div>
			<h4 flex row middle>#aeb8ca</h4>
		</block>
	</Layout::Blocks>

</section>

<section id="logosandicons">

	<Layout::Text text-l>
		<h2>Logos and icons</h2>
	</Layout::Text>

	<Layout::Gap mini />

	<Layout::Blocks cols-3-to-2-to-1 as |block|>
		<block>
			<grid p-30 flex row center middle>
				<img max-h-60 src="/static/img/assets/logo/light.svg" />
			</grid>
			<a m-t-10 m-r-10 href="/static/img/assets/logo/light.svg" download="surrealdb-logo-light">
				<i class="fal fa-cloud-download"></i> SVG
			</a>
			<a m-t-10 m-r-10 href="/static/img/assets/logo/light.png" download="surrealdb-logo-light">
				<i class="fal fa-cloud-download"></i> PNG
			</a>
		</block>
		<block>
			<grid p-30 flex row center middle>
				<img max-h-60 src="/static/img/assets/logo/dark.svg" />
			</grid>
			<a m-t-10 m-r-10 href="/static/img/assets/logo/dark.svg" download="surrealdb-logo-dark">
				<i class="fal fa-cloud-download"></i> SVG
			</a>
			<a m-t-10 m-r-10 href="/static/img/assets/logo/dark.png" download="surrealdb-logo-dark">
				<i class="fal fa-cloud-download"></i> PNG
			</a>
		</block>
		<block>
			<grid p-30 flex row center middle>
				<img max-h-60 src="/static/img/assets/icon/icon.svg" />
			</grid>
			<a m-t-10 m-r-10 href="/static/img/assets/icon/icon.svg" download="surrealdb-icon">
				<i class="fal fa-cloud-download"></i> SVG
			</a>
			<a m-t-10 m-r-10 href="/static/img/assets/icon/icon.png" download="surrealdb-icon">
				<i class="fal fa-cloud-download"></i> PNG
			</a>
		</block>
	</Layout::Blocks>

</section>

<section id="poweredby">

	<Layout::Text text-l>
		<h2>'Powered by' badges</h2>
	</Layout::Text>

	<Layout::Gap mini />

	<Layout::Blocks cols-3-to-2-to-1 as |block|>
		<block>
			<grid p-30 flex row center middle>
				<img max-h-60 src="/static/img/assets/poweredby/light.svg" />
			</grid>
			<a m-t-10 m-r-10 href="/static/img/assets/poweredby/light.svg" download="poweredby-surrealdb-light">
				<i class="fal fa-cloud-download"></i> SVG
			</a>
			<a m-t-10 m-r-10 href="/static/img/assets/poweredby/light.png" download="poweredby-surrealdb-light">
				<i class="fal fa-cloud-download"></i> PNG
			</a>
		</block>
		<block>
			<grid p-30 flex row center middle>
				<img max-h-60 src="/static/img/assets/poweredby/dark.svg" />
			</grid>
			<a m-t-10 m-r-10 href="/static/img/assets/poweredby/dark.svg" download="poweredby-surrealdb-dark">
				<i class="fal fa-cloud-download"></i> SVG
			</a>
			<a m-t-10 m-r-10 href="/static/img/assets/poweredby/dark.png" download="poweredby-surrealdb-dark">
				<i class="fal fa-cloud-download"></i> PNG
			</a>
		</block>
	</Layout::Blocks>

</section>

<section id="builton">

	<Layout::Text text-l>
		<h2>'Built on' badges</h2>
	</Layout::Text>

	<Layout::Gap mini />

	<Layout::Blocks cols-3-to-2-to-1 as |block|>
		<block>
			<grid p-30 flex row center middle>
				<img max-h-60 src="/static/img/assets/builton/light.svg" />
			</grid>
			<a m-t-10 m-r-10 href="/static/img/assets/builton/light.svg" download="builton-surrealdb-light">
				<i class="fal fa-cloud-download"></i> SVG
			</a>
			<a m-t-10 m-r-10 href="/static/img/assets/builton/light.png" download="builton-surrealdb-light">
				<i class="fal fa-cloud-download"></i> PNG
			</a>
		</block>
		<block>
			<grid p-30 flex row center middle>
				<img max-h-60 src="/static/img/assets/builton/dark.svg" />
			</grid>
			<a m-t-10 m-r-10 href="/static/img/assets/builton/dark.svg" download="builton-surrealdb-dark">
				<i class="fal fa-cloud-download"></i> SVG
			</a>
			<a m-t-10 m-r-10 href="/static/img/assets/builton/dark.png" download="builton-surrealdb-dark">
				<i class="fal fa-cloud-download"></i> PNG
			</a>
		</block>
	</Layout::Blocks>

</section>

<section id="press">

	<Layout::Text text-l>
		<h2>Press imagery</h2>
	</Layout::Text>

	<Layout::Gap mini />

	<Layout::Blocks cols-3-to-2-to-1 as |block|>
		<block>
			<grid p-30 flex row center middle>
				<img max-h-150 src="/static/img/assets/press/tagline.png" />
			</grid>
			<a m-t-10 m-r-10 href="https://surrealdb.s3.amazonaws.com/surrealdb-image-tagline.png" download="surrealdb-image-tagline">
				<i class="fal fa-cloud-download"></i> PNG
			</a>
		</block>
		<block>
			<grid p-30 flex row center middle>
				<img max-h-150 src="/static/img/assets/press/website.png" />
			</grid>
			<a m-t-10 m-r-10 href="https://surrealdb.s3.amazonaws.com/surrealdb-image-website.png" download="surrealdb-image-website">
				<i class="fal fa-cloud-download"></i> PNG
			</a>
		</block>
		<block>
			<grid p-30 flex row center middle>
				<img max-h-150 src="/static/img/assets/press/github.png" />
			</grid>
			<a m-t-10 m-r-10 href="https://surrealdb.s3.amazonaws.com/surrealdb-image-github.png" download="surrealdb-image-github">
				<i class="fal fa-cloud-download"></i> PNG
			</a>
		</block>
		<block>
			<grid p-30 flex row center middle>
				<img max-h-150 src="/static/img/assets/press/icon-3d.png" />
			</grid>
			<a m-t-10 m-r-10 href="https://surrealdb.s3.amazonaws.com/surrealdb-image-icon-3d.png" download="surrealdb-image-icon-3d">
				<i class="fal fa-cloud-download"></i> PNG
			</a>
		</block>
	</Layout::Blocks>

</section>

<section id="animation">

	<Layout::Text text-l>
		<h2>Animated logos</h2>
	</Layout::Text>

	<Layout::Gap mini />

	<Layout::Blocks cols-3-to-2-to-1 as |block|>
		<block>
			<p>Animated logo with sound</p>
			<grid p-30 flex row center middle>
				<video height="200" controls poster="/static/img/assets/animation/soundbite.png">
					<source src="https://surrealdb.s3.amazonaws.com/surrealdb-logo-soundbite.mp4" type="video/mp4" />
				</video>
			</grid>
			<a m-t-10 m-r-10 href="https://surrealdb.s3.amazonaws.com/surrealdb-logo-soundbite.mp4" download="surrealdb-logo-soundbite">
				<i class="fal fa-cloud-download"></i> MP4 (H.264)
			</a>
		</block>
		<block>
			<p>Animated logo without sound</p>
			<grid p-30 flex row center middle>
				<video height="200" controls poster="/static/img/assets/animation/animation.png">
					<source src="https://surrealdb.s3.amazonaws.com/surrealdb-logo-animation.mov" type="video/mov" />
				</video>
			</grid>
			<a m-t-10 m-r-10 href="https://surrealdb.s3.amazonaws.com/surrealdb-logo-animation.mov" download="surrealdb-logo-animation">
				<i class="fal fa-cloud-download"></i> MOV (Apple ProRes)
			</a>
		</block>
	</Layout::Blocks>

</section>