{{#if (is-route "blog.index")}}

	<Meta::Tags @type="blog">
		<title>SurrealDB | Blog | The ultimate serverless cloud database</title>
		<meta name="title" property="og:title" content="SurrealDB | Blog">
		<meta name="description" content="To stay up-to-date with new blog articles, future product releases, and documentation updates, subscribe to our email newsletter below.">
	</Meta::Tags>

	<Layout::Gap small />

	{{#if this.posts.length}}

		<Layout::Text>
			<h1><img inline src="/static/img/text.svg" alt="SurrealDB" /> blog</h1>
		</Layout::Text>

		<Layout::Gap small />

		<Layout::Boxes cols-3-to-2-to-1>
			{{#each this.posts as |post i|}}
				{{#if (eq 0 i)}}
					<LinkTo @route="blog.post" @model={{post.slug}} full side>
						<Layout::Boxes::Item @image={{blog-image post.image "main"}} @stamp={{date-format post.time "LL"}} @title={{post.title}} @label={{post.label}} @text={{markdown post.text inline=true}} />
					</LinkTo>
				{{else if (eq 1 i)}}
					<LinkTo @route="blog.post" @model={{post.slug}} mini>
						<Layout::Boxes::Item @image={{blog-image post.image "small"}} @stamp={{date-format post.time "LL"}} @title={{post.title}} @label={{post.label}} @text={{markdown post.text inline=true}} />
					</LinkTo>
				{{else if (eq 2 i)}}
					<LinkTo @route="blog.post" @model={{post.slug}} mini>
						<Layout::Boxes::Item @image={{blog-image post.image "small"}} @stamp={{date-format post.time "LL"}} @title={{post.title}} @label={{post.label}} @text={{markdown post.text inline=true}} />
					</LinkTo>
				{{else if (eq 3 i)}}
					<LinkTo @route="blog.post" @model={{post.slug}} mini>
						<Layout::Boxes::Item @image={{blog-image post.image "small"}} @stamp={{date-format post.time "LL"}} @title={{post.title}} @label={{post.label}} @text={{markdown post.text inline=true}} />
					</LinkTo>
				{{else}}
					<LinkTo @route="blog.post" @model={{post.slug}} half>
						<Layout::Boxes::Item @image={{blog-image post.image "large"}} @stamp={{date-format post.time "LL"}} @title={{post.title}} @label={{post.label}} @text={{markdown post.text inline=true}} />
					</LinkTo>
				{{/if}}
			{{/each}}
		</Layout::Boxes>

		<Layout::Gap small />

		<Layout::Text>
			<p>To stay up-to-date with new blog articles, future product releases, and documentation updates, subscribe to our email newsletter below, follow us on <Link @link={{url "twitter"}}>Twitter</Link>, or follow us on <Link @link={{url "dev"}}>Dev</Link>.</p>
			<Signup::Newsletter bordered thicker />
		</Layout::Text>

		<Layout::Gap small />

	{{else}}

		<Layout::Text>
			<h1><img inline src="/static/img/text.svg" alt="SurrealDB" /> blog</h1>
			<p>There aren't any posts here yet. To stay up-to-date with new blog articles, future product releases, and documentation updates, subscribe to our email newsletter below, follow us on <Link @link={{url "twitter"}}>Twitter</Link>, or follow us on <Link @link={{url "dev"}}>Dev</Link>.</p>
			<Signup::Newsletter bordered thicker />
		</Layout::Text>

		<Layout::Gap mini />

		<Layout::Image as |block|>
			<img src="/static/img/blog/main.png" alt="SurrealDB Blog coming soon" />
		</Layout::Image>

	{{/if}}

{{else}}

	{{outlet}}

{{/if}}