<Meta::Tags @image="https://surrealdb.com/static/img/preview/main.jpg">
	<title>SurrealDB | Careers | The ultimate serverless multi-model database</title>
	<meta name="title" property="og:title" content="SurrealDB | Careers">
	<meta name="description" content="Join the fastest-growing database company of all time">
</Meta::Tags>

<Layout::Head careers>
	<Layout::Text text-l>
		<h1>
			<img inline src="/static/img/text.svg" alt="SurrealDB" /> Careers
		</h1>
		<p>Join the fastest-growing database company of all time. We are seeking to <span gradient>hire the best</span> - people who care deeply about the work they do, and care about the people with whom they create and promote the product.</p>
	</Layout::Text>
</Layout::Head>

<Layout::Blocks main-l as |block|>
	<block>
		<pic>
			<img src="/static/img/careers/whatissurrealdb.png" />
		</pic>
	</block>
	<block flex col middle>
		<h3>What is SurrealDB?</h3>
		<p>The field of database technology is vast and ever-evolving, with SurrealDB leading the charge in innovation and sparking major transformations. At this time, SurrealDB is experiencing exponential growth, positioning it as the fastest-growing database in history. As the pioneering force in the next generation of serverless databases, SurrealDB is set to redefine the landscape of database technology.</p>
	</block>
</Layout::Blocks>

<Layout::Gap mini />

<Layout::Blocks main-r as |block|>
	<block flex col middle>
		<h3>Making an impact</h3>
		<p>Seize the opportunity to become part of the SurrealDB team and realise the potential of your impact, not just within the company, but on the global community at large. With SurrealDB, you're not just embracing the future of serverless databases, you are helping to shape it.</p>
	</block>
	<block>
		<pic>
			<img src="/static/img/careers/makeanimpact.png" />
		</pic>
	</block>
</Layout::Blocks>

<Layout::Gap large />

<Layout::Boxes cols-3-to-2-to-1>
	<Layout::Boxes::Item @image="/static/img/careers/careers1.png" hover />
	<Layout::Boxes::Item @image="/static/img/careers/careers2.png" hover />
	<Layout::Boxes::Item @image="/static/img/careers/careers3.png" hover />
	<Layout::Boxes::Item @image="/static/img/careers/careers4.png" hover />
	<Layout::Boxes::Item @image="/static/img/careers/careers5.png" hover />
	<Layout::Boxes::Item @image="/static/img/careers/careers6.png" hover />
</Layout::Boxes>

<Layout::Gap large />

<Layout::Text text-m id="positions">
	<h2>Our <span gradient>perks</span> and <span gradient>benefits</span></h2>
</Layout::Text>

<Layout::Gap mini />

<Layout::Boxes cols-3-to-2-to-1>
	<Layout::Boxes::Item @tick={{true}} @label="Balanced work life" />
	<Layout::Boxes::Item @tick={{true}} @label="Competitive salary and equity" />
	<Layout::Boxes::Item @tick={{true}} @label="401(k) Plan (US)" />
	<Layout::Boxes::Item @tick={{true}} @label="5 weeks paid vacation" />
	<Layout::Boxes::Item @tick={{true}} @label="Parental leave" />
	<Layout::Boxes::Item @tick={{true}} @label="Laptop, screen, and accessories" />
	<Layout::Boxes::Item @tick={{true}} @label="Regular team events and offsites" />
	<Layout::Boxes::Item @tick={{true}} @label="Health insurance" />
</Layout::Boxes>

<Layout::Gap large />

<Layout::Text text-c id="positions">
	<h2>There are currently no vacancies</h2>
	<h3>Please visit this page regularly to stay updated on any new job openings.</h3>
</Layout::Text>

<Layout::Gap large />