<Meta::Tags>
	<title>SurrealDB | Community | The ultimate serverless cloud database</title>
	<meta name="title" property="og:title" content="SurrealDB | Community">
	<meta name="description" content="Join our community of maintainers, contributors, users, and surreal enthusiasts and help us make SurrealDB better for developers all around the world.">
</Meta::Tags>

<Layout::Gap small />

<Layout::Text>
	<h5>We &nbsp; <i class="fal fa-heart"></i> &nbsp; open-source</h5>
	<h1><img inline src="/static/img/text.svg" alt="SurrealDB" /> Community</h1>
	<p>Join our community of maintainers, contributors, users, and surreal enthusiasts and help us make SurrealDB better for developers and organisations all around the world. If you have questions using SurrealDB, or if you have ideas on how to make it better we would love to hear from you.</p>
	<p>SurrealDB is being built in the open. We would love for you to be involved.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text>
	<Button::Thinner @link={{url "github"}}>
		<i class="fal fa-star"></i> <span>Star us on GitHub</span>
	</Button::Thinner>
	&nbsp;
	<Button::Thinner @link={{url "issues"}}>
		<i class="fal fa-code"></i> <span>Find open issues</span>
	</Button::Thinner>
</Layout::Text>

<Layout::Gap small />

<Layout::Boxes cols-4-to-2-to-1>
	<Link @link={{url "github"}} mini>
		<Layout::Boxes::Item @image="/static/img/community/github.jpg" @title="Github" @text="Star the SurrealDB repository on Github and keep track of development. Got a feature request, or found a bug? Then submit an issue on Github." hover />
	</Link>
	<Link @link={{url "discord"}} mini>
		<Layout::Boxes::Item @image="/static/img/community/discord.jpg" @title="Discord" @text="Join the community on Discord. Suggest ideas, get answers to questions, stay up-to-date with releases, and showcase your product built on SurrealDB." hover />
	</Link>
	<Link @link={{url "twitter"}} mini>
		<Layout::Boxes::Item @image="/static/img/community/twitter.jpg" @title="Twitter" @text="Follow us on Twitter for product updates and releases. We'll also showcase bits of the code and other products built on top of SurrealDB." hover />
	</Link>
	<Link @link={{url "linkedin"}} mini>
		<Layout::Boxes::Item @image="/static/img/community/linkedin.jpg" @title="LinkedIn" @text="Follow us on LinkedIn for product updates and releases, webinars, and for tips and tricks on using SurrealDB in your organisation." hover />
	</Link>
</Layout::Boxes>

<Layout::Gap small />

<Layout::Text text-l>
	<h2>Our open source projects</h2>
</Layout::Text>

<Layout::Gap mini />

<Section::Opensource />

<Layout::Gap small />

<Layout::Gap large />