<Meta::Tags>
	<title>SurrealDB | Community | The ultimate serverless cloud database</title>
	<meta name="title" property="og:title" content="SurrealDB | Community">
	<meta name="description" content="Join our community of maintainers, contributors, users, and surreal enthusiasts and help us make SurrealDB better for developers all around the world.">
</Meta::Tags>

<Layout::Gap small />

<Layout::Text>
	<h5>We &nbsp; <i class="fal fa-heart"></i> &nbsp; open-source</h5>
	<h1><img inline src="/static/img/text.svg" alt="SurrealDB" /> Community</h1>
	<p>Join our community of maintainers, contributors, users, and surreal enthusiasts and help us make SurrealDB better for developers and organisations all around the world. If you have questions using SurrealDB, or if you have ideas on how to make it better we would love to hear from you.</p>
	<p>SurrealDB is being built in the open. We would love for you to be involved.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text>
	<Button::Thinner @link={{url "github"}}>
		<i class="fal fa-star"></i> <span>Star us on GitHub</span>
	</Button::Thinner>
	&nbsp;
	<Button::Thinner @link={{url "issues"}}>
		<i class="fal fa-code"></i> <span>Find open issues</span>
	</Button::Thinner>
</Layout::Text>

<Layout::Gap small />

<Layout::Boxes cols-4-to-2-to-1>
	<Link @link={{url "github"}} mini>
		<Layout::Boxes::Item @image="/static/img/community/github.jpg" @title="Github" @text="Star the SurrealDB repository on Github and keep track of development. Got a feature request, or found a bug? Then submit an issue on Github." hover />
	</Link>
	<Link @link={{url "discord"}} mini>
		<Layout::Boxes::Item @image="/static/img/community/discord.jpg" @title="Discord" @text="Join the community on Discord. Suggest ideas, get answers to questions, stay up-to-date with releases, and showcase your product built on SurrealDB." hover />
	</Link>
	<Link @link={{url "twitter"}} mini>
		<Layout::Boxes::Item @image="/static/img/community/twitter.jpg" @title="Twitter" @text="Follow us on Twitter for product updates and releases. We'll also showcase bits of the code and other products built on top of SurrealDB." hover />
	</Link>
	<Link @link={{url "linkedin"}} mini>
		<Layout::Boxes::Item @image="/static/img/community/linkedin.jpg" @title="LinkedIn" @text="Follow us on LinkedIn for product updates and releases, webinars, and for tips and tricks on using SurrealDB in your organisation." hover />
	</Link>
</Layout::Boxes>

<Layout::Gap small />

<Layout::Gap mini />

<Layout::Text>
	<h2>Contributors</h2>
</Layout::Text>

<Layout::Gap mini />

<Layout::Blocks cols-6-to-2 as |block|>
	<block>
		<img src="/static/img/tobie.png" width="100px" height="115px" alt="Tobie Morgan Hitchcock" />
		<br><br>
		<a href="https://github.com/tobiemh" rel="noopener noreferrer" target="_blank">
			<h5 flex row middle>
				Tobie Morgan Hitchcock
			</h5>
		</a>
	</block>
	<block>
		<img src="/static/img/jaime.png" width="100px" height="115px" alt="Jaime Morgan Hitchcock" />
		<br><br>
		<a href="https://github.com/jaimemh" rel="noopener noreferrer" target="_blank">
			<h5 flex row middle>
				Jaime Morgan Hitchcock
			</h5>
		</a>
	</block>
	<block>
		<img src="/static/img/community/contributors/mariomonteiro.png" width="100px" height="115px" alt="Mário Monteiro" />
		<br><br>
		<a href="https://github.com/koakh" rel="noopener noreferrer" target="_blank">
			<h5 flex row middle>
				Mário Monteiro
			</h5>
		</a>
	</block>
	<block>
		<img src="/static/img/community/contributors/jareerabdullah.png" width="100px" height="115px" alt="Jareer Abdullah" />
		<br><br>
		<a href="https://github.com/jareer12" rel="noopener noreferrer" target="_blank">
			<h5 flex row middle>
				Jareer Abdullah
			</h5>
		</a>
	</block>
	<block>
		<img src="/static/img/community/contributors/zafaransari.png" width="100px" height="115px" alt="Zafar Ansari" />
		<br><br>
		<a href="https://github.com/ansarizafar" rel="noopener noreferrer" target="_blank">
			<h5 flex row middle>
				Zafar Ansari
			</h5>
		</a>
	</block>
	<block>
		<img src="/static/img/community/contributors/yusukekuoka.png" width="100px" height="115px" alt="Yusuke Kuoka" />
		<br><br>
		<a href="https://github.com/mumoshu" rel="noopener noreferrer" target="_blank">
			<h5 flex row middle>
				Yusuke Kuoka
			</h5>
		</a>
	</block>
	<block>
		<img src="/static/img/community/contributors/alexandrebencz.png" width="100px" height="115px" alt="Alexandre Bencz" />
		<br><br>
		<a href="https://github.com/bencz" rel="noopener noreferrer" target="_blank">
			<h5 flex row middle>
				Alexandre Bencz
			</h5>
		</a>
	</block>
	<block>
		<img src="/static/img/community/contributors/finnbear.png" width="100px" height="115px" alt="Finn Bear" />
		<br><br>
		<a href="https://github.com/finnbear" rel="noopener noreferrer" target="_blank">
			<h5 flex row middle>
				Finn Bear
			</h5>
		</a>
	</block>
	<block>
		<img src="/static/img/community/contributors/rushmoremushambi.png" width="100px" height="115px" alt="Rushmore Mushambi" />
		<br><br>
		<a href="https://github.com/rushmorem" rel="noopener noreferrer" target="_blank">
			<h5 flex row middle>
				Rushmore Mushambi
			</h5>
		</a>
	</block>
	<block>
		<img src="/static/img/community/contributors/seanleather.png" width="100px" height="115px" alt="Sean Leather" />
		<br><br>
		<a href="https://github.com/spl" rel="noopener noreferrer" target="_blank">
			<h5 flex row middle>
				Sean Leather
			</h5>
		</a>
	</block>
	<block>
		<img src="/static/img/community/contributors/michaeldelaney.png" width="100px" height="115px" alt="Michael Delaney" />
		<br><br>
		<a href="https://github.com/fusepilot" rel="noopener noreferrer" target="_blank">
			<h5 flex row middle>
				Michael Delaney
			</h5>
		</a>
	</block>
	<block>
		<img src="/static/img/community/contributors/sunero4.png" width="100px" height="115px" alt="sunero4" />
		<br><br>
		<a href="https://github.com/sunero4" rel="noopener noreferrer" target="_blank">
			<h5 flex row middle>
				sunero4
			</h5>
		</a>
	</block>
	<block>
		<img src="/static/img/community/contributors/mariog.png" width="100px" height="115px" alt="Mario G" />
		<br><br>
		<a href="https://github.com/iDschepe" rel="noopener noreferrer" target="_blank">
			<h5 flex row middle>
				Mario G
			</h5>
		</a>
	</block>
	<block>
		<img src="/static/img/community/contributors/timothystiles.png" width="100px" height="115px" alt="Timothy Stiles" />
		<br><br>
		<a href="https://github.com/TimothyStiles" rel="noopener noreferrer" target="_blank">
			<h5 flex row middle>
				Timothy Stiles
			</h5>
		</a>
	</block>
	<block>
		<img src="/static/img/community/contributors/aessedai.png" width="100px" height="115px" alt="AesSedai" />
		<br><br>
		<a href="https://github.com/AesSedai" rel="noopener noreferrer" target="_blank">
			<h5 flex row middle>
				AesSedai
			</h5>
		</a>
	</block>
	<block>
		<img src="/static/img/community/contributors/kianmengang.png" width="100px" height="115px" alt="Kian-Meng Ang" />
		<br><br>
		<a href="https://github.com/kianmeng" rel="noopener noreferrer" target="_blank">
			<h5 flex row middle>
				Kian-Meng Ang
			</h5>
		</a>
	</block>
</Layout::Blocks>

<Layout::Gap small />

<Layout::Gap mini />

<section>

	<Layout::Gap small />

	<Layout::Text>
		<h2>Loved by developers</h2>
	</Layout::Text>

	<Layout::Gap mini />

	<Section::Testimonials />

	<Layout::Gap small />

</section>

<Layout::Gap small />

<Layout::Text>
	<h2>Our open source projects</h2>
</Layout::Text>

<Layout::Gap mini />

<Section::Opensource />

<Layout::Gap small />

<Layout::Gap mini />