<Meta::Tags
	@title="SurrealDB | Community"
	@description="Join our community of maintainers, contributors, users, and surreal enthusiasts and help us make SurrealDB better for developers all around the world."
/>

<Layout::Gap small />

<Layout::Text>
	<h5>We &nbsp; <i class="fal fa-heart"></i> &nbsp; open-source</h5>
	<h1><img inline src="/static/img/text.svg" alt="SurrealDB" /> Community</h1>
	<p>Join our community of maintainers, contributors, users, and surreal enthusiasts and help us make SurrealDB better for developers and organisations all around the world. If you have questions using SurrealDB, or if you have ideas on how to make it better we would love to hear from you.</p>
	<p>SurrealDB is being built in the open. We would love for you to be involved.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text>
	<Button::Thinner @link={{url "github"}}>
		<i class="fal fa-star"></i> <span>Star us on GitHub</span>
	</Button::Thinner>
	&nbsp;
	<Button::Thinner @link={{url "issues"}}>
		<i class="fal fa-code"></i> <span>Find open issues</span>
	</Button::Thinner>
</Layout::Text>

<Layout::Gap small />

<Layout::Boxes cols-4-to-2-to-1>
	<Link @link={{url "github"}} mini>
		<Layout::Boxes::Item @image="/static/img/community/github.jpg" @title="Github" @text="Star the SurrealDB repository on Github and keep track of development. Got a feature request, or found a bug? Then submit an issue on Github." hover />
	</Link>
	<Link @link={{url "discord"}} mini>
		<Layout::Boxes::Item @image="/static/img/community/discord.jpg" @title="Discord" @text="Join the community on Discord. Suggest ideas, get answers to questions, stay up-to-date with releases, and showcase your product built on SurrealDB." hover />
	</Link>
	<Link @link={{url "twitter"}} mini>
		<Layout::Boxes::Item @image="/static/img/community/twitter.jpg" @title="Twitter" @text="Follow us on Twitter for product updates and releases. We'll also showcase bits of the code and other products built on top of SurrealDB." hover />
	</Link>
	<Link @link={{url "linkedin"}} mini>
		<Layout::Boxes::Item @image="/static/img/community/linkedin.jpg" @title="LinkedIn" @text="Follow us on LinkedIn for product updates and releases, webinars, and for tips and tricks on using SurrealDB in your organisation." hover />
	</Link>
</Layout::Boxes>

<Layout::Gap small />

<section>

	<Layout::Gap small />

	<Layout::Text>
		<h2>Contributors</h2>
	</Layout::Text>

	<Layout::Gap mini />

	<Layout::Blocks cols-6-to-2 as |block|>
		<block>
			<img src="/static/img/tobie.png" width="100px" height="115px" alt="Tobie Morgan Hitchcock" />
			<br><br>
			<a href="https://github.com/tobiemh" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					Tobie Morgan Hitchcock
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/jaime.png" width="100px" height="115px" alt="Jaime Morgan Hitchcock" />
			<br><br>
			<a href="https://github.com/jaimemh" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					Jaime Morgan Hitchcock
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/mariomonteiro.png" width="100px" height="115px" alt="Mário Monteiro" />
			<br><br>
			<a href="https://github.com/koakh" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					Mário Monteiro
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/jareerabdullah.png" width="100px" height="115px" alt="Jareer Abdullah" />
			<br><br>
			<a href="https://github.com/jareer12" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					Jareer Abdullah
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/zafaransari.png" width="100px" height="115px" alt="Zafar Ansari" />
			<br><br>
			<a href="https://github.com/ansarizafar" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					Zafar Ansari
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/yusukekuoka.png" width="100px" height="115px" alt="Yusuke Kuoka" />
			<br><br>
			<a href="https://github.com/mumoshu" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					Yusuke Kuoka
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/alexandrebencz.png" width="100px" height="115px" alt="Alexandre Bencz" />
			<br><br>
			<a href="https://github.com/bencz" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					Alexandre Bencz
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/finnbear.png" width="100px" height="115px" alt="Finn Bear" />
			<br><br>
			<a href="https://github.com/finnbear" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					Finn Bear
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/rushmoremushambi.png" width="100px" height="115px" alt="Rushmore Mushambi" />
			<br><br>
			<a href="https://github.com/rushmorem" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					Rushmore Mushambi
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/seanleather.png" width="100px" height="115px" alt="Sean Leather" />
			<br><br>
			<a href="https://github.com/spl" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					Sean Leather
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/michaeldelaney.png" width="100px" height="115px" alt="Michael Delaney" />
			<br><br>
			<a href="https://github.com/fusepilot" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					Michael Delaney
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/sunero4.png" width="100px" height="115px" alt="sunero4" />
			<br><br>
			<a href="https://github.com/sunero4" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					sunero4
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/mariog.png" width="100px" height="115px" alt="Mario G" />
			<br><br>
			<a href="https://github.com/iDschepe" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					Mario G
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/timothystiles.png" width="100px" height="115px" alt="Timothy Stiles" />
			<br><br>
			<a href="https://github.com/TimothyStiles" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					Timothy Stiles
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/aessedai.png" width="100px" height="115px" alt="AesSedai" />
			<br><br>
			<a href="https://github.com/AesSedai" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					AesSedai
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/kianmengang.png" width="100px" height="115px" alt="Kian-Meng Ang" />
			<br><br>
			<a href="https://github.com/kianmeng" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					Kian-Meng Ang
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/nicolascattaglia.png" width="100px" height="115px" alt="Nicola Scattaglia" />
			<br><br>
			<a href="https://github.com/scottaglia" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					Nicola Scattaglia
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/tsunyoku.png" width="100px" height="115px" alt="tsunyoku" />
			<br><br>
			<a href="https://github.com/tsunyoku" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					tsunyoku
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/ryanrussell.png" width="100px" height="115px" alt="Ryan Russell" />
			<br><br>
			<a href="https://github.com/ryanrussell" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					Ryan Russell
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/celebratevc.png" width="100px" height="115px" alt="CelebrateVC" />
			<br><br>
			<a href="https://github.com/CelebrateVC" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					CelebrateVC
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/fabianofrizzo.png" width="100px" height="115px" alt="Fabiano Frizzo" />
			<br><br>
			<a href="https://github.com/ffrizzo" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					Fabiano Frizzo
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/ikkoashimine.png" width="100px" height="115px" alt="Ikko Ashimine" />
			<br><br>
			<a href="https://github.com/eltociear" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					Ikko Ashimine
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/hugosaracino.png" width="100px" height="115px" alt="Hugo Saracino" />
			<br><br>
			<a href="https://github.com/Punie" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					Hugo Saracino
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/birnadinerick.png" width="100px" height="115px" alt="Birnadin Erick" />
			<br><br>
			<a href="https://github.com/BirnadinErick" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					Birnadin Erick
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/benscholer.png" width="100px" height="115px" alt="Ben Scholer" />
			<br><br>
			<a href="https://github.com/bscholer" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					Ben Scholer
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/sventaute.png" width="100px" height="115px" alt="Sven Taute" />
			<br><br>
			<a href="https://github.com/svent" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					Sven Taute
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/snoopdouglas.png" width="100px" height="115px" alt="snoopdouglas" />
			<br><br>
			<a href="https://github.com/snoopdouglas" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					snoopdouglas
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/andreimiulescu.png" width="100px" height="115px" alt="Andrei Miulescu" />
			<br><br>
			<a href="https://github.com/andreimc" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					Andrei Miulescu
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/stephengilboy.png" width="100px" height="115px" alt="Stephen Gilboy" />
			<br><br>
			<a href="https://github.com/StephenGilboy" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					Stephen Gilboy
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/a10kiloham.png" width="100px" height="115px" alt="a10kiloham" />
			<br><br>
			<a href="https://github.com/a10kiloham" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					a10kiloham
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/sebastiankruger.png" width="100px" height="115px" alt="Sebastian Krüger" />
			<br><br>
			<a href="https://github.com/mathe42" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					Sebastian Krüger
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/oberbeck.png" width="100px" height="115px" alt="oberbeck" />
			<br><br>
			<a href="https://github.com/oberbeck" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					oberbeck
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/chooks22.png" width="100px" height="115px" alt="Chooks22" />
			<br><br>
			<a href="https://github.com/Chooks22" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					Chooks22
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/garrisonhenkle.png" width="100px" height="115px" alt="Garrison Henkle" />
			<br><br>
			<a href="https://github.com/garrison-henkle" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					Garrison Henkle
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/marklussier.png" width="100px" height="115px" alt="Mark Lussier" />
			<br><br>
			<a href="https://github.com/intabulas" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					Mark Lussier
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/dylanbutler.png" width="100px" height="115px" alt="Dylan Butler" />
			<br><br>
			<a href="https://github.com/dbut2" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					Dylan Butler
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/ikaio.png" width="100px" height="115px" alt="ikaio" />
			<br><br>
			<a href="https://github.com/iKaio" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					ikaio
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/jhackenberg.png" width="100px" height="115px" alt="jhackenberg" />
			<br><br>
			<a href="https://github.com/jhackenberg" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					jhackenberg
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/caeden.png" width="100px" height="115px" alt="Caeden" />
			<br><br>
			<a href="https://github.com/CaedenPH" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					Caeden
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/samkenney.png" width="100px" height="115px" alt="Sam Kenney" />
			<br><br>
			<a href="https://github.com/sam-kenney" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					Sam Kenney
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/joel.png" width="100px" height="115px" alt="Joel" />
			<br><br>
			<a href="https://github.com/jyooru" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					Joel
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/tudorandreidumitrascu.png" width="100px" height="115px" alt="Tudor Andrei Dumitrascu" />
			<br><br>
			<a href="https://github.com/TudorAndrei" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					Tudor Andrei Dumitrascu
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/fabiotramasoli.png" width="100px" height="115px" alt="Fábio Tramasoli" />
			<br><br>
			<a href="https://github.com/ilosamart" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					Fábio Tramasoli
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/jirapongpansak.png" width="100px" height="115px" alt="Jirapong Pansak" />
			<br><br>
			<a href="https://github.com/MaoMaoCake" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					Jirapong Pansak
				</h5>
			</a>
		</block>
		<block>
			<img src="/static/img/community/contributors/khalidalharisi.png" width="100px" height="115px" alt="Khalid Alharisi" />
			<br><br>
			<a href="https://github.com/coder966" rel="noopener noreferrer" target="_blank">
				<h5 flex row middle>
					Khalid Alharisi
				</h5>
			</a>
		</block>
	</Layout::Blocks>

	<Layout::Gap small />

	<Layout::Text>
		<h2>Loved by developers</h2>
	</Layout::Text>

	<Layout::Gap mini />

	<Section::Testimonials />

	<Layout::Gap small />

</section>

<Layout::Gap small />

<Layout::Text>
	<h2>Our open source projects</h2>
</Layout::Text>

<Layout::Gap mini />

<Section::Opensource />

<Layout::Gap small />

<Layout::Gap mini />