<Meta::Tags
	@title="SurrealDB | Documentation"
	@description="The official documentation and guides for getting started and using SurrealDB in development and production."
/>

<line></line>

<Layout::Helm docs>

	<Layout::Helm::Menu>
		<div>
			<a {{on "click" (scroll-to top=0 smooth=true)}}>
				<i class="fas fa-arrow-up"></i>
				<span>Back to top</span>
			</a>
		</div>
		<nav>

			<Layout::Helm::Menu::Item @link="docs" @text="Overview" selected={{begs-with (route-name) "docs.index"}} />

			<Layout::Helm::Menu::Item @link="docs.introduction" @text="Introduction" selected={{begs-with (route-name) "docs.introduction"}} />
			<subs>
				<Layout::Helm::Menu::Item @link="docs.introduction.index" @text="Overview" selected={{begs-with (route-name) "docs.introduction.index"}} />
				<Layout::Helm::Menu::Item @link="docs.introduction.start" @text="Quick start" selected={{begs-with (route-name) "docs.introduction.start"}} />
				<Layout::Helm::Menu::Item @link="docs.introduction.concepts" @text="Concepts" selected={{begs-with (route-name) "docs.introduction.concepts"}} />
				<Layout::Helm::Menu::Item @link="docs.introduction.features" @text="Features" selected={{begs-with (route-name) "docs.introduction.features"}} />
				<Layout::Helm::Menu::Item @link="docs.introduction.releases" @text="Releases" selected={{begs-with (route-name) "docs.introduction.releases"}} />
				<Layout::Helm::Menu::Item @link="docs.introduction.questions" @text="Questions" selected={{begs-with (route-name) "docs.introduction.questions"}} />
				<Layout::Helm::Menu::Item @link="docs.introduction.architecture" @text="Architecture" selected={{begs-with (route-name) "docs.introduction.architecture"}} />
			</subs>

			<Layout::Helm::Menu::Item @link="docs.installation" @text="Installation" selected={{begs-with (route-name) "docs.installation"}} />
			<subs>
				<Layout::Helm::Menu::Item @link="docs.installation" @text="Overview" selected={{begs-with (route-name) "docs.installation.index"}} />
				<Layout::Helm::Menu::Item @link="docs.installation.macos" @text="Install on macOS" selected={{begs-with (route-name) "docs.installation.macos"}} />
				<Layout::Helm::Menu::Item @link="docs.installation.linux" @text="Install on Linux" selected={{begs-with (route-name) "docs.installation.linux"}} />
				<Layout::Helm::Menu::Item @link="docs.installation.windows" @text="Install on Windows" selected={{begs-with (route-name) "docs.installation.windows"}} />
				<Layout::Helm::Menu::Item @link="docs.installation.nightly" @text="Install the Nightly" selected={{begs-with (route-name) "docs.installation.nightly"}} />
				<Layout::Helm::Menu::Item @link="docs.installation.running.docker" @text="Run with Docker" selected={{begs-with (route-name) "docs.installation.running.docker"}} />
				<Layout::Helm::Menu::Item @link="docs.installation.running.memory" @text="Run an in-memory server" selected={{begs-with (route-name) "docs.installation.running.memory"}} />
				<Layout::Helm::Menu::Item @link="docs.installation.running.file" @text="Run a disk-based server" selected={{begs-with (route-name) "docs.installation.running.file"}} />
				<Layout::Helm::Menu::Item @link="docs.installation.running.tikv" @text="Run a multi-node cluster" selected={{begs-with (route-name) "docs.installation.running.tikv"}} />
				<Layout::Helm::Menu::Item @link="docs.installation.upgrading.beta8-to-beta9" @text="Upgrade beta-8 to beta-9" selected={{begs-with (route-name) "docs.installation.upgrading.beta8-to-beta9"}} />
			</subs>

			{{!-- <Layout::Helm::Menu::Item @link="docs.authentication" @text="Authentication" selected={{begs-with (route-name) "docs.authentication"}} />
			<subs>
				<Layout::Helm::Menu::Item @link="docs.authentication" @text="Overview" selected={{begs-with (route-name) "docs.authentication.index"}} />
				<Layout::Helm::Menu::Item @link="docs.authentication.root" @text="Server-side" selected={{begs-with (route-name) "docs.authentication.root"}} />
				<Layout::Helm::Menu::Item @link="docs.authentication.root" @text="Client-side" selected={{begs-with (route-name) "docs.authentication.root"}} />
			</subs> --}}

			<Layout::Helm::Menu::Item @link="docs.deployment" @text="Deployment" selected={{begs-with (route-name) "docs.deployment"}} />
			<subs>
				<Layout::Helm::Menu::Item @link="docs.deployment" @text="Overview" selected={{begs-with (route-name) "docs.deployment.index"}} />
				<Layout::Helm::Menu::Item @link="docs.deployment.fly" @text="Deploy on Fly.io" selected={{begs-with (route-name) "docs.deployment.fly" }} />
				<Layout::Helm::Menu::Item @link="docs.deployment.google" @text="Deploy on GCP" selected={{begs-with (route-name) "docs.deployment.google"}} />
				<Layout::Helm::Menu::Item @link="docs.deployment.amazon" @text="Deploy on AWS" selected={{begs-with (route-name) "docs.deployment.amazon"}} />
				<Layout::Helm::Menu::Item @link="docs.deployment.kubernetes" @text="Deploy on Kubernetes" selected={{begs-with (route-name) "docs.deployment.kubernetes"}} />
				<Layout::Helm::Menu::Item @link="docs.deployment.heroku" @text="Deploy on Heroku" selected={{begs-with (route-name) "docs.deployment.heroku"}} />
				<Layout::Helm::Menu::Item @link="docs.deployment.digitalocean" @text="Deploy on DigitalOcean" selected={{begs-with (route-name) "docs.deployment.digitalocean"}} />
			</subs>

			<Layout::Helm::Menu::Item @link="docs.embedding" @text="Embedding" selected={{begs-with (route-name) "docs.embedding"}} />
			<subs>
				<Layout::Helm::Menu::Item @link="docs.embedding.rust" @text="Embedding in Rust" selected={{begs-with (route-name) "docs.embedding.rust"}} />
				<Layout::Helm::Menu::Item @link="docs.embedding.node" @text="Embedding in Node.js" selected={{begs-with (route-name) "docs.embedding.node"}} />
				<Layout::Helm::Menu::Item @link="docs.embedding.javascript" @text="Embedding in JavaScript" selected={{begs-with (route-name) "docs.embedding.javascript"}} />
				<Layout::Helm::Menu::Item @link="docs.embedding.python" @text="Embedding in Python" selected={{begs-with (route-name) "docs.embedding.python"}} />
			</subs>

			<Layout::Helm::Menu::Item @link="docs.integration" @text="Integration" selected={{begs-with (route-name) "docs.integration"}} />
			<subs>
				<Layout::Helm::Menu::Item @link="docs.integration" @text="Overview" selected={{begs-with (route-name) "docs.integration.index"}} />
				<Layout::Helm::Menu::Item @link="docs.integration.libraries" @text="Libraries" selected={{begs-with (route-name) "docs.integration.libraries"}} />
				<Layout::Helm::Menu::Item @link="docs.integration.http" @text="HTTP & Rest" selected={{begs-with (route-name) "docs.integration.http"}} />
				<Layout::Helm::Menu::Item @link="docs.integration.websockets" @text="Websockets" selected={{begs-with (route-name) "docs.integration.websockets"}} />
			</subs>

			<Layout::Helm::Menu::Item @link="docs.surrealql" @text="SurrealQL" selected={{begs-with (route-name) "docs.surrealql"}} />
			<subs>

				<Layout::Helm::Menu::Item @link="docs.surrealql.index" @text="Overview" selected={{begs-with (route-name) "docs.surrealql.index"}} />

				<Layout::Helm::Menu::Item @link="docs.surrealql.comments" @text="Comments" selected={{begs-with (route-name) "docs.surrealql.comments"}} />

				<Layout::Helm::Menu::Item @link="docs.surrealql.datamodel" @text="Data model" selected={{begs-with (route-name) "docs.surrealql.datamodel"}} />
				<subs>
					<Layout::Helm::Menu::Item @link="docs.surrealql.datamodel.index" @text="Overview" selected={{begs-with (route-name) "docs.surrealql.datamodel.index"}} />
					<Layout::Helm::Menu::Item @link="docs.surrealql.datamodel.ids" @text="Record IDs" selected={{begs-with (route-name) "docs.surrealql.datamodel.ids"}} />
					<Layout::Helm::Menu::Item @link="docs.surrealql.datamodel.simple" @text="Basic types" selected={{begs-with (route-name) "docs.surrealql.datamodel.simple"}} />
					<Layout::Helm::Menu::Item @link="docs.surrealql.datamodel.strings" @text="Strings" selected={{begs-with (route-name) "docs.surrealql.datamodel.strings"}} />
					<Layout::Helm::Menu::Item @link="docs.surrealql.datamodel.numbers" @text="Numbers" selected={{begs-with (route-name) "docs.surrealql.datamodel.numbers"}} />
					<Layout::Helm::Menu::Item @link="docs.surrealql.datamodel.datetimes" @text="Datetimes" selected={{begs-with (route-name) "docs.surrealql.datamodel.datetimes"}} />
					<Layout::Helm::Menu::Item @link="docs.surrealql.datamodel.geometries" @text="Geometries" selected={{begs-with (route-name) "docs.surrealql.datamodel.geometries"}} />
					<Layout::Helm::Menu::Item @link="docs.surrealql.datamodel.records" @text="Record links" selected={{begs-with (route-name) "docs.surrealql.datamodel.records"}} />
					<Layout::Helm::Menu::Item @link="docs.surrealql.datamodel.futures" @text="Futures" selected={{begs-with (route-name) "docs.surrealql.datamodel.futures"}} />
					<Layout::Helm::Menu::Item @link="docs.surrealql.datamodel.casting" @text="Casting" selected={{begs-with (route-name) "docs.surrealql.datamodel.casting"}} />
				</subs>

				<Layout::Helm::Menu::Item @link="docs.surrealql.statements" @text="Statements" selected={{begs-with (route-name) "docs.surrealql.statements"}} />
				<subs>
					<Layout::Helm::Menu::Item @link="docs.surrealql.statements.index" @text="Overview" selected={{begs-with (route-name) "docs.surrealql.statements.index"}} />
					<Layout::Helm::Menu::Item @link="docs.surrealql.statements.use" @text="USE" selected={{begs-with (route-name) "docs.surrealql.statements.use"}} />
					<Layout::Helm::Menu::Item @link="docs.surrealql.statements.let" @text="LET" selected={{begs-with (route-name) "docs.surrealql.statements.let"}} />
					<Layout::Helm::Menu::Item @link="docs.surrealql.statements.begin" @text="BEGIN" selected={{begs-with (route-name) "docs.surrealql.statements.begin"}} />
					<Layout::Helm::Menu::Item @link="docs.surrealql.statements.cancel" @text="CANCEL" selected={{begs-with (route-name) "docs.surrealql.statements.cancel"}} />
					<Layout::Helm::Menu::Item @link="docs.surrealql.statements.commit" @text="COMMIT" selected={{begs-with (route-name) "docs.surrealql.statements.commit"}} />
					<Layout::Helm::Menu::Item @link="docs.surrealql.statements.ifelse" @text="IF ELSE" selected={{begs-with (route-name) "docs.surrealql.statements.ifelse"}} />
					<Layout::Helm::Menu::Item @link="docs.surrealql.statements.select" @text="SELECT" selected={{begs-with (route-name) "docs.surrealql.statements.select"}} />
					<Layout::Helm::Menu::Item @link="docs.surrealql.statements.insert" @text="INSERT" selected={{begs-with (route-name) "docs.surrealql.statements.insert"}} />
					<Layout::Helm::Menu::Item @link="docs.surrealql.statements.create" @text="CREATE" selected={{begs-with (route-name) "docs.surrealql.statements.create"}} />
					<Layout::Helm::Menu::Item @link="docs.surrealql.statements.update" @text="UPDATE" selected={{begs-with (route-name) "docs.surrealql.statements.update"}} />
					<Layout::Helm::Menu::Item @link="docs.surrealql.statements.relate" @text="RELATE" selected={{begs-with (route-name) "docs.surrealql.statements.relate"}} />
					<Layout::Helm::Menu::Item @link="docs.surrealql.statements.delete" @text="DELETE" selected={{begs-with (route-name) "docs.surrealql.statements.delete"}} />
					<Layout::Helm::Menu::Item @link="docs.surrealql.statements.define" @text="DEFINE" selected={{begs-with (route-name) "docs.surrealql.statements.define"}} />
					<subs>
						<Layout::Helm::Menu::Item @link="docs.surrealql.statements.define.namespace" @text="DEFINE NAMESPACE" selected={{begs-with (route-name) "docs.surrealql.statements.define.namespace"}} />
						<Layout::Helm::Menu::Item @link="docs.surrealql.statements.define.database" @text="DEFINE DATABASE" selected={{begs-with (route-name) "docs.surrealql.statements.define.database"}} />
						<Layout::Helm::Menu::Item @link="docs.surrealql.statements.define.login" @text="DEFINE LOGIN" selected={{begs-with (route-name) "docs.surrealql.statements.define.login"}} />
						<Layout::Helm::Menu::Item @link="docs.surrealql.statements.define.token" @text="DEFINE TOKEN" selected={{begs-with (route-name) "docs.surrealql.statements.define.token"}} />
						<Layout::Helm::Menu::Item @link="docs.surrealql.statements.define.scope" @text="DEFINE SCOPE" selected={{begs-with (route-name) "docs.surrealql.statements.define.scope"}} />
						<Layout::Helm::Menu::Item @link="docs.surrealql.statements.define.table" @text="DEFINE TABLE" selected={{begs-with (route-name) "docs.surrealql.statements.define.table"}} />
						<Layout::Helm::Menu::Item @link="docs.surrealql.statements.define.event" @text="DEFINE EVENT" selected={{begs-with (route-name) "docs.surrealql.statements.define.event"}} />
						<Layout::Helm::Menu::Item @link="docs.surrealql.statements.define.function" @text="DEFINE FUNCTION" selected={{begs-with (route-name) "docs.surrealql.statements.define.function"}} />
						<Layout::Helm::Menu::Item @link="docs.surrealql.statements.define.field" @text="DEFINE FIELD" selected={{begs-with (route-name) "docs.surrealql.statements.define.field"}} />
						<Layout::Helm::Menu::Item @link="docs.surrealql.statements.define.indexes" @text="DEFINE INDEX" selected={{begs-with (route-name) "docs.surrealql.statements.define.indexes"}} />
						<Layout::Helm::Menu::Item @link="docs.surrealql.statements.define.param" @text="DEFINE PARAM" selected={{begs-with (route-name) "docs.surrealql.statements.define.param"}} />
					</subs>
					<Layout::Helm::Menu::Item @link="docs.surrealql.statements.remove" @text="REMOVE" selected={{begs-with (route-name) "docs.surrealql.statements.remove"}} />
					<Layout::Helm::Menu::Item @link="docs.surrealql.statements.info" @text="INFO" selected={{begs-with (route-name) "docs.surrealql.statements.info"}} />
					<Layout::Helm::Menu::Item @link="docs.surrealql.statements.sleep" @text="SLEEP" selected={{begs-with (route-name) "docs.surrealql.statements.sleep"}} />
				</subs>

				<Layout::Helm::Menu::Item @link="docs.surrealql.operators" @text="Operators" selected={{begs-with (route-name) "docs.surrealql.operators"}} />
				<Layout::Helm::Menu::Item @link="docs.surrealql.parameters" @text="Parameters" selected={{begs-with (route-name) "docs.surrealql.parameters"}} />
				{{!-- <Layout::Helm::Menu::Item @link="docs.surrealql.expressions" @text="Expressions" selected={{begs-with (route-name) "docs.surrealql.expressions"}} /> --}}
				<Layout::Helm::Menu::Item @link="docs.surrealql.transactions" @text="Transactions" selected={{begs-with (route-name) "docs.surrealql.transactions"}} />

				<Layout::Helm::Menu::Item @link="docs.surrealql.functions" @text="Functions" selected={{begs-with (route-name) "docs.surrealql.functions"}} />
				<subs>
					<Layout::Helm::Menu::Item @link="docs.surrealql.functions.index" @text="Overview" selected={{begs-with (route-name) "docs.surrealql.functions.index"}} />
					<Layout::Helm::Menu::Item @link="docs.surrealql.functions.array" @text="Array functions" selected={{begs-with (route-name) "docs.surrealql.functions.array"}} />
					<Layout::Helm::Menu::Item @link="docs.surrealql.functions.count" @text="Count function" selected={{begs-with (route-name) "docs.surrealql.functions.count"}} />
					<Layout::Helm::Menu::Item @link="docs.surrealql.functions.crypto" @text="Crypto functions" selected={{begs-with (route-name) "docs.surrealql.functions.crypto"}} />
					<Layout::Helm::Menu::Item @link="docs.surrealql.functions.geo" @text="Geo functions" selected={{begs-with (route-name) "docs.surrealql.functions.geo"}} />
					<Layout::Helm::Menu::Item @link="docs.surrealql.functions.http" @text="HTTP functions" selected={{begs-with (route-name) "docs.surrealql.functions.http"}} />
					<Layout::Helm::Menu::Item @link="docs.surrealql.functions.validation" @text="Validation functions" selected={{begs-with (route-name) "docs.surrealql.functions.validation"}} />
					<Layout::Helm::Menu::Item @link="docs.surrealql.functions.math" @text="Math functions" selected={{begs-with (route-name) "docs.surrealql.functions.math"}} />
					<Layout::Helm::Menu::Item @link="docs.surrealql.functions.meta" @text="Meta functions" selected={{begs-with (route-name) "docs.surrealql.functions.meta"}} />
					<Layout::Helm::Menu::Item @link="docs.surrealql.functions.parse" @text="Parse functions" selected={{begs-with (route-name) "docs.surrealql.functions.parse"}} />
					<Layout::Helm::Menu::Item @link="docs.surrealql.functions.rand" @text="Rand functions" selected={{begs-with (route-name) "docs.surrealql.functions.rand"}} />
					<Layout::Helm::Menu::Item @link="docs.surrealql.functions.session" @text="Session functions" selected={{begs-with (route-name) "docs.surrealql.functions.session"}} />
					<Layout::Helm::Menu::Item @link="docs.surrealql.functions.sleep" @text="Sleep function" selected={{begs-with (route-name) "docs.surrealql.functions.sleep"}} />
					<Layout::Helm::Menu::Item @link="docs.surrealql.functions.string" @text="String functions" selected={{begs-with (route-name) "docs.surrealql.functions.string"}} />
					<Layout::Helm::Menu::Item @link="docs.surrealql.functions.time" @text="Time functions" selected={{begs-with (route-name) "docs.surrealql.functions.time"}} />
					<Layout::Helm::Menu::Item @link="docs.surrealql.functions.type" @text="Type functions" selected={{begs-with (route-name) "docs.surrealql.functions.type"}} />
					<Layout::Helm::Menu::Item @link="docs.surrealql.functions.script" @text="Scripting functions" selected={{begs-with (route-name) "docs.surrealql.functions.script"}} />
			</subs>

			</subs>

			<Layout::Helm::Menu::Item @link="docs.cli" @text="CLI tool" selected={{begs-with (route-name) "docs.cli"}} />
			<subs>
				<Layout::Helm::Menu::Item @link="docs.cli.index" @text="Overview" selected={{begs-with (route-name) "docs.cli.index"}} />
				<Layout::Helm::Menu::Item @link="docs.cli.start" @text="Start command" selected={{begs-with (route-name) "docs.cli.start"}} />
				<Layout::Helm::Menu::Item @link="docs.cli.import" @text="Import command" selected={{begs-with (route-name) "docs.cli.import"}} />
				<Layout::Helm::Menu::Item @link="docs.cli.export" @text="Export command" selected={{begs-with (route-name) "docs.cli.export"}} />
				<Layout::Helm::Menu::Item @link="docs.cli.version" @text="Version command" selected={{begs-with (route-name) "docs.cli.version"}} />
				<Layout::Helm::Menu::Item @link="docs.cli.isready" @text="Isready command" selected={{begs-with (route-name) "docs.cli.isready"}} />
				<Layout::Helm::Menu::Item @link="docs.cli.sql" @text="SQL command" selected={{begs-with (route-name) "docs.cli.sql"}} />
				<Layout::Helm::Menu::Item @link="docs.cli.help" @text="Help command" selected={{begs-with (route-name) "docs.cli.help"}} />
			</subs>

			{{!-- <Layout::Helm::Menu::Item @link="docs.guides" @text="Guides" selected={{begs-with (route-name) "docs.guides"}} />
			<subs>
				<Layout::Helm::Menu::Item @link="docs.guides" @text="Overview" selected={{begs-with (route-name) "docs.guides.index"}} />
				<Layout::Helm::Menu::Item @link="docs.guides.strict-mode" @text="Running in strict mode" selected={{begs-with (route-name) "docs.guides.strict-mode"}} />
				<Layout::Helm::Menu::Item @link="docs.guides.schemafull-or-schemaless" @text="Schemafull or schemaless" selected={{begs-with (route-name) "docs.guides.schemafull-or-schemaless"}} />
				<Layout::Helm::Menu::Item @link="docs.guides.relations-and-graph" @text="Relations and the graph" selected={{begs-with (route-name) "docs.guides.relations-and-graph"}} />
				<Layout::Helm::Menu::Item @link="docs.guides.realtime-subscriptions" @text="Realtime subscriptions" selected={{begs-with (route-name) "docs.guides.realtime-subscriptions"}} />
				<Layout::Helm::Menu::Item @link="docs.guides.geospatial-functionality" @text="Geospatial functionality" selected={{begs-with (route-name) "docs.guides.geospatial-functionality"}} />
				<Layout::Helm::Menu::Item @link="docs.guides.data-triggers" @text="Setting up data triggers" selected={{begs-with (route-name) "docs.guides.data-triggers"}} />
				<Layout::Helm::Menu::Item @link="docs.guides.computed-views" @text="Using computed views" selected={{begs-with (route-name) "docs.guides.computed-views"}} />
				<Layout::Helm::Menu::Item @link="docs.guides.authenticating-users" @text="Authenticating users" selected={{begs-with (route-name) "docs.guides.authenticating-users"}} />
			</subs> --}}

			<Layout::Helm::Menu::Item @link="docs.faqs" @text="FAQs" selected={{begs-with (route-name) "docs.faqs"}} />

		</nav>
	</Layout::Helm::Menu>

	<Layout::Helm::Main>

		{{outlet}}

	</Layout::Helm::Main>

</Layout::Helm>