{{#in-element (document-head) insertBefore=null}}
	<title>Features | SurrealDB | The next generation serverless cloud database</title>
	<meta name="title" property="og:title" content="Features | The next generation serverless cloud database">
	<meta name="description" content="With an SQL-style query language, real-time queries with highly-efficient related data retrieval, advanced security permissions for multi-tenant access, and support for performant analytical workloads, SurrealDB is the next generation serverless database.">
	<meta name="image" property="og:image" content="/static/img/preview/main.jpg">
	<meta property="og:type" content="website">
{{/in-element}}

<content>
	<WalkThrough @side="r" @num="1" @img="/static/img/home/clients@2x.jpg" @title="DAM" @text="Gather in one place all the elements that your company uses -  for marketing, campaign management, public information, presentations, internal compliance documents, information notices and documents, and branding guidelines. Then enable easy access for identified people or organisations, and define use cases, while maintaining security and accountability." />
	<clear></clear>
</content>

<content>
	<features-entry page={{route-name}} >
		<div class="grid-container">
			<div class="item1">
				<img src="/static/img/home/tick.svg" alt="tick">
				<h1>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit
				</h1>
				<h2>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</h2>
			</div>
			<<div class="item2">
				<img src="/static/img/home/tick.svg" alt="tick">
				<h1>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit
				</h1>
				<h2>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</h2>
			</div>
			<div class="item3">
				<img src="/static/img/home/tick.svg" alt="tick">
				<h1>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit
				</h1>
				<h2>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</h2>
			</div>
		</div>
	</features-entry>
</content>

<content>
	<WalkThrough @side="l" @num="1" @img="/static/img/home/clients@2x.jpg" @title="Document creation" @text="Be creative with documentation - whether for campaigns, infographics, marketing, presentations, compliance information. Your designers can upload templates of branded items which identify sections for personalisation - with the house style adhered to automatically, whatever new text is entered." />
	<clear></clear>
</content>

<content>
	<features-entry page={{route-name}} >
		<div class="grid-container">
			<div class="item1">
				<img src="/static/img/home/tick.svg" alt="tick">
				<h1>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit
				</h1>
				<h2>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</h2>
			</div>
			<<div class="item2">
				<img src="/static/img/home/tick.svg" alt="tick">
				<h1>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit
				</h1>
				<h2>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</h2>
			</div>
			<div class="item3">
				<img src="/static/img/home/tick.svg" alt="tick">
				<h1>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit
				</h1>
				<h2>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</h2>
			</div>
		</div>
	</features-entry>
</content>

<content>
	<WalkThrough @side="r" @num="1" @img="/static/img/home/clients@2x.jpg" @title="Brand guidelines" @text="What are all the elements of your company’s brand: colours, logos, sizes, typography, symbols? How are these communicated to your design agency, or to clients? What happens with changes? How can third parties access the latest versions, or the correct size and type of file? All is now beautifully collated, in one place, with up-to-the-minute guidelines." />
	<clear></clear>
</content>

<content>
	<features-entry page={{route-name}} >
		<div class="grid-container">
			<div class="item1">
				<img src="/static/img/home/tick.svg" alt="tick">
				<h1>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit
				</h1>
				<h2>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</h2>
			</div>
			<<div class="item2">
				<img src="/static/img/home/tick.svg" alt="tick">
				<h1>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit
				</h1>
				<h2>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</h2>
			</div>
			<div class="item3">
				<img src="/static/img/home/tick.svg" alt="tick">
				<h1>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit
				</h1>
				<h2>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</h2>
			</div>
		</div>
	</features-entry>
</content>

<content>
	<WalkThrough @side="l" @num="1" @img="/static/img/home/clients@2x.jpg" @title="Versioning" @text="When you consult a document, a campaign plan, a presentation or a manual, you need to feel assured that you are following the latest, or correct, version. The system ensures that these are identified, and that former versions are archived for reference. Meanwhile, links made within the system to an item will automatically take you to the latest version." />
	<clear></clear>
</content>

<content>
	<features-entry page={{route-name}} >
		<div class="grid-container">
			<div class="item1">
				<img src="/static/img/home/tick.svg" alt="tick">
				<h1>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit
				</h1>
				<h2>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</h2>
			</div>
			<<div class="item2">
				<img src="/static/img/home/tick.svg" alt="tick">
				<h1>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit
				</h1>
				<h2>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</h2>
			</div>
			<div class="item3">
				<img src="/static/img/home/tick.svg" alt="tick">
				<h1>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit
				</h1>
				<h2>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</h2>
			</div>
		</div>
	</features-entry>
</content>

<content>

	<WalkThrough @side="r" @num="1" @img="/static/img/home/clients@2x.jpg" @title="Access and permissions" @text="Define who can see items in your portal, who can edit items, who can create items. Each item can have a different permitted access - so that users can be tasked for instance with creating certain items, then can be allowed to read others and edit one or two." />
	<clear></clear>

</content>

<content>
	<features-entry page={{route-name}} >
		<div class="grid-container">
			<div class="item1">
				<img src="/static/img/home/tick.svg" alt="tick">
				<h1>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit
				</h1>
				<h2>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</h2>
			</div>
			<<div class="item2">
				<img src="/static/img/home/tick.svg" alt="tick">
				<h1>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit
				</h1>
				<h2>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</h2>
			</div>
			<div class="item3">
				<img src="/static/img/home/tick.svg" alt="tick">
				<h1>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit
				</h1>
				<h2>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</h2>
			</div>
		</div>
	</features-entry>
</content>

<content>
	<WalkThrough @side="l" @num="1" @img="/static/img/home/clients@2x.jpg" @title="Real-time collaboration" @text="This is where significant time can be saved. Without lengthy messages, emails, notes in margins, telephone conversations, or communication software, you can get to the heart of the opinions of your collaborators instantly. The system streamlines collaboration directly on documents and other uploaded items, so that there’s no lack of clarity or time wasted." />
	<clear></clear>
</content>

<content>
	<features-entry page={{route-name}} >
		<div class="grid-container">
			<div class="item1">
				<img src="/static/img/home/tick.svg" alt="tick">
				<h1>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit
				</h1>
				<h2>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</h2>
			</div>
			<<div class="item2">
				<img src="/static/img/home/tick.svg" alt="tick">
				<h1>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit
				</h1>
				<h2>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</h2>
			</div>
			<div class="item3">
				<img src="/static/img/home/tick.svg" alt="tick">
				<h1>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit
				</h1>
				<h2>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</h2>
			</div>
		</div>
	</features-entry>
</content>

<content>
	<WalkThrough @side="r" @num="1" @img="/static/img/home/clients@2x.jpg" @title="Approval and sign-off" @text="Organise for named staff to approve specific documents or templates prepared by others, before they are able to appear in the portal, or before they are available for general release. If you wish, a specified person can be nominated to carry out an official sign-off even after formal approvals have been enacted." />
	<clear></clear>
</content>

<content>
	<features-entry page={{route-name}} >
		<div class="grid-container">
			<div class="item1">
				<img src="/static/img/home/tick.svg" alt="tick">
				<h1>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit
				</h1>
				<h2>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</h2>
			</div>
			<<div class="item2">
				<img src="/static/img/home/tick.svg" alt="tick">
				<h1>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit
				</h1>
				<h2>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</h2>
			</div>
			<div class="item3">
				<img src="/static/img/home/tick.svg" alt="tick">
				<h1>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit
				</h1>
				<h2>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</h2>
			</div>
		</div>
	</features-entry>
</content>

<content>
	<WalkThrough @side="l" @num="1" @img="/static/img/home/clients@2x.jpg" @title="Reporting and analysis" @text="This is where you can track and analyse who has accessed which items, ascertain which assets are most popular, and study the results of promotions. You will be able to customise your data reports to suit your business needs, and keep your finger on the pulse of a fast-paced and rapidly changing environment." />
	<clear></clear>
</content>

<content>
	<features-entry page={{route-name}} >
		<div class="grid-container">
			<div class="item1">
				<img src="/static/img/home/tick.svg" alt="tick">
				<h1>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit
				</h1>
				<h2>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</h2>
			</div>
			<<div class="item2">
				<img src="/static/img/home/tick.svg" alt="tick">
				<h1>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit
				</h1>
				<h2>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</h2>
			</div>
			<div class="item3">
				<img src="/static/img/home/tick.svg" alt="tick">
				<h1>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit
				</h1>
				<h2>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</h2>
			</div>
		</div>
	</features-entry>
</content>

<BookADemo></BookADemo>
