<Meta::Tags>
	<title>SurrealDB | Product releases | The ultimate serverless cloud database</title>
	<meta name="title" property="og:title" content="SurrealDB | Product releases">
	<meta name="description" content="Keep track of the notable updates, improvements, and bug fixes for every SurrealDB product release in chronological order.">
</Meta::Tags>

<Layout::Gap small />

<Layout::Text text-l>
	<h1>Releases</h1>
	<p>
		SurrealDB has been built from the ground up to be the ultimate database for developers who want to build tomorrow's applications.
		On this page you can view the release notes for the different versions of SurrealDB, and see some of the functionality currently being worked on for future releases.
	</p>
	<p>
		If you have an idea for SurrealDB, then we would love to hear from you.
	</p>
	<p>
		<Link @link="#dev">In development</Link>
		&bull;
		<Link @link="#v1-0-0-beta-1">Current release</Link>
	</p>
</Layout::Text>

<Layout::Gap small />

<Layout::Helm l-c>

	<Layout::Helm::Menu>
		<div>
			<a {{on "click" (scroll-to top=0 smooth=true)}}>
				<i class="fas fa-arrow-up"></i>
				<span>Back to top</span>
			</a>
		</div>
		<nav>
			{{#each this.model as |item|}}
				<Layout::Helm::Menu::Item @text={{item.link}} @link="#{{item.hash}}" selected={{is-waypoint item.hash}} />
			{{/each}}
		</nav>
	</Layout::Helm::Menu>

	<Layout::Helm::Main>

		{{#each this.model as |item idx|}}

			<section {{waypoint item.hash}}>

				{{#if (ne idx 0)}}
					<Layout::Gap small />
				{{/if}}

				<Layout::Text text-l>

					<h2>{{item.name}}</h2>

					{{#if item.time}}
						<p>
							{{#if (gt item.time (now))}}
								Planned {{date-format item.time "DD MMMM, YYYY"}}
							{{else}}
								{{date-format item.time "DD MMMM, YYYY"}}
							{{/if}}
						</p>
					{{/if}}

				</Layout::Text>

				<Layout::Gap mini />

				{{#if item.text}}

					<Layout::Text text-l>
						<ul>
							{{#each item.text as |item|}}
								{{#if item.text}}
									<li>
										{{#if (eq item.category "scripting")}}
											<Nudge::Scripting />
										{{/if}}
										{{#if (eq item.category "performance")}}
											<Nudge::Performance />
										{{/if}}
										{{markdown item.text inline=true}}
									</li>
								{{else}}
									<li>{{markdown item inline=true}}</li>
								{{/if}}
							{{/each}}
						</ul>
					</Layout::Text>

				{{/if}}

				{{#if item.data}}

					{{#each item.data as |sect idx|}}

						{{#if sect.name}}
							<Layout::Text text-l>
								<p>{{sect.name}}</p>
							</Layout::Text>
						{{/if}}

						<Layout::Text text-l>
							<ul>
								{{#each sect.text as |item|}}
									{{#if item.text}}
										<li>
											{{#if (eq item.category "scripting")}}
												<Nudge::Scripting />
											{{/if}}
											{{#if (eq item.category "performance")}}
												<Nudge::Performance />
											{{/if}}
											{{markdown item.text inline=true}}
										</li>
									{{else}}
										<li>{{markdown item inline=true}}</li>
									{{/if}}
								{{/each}}
							</ul>
						</Layout::Text>

						{{#if (ne idx item.text.length)}}
							<Layout::Gap tiny />
						{{/if}}

					{{/each}}

				{{/if}}

				{{#if item.path}}

					{{#if (is-component item.path)}}

						<Layout::Gap mini />

						{{#let (component item.path) as |component|}}
							<component />
						{{/let}}

					{{/if}}

				{{/if}}

				<Layout::Gap small />

			</section>

		{{/each}}

	</Layout::Helm::Main>

</Layout::Helm>