<testimony side={{@side}} num={{@num}} page={{route-name}} ...attributes>
	<div>
		<img src={{@img}} alt={{@title}}/>
	</div>
	<div>
		<img src={{@logo}} alt={{@logo}}/>
		<clear></clear>
		<h2>{{@text}}</h2>
		<box-button testimony>
			<LinkTo @route="customers">
				<span>Read their story</span>
			</LinkTo>
		</box-button>
	</div>
	<clear></clear>
</testimony>